* {
	box-sizing: border-box
}

html {
	height: 100%
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	color: #cdd6f4;
	background-color: #1e1e2e;
	margin: 0;
	font-family: sans-serif;
	accent-color: #74c7ec
}

header {
	display: flex;
	padding: 0 1em;
	align-items: center;
	justify-content: space-between;
	background-color: #11111b;
	padding: 12px 1em
}

input[type="radio"] {
	display: inline-block
}

label, select, textarea {
	display: block
}

*::-webkit-scrollbar {
	width: 0.5em;
	background-color: #11111b
}

*::-webkit-scrollbar-thumb {
	background-color: #74c7ec;
	border-radius: 25px;
}

.artwork-scroll-container::-webkit-scrollbar {
	height: 4px;
	background-color: transparent !important;
}

@media screen and (max-width: 750px) {
	header {
		justify-content: unset;
		align-items: unset;
		gap: 12px;
		flex-direction: column
	}

	footer {
		flex-direction: column;
		justify-content: unset !important;
		text-align: center;
		gap: 12px;
		padding: 12px 0 !important;
	}

	.navbar .actions .curruser span {
		display: block !important ;
	}

	.navbar .actions .userActions {
		top: 150px !important;
		right: unset !important;
	}

	.navbar input[type="text"] {
		width: 100% !important;
	}

}

a {
	text-decoration: none;
	color: #74c7ec
}

main {
	flex-grow: 1;
	padding: 1em;
	margin-bottom: 12px;
	display: flex;
	justify-content: center;
}

.content {
	max-width: 1200px;
	width: 100%;
}

input[type="text"] {
	border-color: #313244;
	background-color: #181825;
	font-size: 16px;
	padding: 4px 6px;
	color: #cdd6f4;
	border-style: solid;
	border-radius: 5px;
	height: 36px;
	font-family: sans-serif;
	width: 24em;
}

button {
	color: #11111b;
	background-color: #74c7ec;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding: 4px 12px;
	height: 32px;
	font-family: sans-serif;
	font-weight: bold;
}

footer {
	background-color: #181825;
	width: 100%;
	padding: 8px 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer .links {
	display: flex;
	gap: 1em;
}

hr {
	border: 1px solid;
	border-radius: 10px;
	border-color: #313244
}

.navbar input[type="text"] {
	height: 32px;
	border: none !important;
	width: 384px;
	border-radius: unset !important
}

.navbar .mainact {
	display: flex;
	gap: 1em;
	align-items: center;
}

.navbar .mainact a {
	color: #cdd6f4;
}

.navbar .branding {
	font-size: 24px;
	text-decoration: none;
	font-weight: 600;
	margin-right: 8px;
}

.navbar .actions {
	font-size: 18px;
	display: flex;
	gap: 6px;
}

.navbar .actions .curruser {
	color: #cdd6f4;
	display: flex;
	align-items: center;
	gap: 6px;
}

.navbar .actions .curruser span.name {
	display: none;
}

.navbar .actions .profileimg {
	aspect-ratio: 1/1;
	height: 32px;
	width: 32px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: #313244;
}

.navbar .actions .menuToggler {
	display: none
}

.navbar .actions .menu-label {
	display: flex;
	align-items: center;
	gap: 8px
}

.navbar .actions .userActions {
	display: none;
	position: absolute;
	top: 65px;
	right: 10px;
	background-color: #181825;
	border-radius: 5px;
	border: 2px solid;
	border-color: #585b70;
	z-index: 1
}

.navbar .actions .userActions .userActionsMain {
	display: flex;
	flex-direction: column;
	padding: 8px;
	gap: 6px
}

.navbar .actions .userActions .userActionsMain span {
	font-weight: bold;
}

.navbar .actions .menuToggler:checked ~ .userActions {
	display: block;
}

.container {
	width: 100%
}

.paginator {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 3em;
	margin: 16px 0
}

.paginator a,
.paginator span {
	font-size: 24px;
}

.artwork-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: space-evenly;
}

.artwork-scroll-container {
	width: 100%;
	display: flex;
	gap: 8px;
	overflow: hidden;
	overflow-x: scroll
}

.artwork-entry {
	min-width: 250px;
	max-width: 250px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 6px
}

.artwork-entry .title {
	width: 100%;
	overflow: hidden;
}

.artwork-entry .title a {
	white-space: nowrap;
	overflow: hidden;
	display: inline;
	text-overflow: ellipsis;
	max-width: 250px;
	color: #ccd6f4;
	font-size: 22px
}

.artwork-entry img {
	width: 250px;
	height: 250px;
	border-radius: 6px;
	background-color: #cdd6f4;
	object-fit: cover;
	object-position: top center
}

.artwork-entry .artwork-author a {
	display: flex;
	align-items: center;
	gap: 6px;
}

.artwork-entry .artwork-author img {
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background-color: #313224
}

.artwork-entry .artwork-image {
	position: relative
}

.artwork-entry .artwork-additional {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding: 8px 8px 8px
}

.artwork-entry .artwork-additional .metadata-chip {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 8px;
	background-color: rgba(0, 0, 0, 0.45);
	color: #fff;
	font-weight: bold;
	height: 32px;
	min-width: 32px;
	border-radius: 12px;
	margin-right: 6px;
	gap: 6px;
}

.artwork-entry .artwork-additional .metadata-icon {
	width: 18px;
	height: 18px;
	background-color: unset;
	border-radius: unset;
}

.illust-area {
	display: flex;
	flex-direction: column;
	gap: 6px;
	background-color: #181825;
	padding: 1em 2em;
	width: 100%;
}

.illust-area .illusts {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.illust-area .illust {
	display: flex;
	justify-content: center
}

.illust-area .illust img {
	max-height: 1000px;
	max-width: 100%
}

.illust-area .illust-title {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.illust-area .illust-title span {
	font-size: 24px
}

.illust-area .illust-author a {
	display: flex;
	align-items: center;
	gap: 6px;
}

.illust-area .illust-author img {
	aspect-ratio: 1/1;
	height: 24px;
	width: 24px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: #313244
}

.illust-area .illust-author span {
	font-size: 18px
}

.illust-area .illust-actions {
	display: flex;
	gap: 8px;
}

.illust-area .illust-actions a {
	display: flex;
	align-items: center;
	color: #cdd6f4;
	gap: 6px;
}

.illust-area .illust-actions span {
	font-size: 12px
}

.illust-area .illust-tags {
	display: flex;
	flex-wrap: wrap;
}

.illust-area .illust-metadata {
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
}

.illust-area .illust-metadata span {
	margin: 0 4px;
}

.illust-area .illust-tags .tag {
	margin: 0 6px;
	font-size: 14px;
}

.user-container {
	background-color: #181825;
	width: 100%;
	padding: 4px;
}

.user-container img.user-banner {
	width: 100%;
	max-height: 270px;
	object-fit: cover;
	object-position: center center;
}

.user-container .user-main,
.user-container .user-data {
	padding: 2em;
	display: flex;
}

.user-container .user-main .user-info {
	display: flex;
}

.user-container .user-main .user-info img.user-pfp {
	aspect-ratio: 1/1;
	height: 108px;
	width: 108px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: #313244;
	margin-right: 2em
}

.user-container .user-main .user-info .user-details {
	display: flex;
	flex-direction: column;
}

.user-container .user-main .user-info .user-name {
	font-size: 26px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.user-container .user-main .user-info .user-name .badge {
	margin-left: 8px;
}

.tag-meta {
	display: flex;
	background-color: #181825;
	width: 100%;
	min-height: 250px;
}

.tag-meta a.imglink {
	position: relative
}

.tag-meta img {
	height: 100%;
	width: 225px;
	object-fit: cover;
	object-position: center left;
	background-color: #313244;
	margin-right: 2em;
}

.tag-meta .grad {
	position: absolute;
	top: 0;
	width: 225px;
	height: 100%;
	background-image: linear-gradient(90deg, rgba(0,0,0,0), #181825)
}

.related-tags {
	width: 100%;
	display: flex;
	overflow: hidden;
	overflow-x: scroll;
	scrollbar-width: none;
	gap: 16px;
	align-items: center;
}

.related-tags .tag {
	display: flex;
	gap: 6px;
	align-items: center;
	flex-shrink: 0
}

.error-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.error-page #yanami {
	width: 384px;
	height: 384px;
}

