* {
	box-sizing: border-box
}

:root {
	scrollbar-color: var(--md-sys-color-tertiary) var(--md-sys-color-surface-container);
	scrollbar-width: thin;
}

body {
	flex-direction: column;
	color: var(--md-sys-color-on-surface);
	background-color: var(--md-sys-color-surface);
	margin: 0;
	font-family: system-ui;
	accent-color: var(--md-sys-color-primary);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--md-sys-color-surface-container);
	position: sticky;
	top: 0;
	z-index: 1;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 1em;
	padding-right: 1.5em;
}

header .navbar-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1600px;
}

header .main,
header .actions {
	display: flex;
	align-items: center;
}

header .main .icon-button {
	margin-right: 1em
}

header .main .branding {
	font-weight: bold;
	font-size: 22px;
	color: unset
}

header form {
	align-content: center;
}

header #searchbox input,
header #mobile-searchbox input {
	border: none;
	padding: 4px 1em;
	width: 384px;
	font-size: 14px;
	background-color: var(--md-sys-color-surface-container-high)
}

header #mobile-searchbox {
	display: none;
	width: 100%;
}

header #mobile-searchbox input {
	width: 100%;
	margin-top: 6px;
}

header .actions {
	display: flex;
	column-gap: 4px;
}


header .actions button.user-profile {
	border: unset;
	background-color: unset;
	padding: unset;
	display: flex;
	align-items: center;
	margin-left: 1em;
}

header .actions button.user-profile img {
	aspect-ratio: 1/1;
	height: 36px;
	width: 36px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: var(--md-sys-color-surface-dim);
}

header .actions a[title=Notifications] {
	position: relative
}

header .actions a[title=Notifications] .notification-indicator {
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	transform: translate(-4px, 4px);
	background-color: var(--md-sys-color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
}

header .actions a[title=Notifications] .notification-indicator span {
	font-size: 12px;
	color: var(--md-sys-color-on-primary)
}

input[type="radio"] {
	display: inline-block
}

label, select, textarea {
	display: block
}


.artwork-scroll-container {
	scrollbar-height: small
}

@media screen and (max-width: 750px) {

	header #searchbox {
		display: none;
	}

	header #mobile-searchbox {
		display: block;
	}

	header .actions #search {
		display: flex;
	}

	.settings {
		flex-direction: column;
	}

	.settings .side,
	.settings .content {
		flex: unset !important;
	}

	.dialog {
		min-width: unset !important;
		min-height: unset !important;
		max-height: unset !important;
		max-width: unset !important;
		width: 90%;
		height: 90%;
	}
	
	.dialog .stamps .stamp img {
		width: 72px;
		height: 72px;
	}

	form.inline-form {
		flex-direction: column;
		row-gap: 6px;
	}

	form.inline-form input {
		margin-right: unset !important;
		flex: unset !important;
		width: 100%;
	}

	form.inline-form button {
		width: 100%;
	}

	.settings .content form.inline-form input {
		margin-right: unset !important;
	}

	.settings .content form.inline-form > * {
		width: 100%;
		flex: unset !important;
	}

	.user-sc {
		flex-direction: column;
	}

	.user-sc .user-data {
		width: 100% !important;
	}

	.tag-meta {
		flex-direction: column;
	}

	.tag-meta .imglink img {
		width: 100%;
		height: 250px;
		object-position: top;
		border-radius: 24px 24px 16px 16px;
		margin-right: unset !important;
	}

	.tag-meta .tag-info {
		padding: 1em;
	}

	.tag-meta .tag-info > div {
		padding-right: unset !important
	}

	.illust-area {
		flex-direction: column;
	}

	.illust-area > div {
		width: 100% !important;
	}

	main > .content {
		padding: unset !important
	}
  
  .article-container .article-works {
    grid-template-columns: 1fr !important
  }

  .pv-article-spotlight {
    flex-direction: column;
  }

  .pv-article-spotlight h1 {
    font-size: 32px !important
  }

  .pv-article-spotlight img {
    margin-right: unset !important;
    width: 100% !important;
    margin-bottom: 1em;
  }
}

a {
	text-decoration: none;
	color: var(--md-sys-color-primary);
}

main {
	padding: 1em;
	margin: 12px 0;
	display: flex;
	justify-content: center;
}

main > .content {
	max-width: 1600px;
	width: 100%;
	padding: 0 1.5em;
}

input[type="text"],
input[type="password"],
textarea {
	border-width: 1px;
	border-color: var(--md-sys-color-outline);
	background-color: var(--md-sys-color-surface-container);
	font-size: 16px;
	padding: 4px 12px;
	color: var(--md-sys-color-secondary);
	border-style: solid;
	border-radius: 8px;
	height: 36px;
	font-family: system-ui;
	resize: none;
}

.toggle-switch {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toggle-switch input {
	appearance: none;
	cursor: pointer;
	min-width: 48px;
	height: 28px;
	background-color: var(--md-sys-color-outline-variant);
	border-radius: 14px;
	position: relative;
	border: 3px solid transparent
}

.toggle-switch input::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid transparent;
	width: 18px;
	height: 18px;
	background-color: var(--md-sys-color-outline);
	border-radius: 12px;
	transition: .15s ease
}

.toggle-switch input:disabled {
	opacity: 0.4
}

.toggle-switch input:checked {
	background-color: var(--md-sys-color-primary)
}

.toggle-switch input:checked::after {
	left: 48%;
	background-color: var(--md-sys-color-on-primary)
}

button.button {
	color: var(--md-sys-color-on-primary);
	background-color: var(--md-sys-color-primary);
	font-size: 16px;
	border-radius: 16px;
	border: none;
	padding: 4px 18px;
	height: 32px;
	font-family: system-ui;
}

button.button.danger {
	color: var(--md-sys-color-on-error);
	background-color: var(--md-sys-color-error);
}

a.button {
	display: inline-block;
	color: var(--md-sys-color-on-primary);
	background-color: var(--md-sys-color-primary);
	font-size: 16px;
	border-radius: 16px;
	border: none;
	padding: 4px 24px;
	height: 32px;
	line-height: 1.5;
	cursor: pointer;
}

a.button.danger {
	color: var(--md-sys-color-on-error);
	background-color: var(--md-sys-color-error);
}

a.button.neutral {
	color: var(--md-sys-color-on-surface);
	background-color: var(--md-sys-color-outline)
}

button.icon-button {
	border: none;
	background-color: unset;
	padding: 8px;
	color: var(--md-sys-color-inverse-surface);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 100ms;
}

a.icon-button {
	padding: 8px;
	color: var(--md-sys-color-inverse-surface);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 100ms;
}

button.icon-button:hover,
a.icon-button:hover {
	background-color: var(--md-sys-color-surface-dim)
}

button.icon-button svg,
a.icon-button svg {
	fill: currentColor
}

hr {
	border: 1px solid;
	border-radius: 10px;
	border-color: var(--md-sys-color-outline-variant)
}

.container {
	width: 100%
}

.centered {
	display: flex;
	justify-content: center;
}

.paginator {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 3em;
	margin: 16px 0
}

.paginator a,
.paginator span {
	font-size: 24px;
}

.artwork-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: space-evenly;
}

.artwork-scroll-container {
	width: 100%;
	display: flex;
	gap: 14px;
	overflow: hidden;
	overflow-x: scroll;
	margin: 4px;
	padding: 8px;
}

.artwork-entry {
	min-width: 175px;
	max-width: 175px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 6px
}

.artwork-entry .title {
	width: 100%;
	overflow: hidden;
}

.artwork-entry .title a {
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	max-width: 175px;
	color: unset;
	font-size: 16px;
	font-weight: bold;
}

.artwork-entry img.img-main {
	width: 175px;
	height: 175px;
	border-radius: 16px;
	background-color: var(--md-sys-color-surface-dim);
	border: 1px solid var(--md-sys-color-outline);
	object-fit: cover;
	object-position: top center
}

.artwork-entry .artwork-author a {
	display: flex;
	align-items: center;
	gap: 6px;
}

.artwork-entry .artwork-author img {
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background-color: var(--md-sys-color-surface-dim)
}

.artwork-entry .artwork-image {
	position: relative
}

.artwork-entry .artwork-additional {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding: 6px 6px 6px;
	pointer-events: none;
}

.artwork-entry .artwork-additional .metadata-chip {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 8px;
	background-color: rgba(0, 0, 0, 0.45);
	color: #fff;
	height: 24px;
	min-width: 24px;
	border-radius: 14px;
	margin-right: 6px;
	gap: 6px;
	backdrop-filter: blur(4px)
}

.artwork-entry .artwork-additional .metadata-chip span {
	font-size: 12px;
}

.artwork-entry .artwork-additional .metadata-icon {
	width: 14px;
	height: 14px;
	background-color: unset;
	border-radius: unset;
}

.recommended-user {
	background-color: var(--md-sys-color-surface-container);
	min-width: 600px;
	text-decoration: none;
	border-radius: 32px;
	display: flex;
	padding: 1.5em;
	color: var(--md-sys-color-on-surface-container);
	align-items: flex-start;
}

.recommended-user a.profile {
	flex-shrink: 0;
}

.recommended-user a.profile img {
	aspect-ratio: 1/1;
	height: 96px;
	width: 96px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: var(--md-sys-color-surface-dim);
	margin-right: 1em
}

.recommended-user .details {
	width: 100%;
}

.recommended-user .details > a.name {
	color: unset
}

.recommended-user .details > a.name h2 {
	margin: 8px 0;
}

.recommended-user .details > p {
	color: var(--md-sys-color-outline);
	font-size: 12px;
}

.illust-area {
	display: flex;
	column-gap: 1em;
	position: relative;
	margin-bottom: 96px;
	align-items: flex-start;
}

.illust-area .illust-main,
.illust-area .illust-info {
	padding: 1em;
	border-radius: 24px;
}

.illust-area .illust-main {
	width: 60%;
	background-color: var(--md-sys-color-surface-container-high);
}

.illust-area .illust-info {
	width: 40%;
}

.illust-area .illust-main .illusts {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.illust-area .illust-main .illusts img,
.illust-area .illust-main .illusts video {
	width: 100%;
	border-radius: 26px;
	padding: 12px;
}

.illust-area .illust-info h1 {
	margin: 1em 0;
}

.illust-area .illust-info .description {
	word-wrap: anywhere;
	word-break: break-word;
	margin-bottom: 24px;
}

.illust-area .illust-info div.taglist span {
	display: inline-block;
	margin-right: 8px;
	font-size: 12px;
	color: var(--md-sys-color-outline)
}

.illust-area .illust-info div.taglist span a {
	font-weight: bold;
}

.illust-area .illust-info .actions {
	display: flex;
	flex-wrap: wrap;
	padding: unset;
}

.illust-area .actions li {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 8px;
}

.illust-area .actions li a {
	color: var(--md-sys-color-outline)
}

.illust-area .actions li svg {
	fill: var(--md-sys-color-secondary);
	margin-right: 8px;
}

.illust-area .illust-info .user-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1em 0;
}

.illust-area .illust-info .user-info .user {
	display: flex;
	align-items: center;
}

.illust-area .illust-info .user-info .user span {
	font-size: 24px;
}

.illust-area .illust-info .user-info a {
	font-size: 14px;
	font-weight: bold;
}

.illust-area .illust-info .user-info .user img {
	aspect-ratio: 1/1;
	height: 32px;
	width: 32px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: var(--md-sys-color-surface-dim);
	margin-right: 1em;
	transform: translateY(1px)
}

.user-container {
	background-color: var(--md-sys-color-surface-container-high);
	border: 1px solid var(--md-sys-color-outline-variant)
	width: 100%;
	border-radius: 24px;
}

.user-container img.user-banner {
	width: 100%;
	min-height: 200px;
	max-height: 200px;
	object-fit: cover;
	object-position: center center;
	background-color: var(--md-sys-color-surface-dim);
	border-radius: 24px 24px 12px 12px;
}

.user-container .user-data {
	padding: 1em;
}

.user-container .user-main .user-info {
	padding: 2em;
	display: flex;
}

.user-container .user-main .user-info img.user-pfp {
	aspect-ratio: 1/1;
	height: 108px;
	width: 108px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: var(--md-sys-color-surface-dim);
	margin-right: 2em
}

.user-container .user-main .user-info .user-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start
}

.user-container .user-main .user-info .user-name {
	font-size: 26px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.user-container .user-main .user-info .user-name svg {
	margin-left: 8px;
	fill: var(--md-sys-color-tertiary)
}

.user-container .user-main .user-info .user-details .user-stats a {
	color: unset;
}

.tag-main {
	position: relative;
}

.tag-main .backdrop-img {
	position: absolute;
	object-fit: cover;
	object-position: center;
	border-radius: 24px;
	z-index: -1;
	background-color: var(--md-sys-color-surface-container);
	width: 100%;
	height: 100%;
}

.tag-meta {
	display: flex;
	background-color: var(--container-backdrop);
	backdrop-filter: blur(2rem);
	width: 100%;
	min-height: 250px;
	border-radius: 24px;
	border: 1px solid var(--md-sys-color-outline-variant)
}

.tag-meta a.imglink {
	position: relative
}

.tag-meta img {
	height: 100%;
	width: 350px;
	object-fit: cover;
	object-position: center;
	background-color: var(--md-sys-color-surface-dim);
	margin-right: 2em;
	border-radius: 24px 16px 16px 24px;
}

.tag-meta .tag-info > div {
	padding-right: 2em
}

.tag-meta .tag-info div p {
	word-wrap: anywhere;
	word-break: break-word
}

.related-tags {
	width: 100%;
	display: flex;
	overflow: hidden;
	overflow-x: scroll;
	scrollbar-width: none;
	align-items: center;
}

.related-tags .tag {
	display: flex;
	gap: 6px;
	margin-right: 16px;
	align-items: center;
	flex-shrink: 0
}

.related-tags .tag i {
	padding-top: 3px;
}

.error-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.error-page #yanami {
	width: 384px;
	height: 384px;
}

.settings {
	display: flex;
	gap: 1em;
}

.settings .side {
	flex: 30%;
	display: flex;
	row-gap: 6px;
	flex-direction: column;
}

.settings .side a {
	display: flex;
	width: 100%;
	padding: 12px 1em;
	font-weight: bold;
	align-items: center;
	color: var(--md-sys-color-on-surface);
	border-radius: 32px;
	font-size: 14px;
	transition: 125ms ease
}

.settings .side a:hover {
	background-color: var(--md-sys-color-surface-dim)
}

.settings .side a.selected {
	background-color: var(--md-sys-color-primary);
	color: var(--md-sys-color-on-primary) !important
}

.settings .side a.selected > svg {
	fill: currentColor !important;
}

.settings .side a > svg {
	margin-right: 12px;
	transform: translateY(-1px);
	fill: var(--md-sys-color-secondary);
}

.settings .content {
	flex: 70%;
	background-color: var(--md-sys-color-surface-container-high);
	border-radius: 36px;
	padding: 1em 2em;
}

form.inline-form {
	width: 100%;
	display: flex;
	align-items: center;
}

form.inline-form input {
	flex: 100%;
	margin-right: 12px;
	border-radius: 18px;
}

form.inline-form button {
	flex-shrink: 0
}

.settings .content .current-user-account {
	margin-bottom: 1em;
	display: flex;
}

.settings .content .current-user-account img {
	aspect-ratio: 1/1;
	height: 128px;
	width: 128px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: var(--md-sys-color-surface-dim);
	margin-right: 16px;
	flex-shrink: 0;
	border: 1px solid var(--md-sys-color-tertiary)
}

.settings .content .current-user-account .user-info {
	flex: 100%;
}

.settings .content .current-user-account .user-info h2 {
	margin: 8px 0;
	font-weight: unset;
}

.settings .content .current-user-account .user-info small {
	color: var(--md-sys-color-outline);
}

.messages {
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-bottom: 2em
}

.message {
	border-radius: 16px;
	padding: 0.5em 1.5em;
	display: flex;
	align-items: center;
	color: var(--md-sys-color-on-secondary);
	background-color: var(--md-sys-color-secondary);
}

.message.error {
	background-color: var(--md-sys-color-error);
	color: var(--md-sys-color-on-error);

}

.message > svg {
	fill: currentColor;
	margin-right: 6px;
	transform: translateY(-1px);
	flex-shrink: 0
}

.comments {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	padding: 1em;
}

.comments .comment {
	display: flex
}

.comments .comment .comment-main p img {
	width: 20px;
	height: 20px;
	transform: translateY(3.5px)
}

.comments .comment .author-profile-pic,
.comment-entry .author-profile-pic,
.notification .icon {
	aspect-ratio: 1/1;
	height: 44px;
	width: 44px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: var(--md-sys-color-surface-container-high);
	margin-right: 16px;
}

.comments .comment .author-name a {
	color: unset
}

.comments .comment .stamp {
	border-radius: 16px;
}

.comments .comment .comment-main span {
	font-weight: bold;
}

.comments .comment .comment-main {
	padding: 1em;
	background-color: var(--md-sys-color-surface-container-high);
	border-radius: 0 16px 16px 16px;
	width: 460px;
}

.comments .comment .comment-main p {
	word-break: break-word;
	color: var(--md-sys-color-on-surface)
}

.comment-entry {
	display: flex;
}

.comment-entry form {
	flex: 100%;
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.comment-entry textarea {
	border-radius: 22px;
	border: none !important;
	padding: 8px 1em;
	flex: 100%;
}

.comment-entry button[type=submit] {
	width: 38px;
	height: 36px;
	border-radius: 20px;
	padding: unset !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0
}

.notifications {
	display: flex;
	row-gap: 1em;
	flex-direction: column;
}

.notifications .notification {
	display: flex;
	align-items: center;
	width: 100%;
}

.notifications .notification span {
	font-weight: bold;
}

.notifications .notification .unread-indicator {
	background-color: var(--md-sys-color-primary);
	flex-shrink: 0;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-right: 1em;
}

.notifications .notification .notification-content {
	flex: 100%;
}

.notifications .notification img.icon {
	margin-right: 1em;
}

.notifications .notification svg {
	fill: var(--md-sys-color-surface-dim);
	margin-right: 1em;
	flex-shrink: 0
}

.notifications .notification small {
	color: var(--md-sys-color-outline);	
	margin-top: 8px;
}

.backdrop {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;
}

.backdrop[data-visible] {
	display: block;
}

#main-menu .main,
#account-menu .main {
	height: 100%;
	width: 300px;
	background-color: var(--md-sys-color-surface-container);
	transition: 100ms ease;
	padding: 1em;
}

#main-menu .main {
	transform: translateX(-100%);
	border-radius: 0 24px 24px 0;
}

#account-menu .main {
	position: fixed;
	right: 0;
	transform: translateX(100%);
	border-radius: 24px 0 0 24px;
}

#main-menu .main[data-visible],
#account-menu .main[data-visible] {
	transform: translateX(0)
}

#main-menu .main .act,
#account-menu .main .act {
	display: flex;
	align-items: center;
}

#account-menu .main .act {
	justify-content: space-between;
	margin-bottom: 1em;
}

#account-menu .main .act .user-info {
	display: flex;
	align-items: center;
	flex: 100%
}

#account-menu .main .act .user-info .profile-pic {
	aspect-ratio: 1/1;
	height: 34px;
	width: 34px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: var(--md-sys-color-surface-dim);
	margin-right: 0.5em;
}

#account-menu .main .act .user-info span {
	font-weight: bold
}

#main-menu .main .act h2 {
	margin-left: 0.5em;
	margin-right: 0.5em
}

#main-menu .main .act small {
	color: var(--md-sys-color-outline)
}

#main-menu .main nav {
	padding: 1em;
	display: flex;
	row-gap: 1em;
	flex-direction: column;
}

#account-menu .main nav {
	display: flex;
	row-gap: 1em;
	flex-direction: column;
}

#main-menu .main nav > a,
#account-menu .main nav > a {
	display: flex;
	align-items: center;
	font-size: 16px;
	color: unset;
}

#main-menu .main nav > a > svg,
#account-menu .main nav > a > svg {
	margin-right: 1em;
	fill: var(--md-sys-color-secondary);
	transform: translateY(-1px)
}

.backdrop .dialog-helper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dialog {
	padding: 1em;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	background-color: var(--md-sys-color-surface-container);
	min-width: 500px;
	min-height: 250px;
	max-height: 90%;
	max-width: 50%;
	overflow: hidden;
}

.dialog .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dialog .title span {
	font-weight: bold;
	font-size: 20px;
}

.dialog .dialog-content {
	overflow: unset;
	overflow-y: auto;
	padding: 4px;
}

.dialog .dialog-content::-webkit-scrollbar {
	background-color: transparent !important
	width: 0.2em !important
} 

.dialog .emojis,
.dialog .stamps .stamp-series {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
}

.dialog .emojis .emoji-button {
	background-color: unset;
	border: none;
	padding: 6px;
	cursor: pointer;
}

.dialog .emojis .emoji-button img {
	width: 24px;
	height: 24px;
}

.dialog .stamps .stamp-series {
	justify-content: center;
}

.dialog .stamps .stamp {
	background-color: unset;
	border: none;
	padding: 6px;
	cursor: pointer;
}

.dialog .stamps .stamp img {
	border-radius: 8px;
}

.pv-article-spotlight {
  display: flex;
  min-height: 300px;
}

.pv-article-spotlight a {
  color: unset;
}

.pv-article-spotlight h1 {
  margin: 4px 0;
  font-size: 48px;
}

.pv-article-spotlight img {
  margin-right: 3em;
  border-radius: 28px;
  width: 500px;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.pv-articles {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.pv-articles .pv-article img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.pv-articles .pv-article h2 {
  margin: 4px 0;
}

.pv-articles .pv-article h2 a {
  color: unset;
}

.pv-articles-sm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.pv-articles-sm .pv-article img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.pv-articles-sm .pv-article h4 {
  margin: 4px 0;
}

.pv-articles-sm .pv-article h4 a {
  color: unset;
}


.article-container {
	padding: 1em 2em;
}

.article-container .article-main-img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 24px;
	margin: 3em 0
}

.article-container .article-works {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.article-container .article-works .work .author {
  display: flex;
}

.article-container .article-works .work .author img {
	aspect-ratio: 1/1;
	height: 48px;
	width: 48px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: var(--md-sys-color-surface-dim);
	margin-right: 16px;
	flex-shrink: 0;
  margin-right: 1em;
}

.article-container .article-works .work .author .info a {
  font-weight: bold;
  color: unset;
}

.article-container .article-works .work > a > img {
  width: 100%;
  object-fit: cover;
  border-radius: 32px;
  margin-top: 1em;
}

.article-container .article-works .work .author .info h4 {
  margin: 2px 0;
}

ul.tab-navigation {
	display: flex;
	padding: unset;
}

ul.tab-navigation li {
	list-style: none;
}

ul.tab-navigation li a {
	color: var(--md-sys-color-inverse-surface);
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	padding: 16px 12px;
}

ul.tab-navigation li.active a {
	color: unset;
	border-top: 4px solid var(--md-sys-color-primary)
}

.featured-work {
	display: flex;
	min-width: 600px;
	padding: 1em;
}

.featured-work img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	object-position: center center;
	background-color: var(--md-sys-color-surface-dim);
	border-radius: 16px;
	margin-right: 1em;
	flex-shrink: 0
}

.featured-work .featured-info {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 1em;
}

.featured-work .featured-info .description {
	word-wrap: anywhere;
	word-break: break-word;
}

.user-sc {
	display: flex
}

.user-sc .user-data {
	flex-shrink: 0;
	width: 450px;
	padding: 1em;
	display: flex;
}

.user-sc .user-data img {
	aspect-ratio: 1/1;
	height: 128px;
	width: 128px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
	background-color: var(--md-sys-color-surface-dim);
	margin-right: 16px;
	flex-shrink: 0
}

.user-sc .user-data .user-info a {
	color: unset
}

.user-sc .user-data .user-info h3 {
	margin: 8px 0
}

.user-sc .user-data .user-info p {
	color: var(--md-sys-color-on-surface)
}


@media (prefers-color-scheme: dark) {
:root {
  --container-backdrop: rgb(35, 30, 35, 80%);
  --color-accept-commissions: #b1d18a;
  --md-sys-color-primary: rgb(229 182 242);
  --md-sys-color-surface-tint: rgb(229 182 242);
  --md-sys-color-on-primary: rgb(69 33 83);
  --md-sys-color-primary-container: rgb(93 56 107);
  --md-sys-color-on-primary-container: rgb(248 216 255);
  --md-sys-color-secondary: rgb(213 192 215);
  --md-sys-color-on-secondary: rgb(57 44 61);
  --md-sys-color-secondary-container: rgb(81 66 84);
  --md-sys-color-on-secondary-container: rgb(241 220 243);
  --md-sys-color-tertiary: rgb(245 183 180);
  --md-sys-color-on-tertiary: rgb(76 37 36);
  --md-sys-color-tertiary-container: rgb(102 59 57);
  --md-sys-color-on-tertiary-container: rgb(255 218 216);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(22 18 23);
  --md-sys-color-on-background: rgb(233 224 231);
  --md-sys-color-surface: rgb(22 18 23);
  --md-sys-color-on-surface: rgb(233 224 231);
  --md-sys-color-surface-variant: rgb(76 68 77);
  --md-sys-color-on-surface-variant: rgb(206 195 205);
  --md-sys-color-outline: rgb(152 142 151);
  --md-sys-color-outline-variant: rgb(76 68 77);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(233 224 231);
  --md-sys-color-inverse-on-surface: rgb(52 47 52);
  --md-sys-color-inverse-primary: rgb(118 80 132);
  --md-sys-color-primary-fixed: rgb(248 216 255);
  --md-sys-color-on-primary-fixed: rgb(46 10 60);
  --md-sys-color-primary-fixed-dim: rgb(229 182 242);
  --md-sys-color-on-primary-fixed-variant: rgb(93 56 107);
  --md-sys-color-secondary-fixed: rgb(241 220 243);
  --md-sys-color-on-secondary-fixed: rgb(35 23 40);
  --md-sys-color-secondary-fixed-dim: rgb(213 192 215);
  --md-sys-color-on-secondary-fixed-variant: rgb(81 66 84);
  --md-sys-color-tertiary-fixed: rgb(255 218 216);
  --md-sys-color-on-tertiary-fixed: rgb(51 17 16);
  --md-sys-color-tertiary-fixed-dim: rgb(245 183 180);
  --md-sys-color-on-tertiary-fixed-variant: rgb(102 59 57);
  --md-sys-color-surface-dim: rgb(22 18 23);
  --md-sys-color-surface-bright: rgb(61 55 61);
  --md-sys-color-surface-container-lowest: rgb(17 13 18);
  --md-sys-color-surface-container-low: rgb(31 26 31);
  --md-sys-color-surface-container: rgb(35 30 35);
  --md-sys-color-surface-container-high: rgb(45 40 46);
  --md-sys-color-surface-container-highest: rgb(56 51 57);
}
}

@media (prefers-color-scheme: light) {
:root {
  --container-backdrop: rgb(245, 235, 242, 80%);
  --color-accept-commissions: #4c662b;
  --md-sys-color-primary: rgb(118 80 132);
  --md-sys-color-surface-tint: rgb(118 80 132);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(248 216 255);
  --md-sys-color-on-primary-container: rgb(46 10 60);
  --md-sys-color-secondary: rgb(105 89 109);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(241 220 243);
  --md-sys-color-on-secondary-container: rgb(35 23 40);
  --md-sys-color-tertiary: rgb(129 82 79);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 218 216);
  --md-sys-color-on-tertiary-container: rgb(51 17 16);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(255 247 251);
  --md-sys-color-on-background: rgb(31 26 31);
  --md-sys-color-surface: rgb(255 247 251);
  --md-sys-color-on-surface: rgb(31 26 31);
  --md-sys-color-surface-variant: rgb(235 223 233);
  --md-sys-color-on-surface-variant: rgb(76 68 77);
  --md-sys-color-outline: rgb(125 116 125);
  --md-sys-color-outline-variant: rgb(206 195 205);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(52 47 52);
  --md-sys-color-inverse-on-surface: rgb(248 238 245);
  --md-sys-color-inverse-primary: rgb(229 182 242);
  --md-sys-color-primary-fixed: rgb(248 216 255);
  --md-sys-color-on-primary-fixed: rgb(46 10 60);
  --md-sys-color-primary-fixed-dim: rgb(229 182 242);
  --md-sys-color-on-primary-fixed-variant: rgb(93 56 107);
  --md-sys-color-secondary-fixed: rgb(241 220 243);
  --md-sys-color-on-secondary-fixed: rgb(35 23 40);
  --md-sys-color-secondary-fixed-dim: rgb(213 192 215);
  --md-sys-color-on-secondary-fixed-variant: rgb(81 66 84);
  --md-sys-color-tertiary-fixed: rgb(255 218 216);
  --md-sys-color-on-tertiary-fixed: rgb(51 17 16);
  --md-sys-color-tertiary-fixed-dim: rgb(245 183 180);
  --md-sys-color-on-tertiary-fixed-variant: rgb(102 59 57);
  --md-sys-color-surface-dim: rgb(225 215 223);
  --md-sys-color-surface-bright: rgb(255 247 251);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(251 241 248);
  --md-sys-color-surface-container: rgb(245 235 242);
  --md-sys-color-surface-container-high: rgb(239 229 237);
  --md-sys-color-surface-container-highest: rgb(233 224 231);
}
}

.component-header {
	display: flex;
	align-items: center;
	justify-content: space-between
}
