@mixin profile-picture($size) {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: var(--md-sys-color-surface-dim)
}

@mixin textbox {
  border-width: 1px;
  border-color: var(--md-sys-color-outline);
  background-color: var(--md-sys-color-surface-container);
  font-size: 16px;
  padding: 4px 12px;
  color: var(--md-sys-color-secondary);
  border-style: solid;
  border-radius: 8px;
  height: 36px;
  font-family: system-ui;
  margin: 4px 0
}


%button {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
  font-size: 16px;
  border-radius: 16px;
  border: none;
  padding: 4px 18px;
  height: 32px;
  font-family: system-ui;
}

.noscript-alert {
  width: 100%;
  padding: 8px 1em;
  background-color: var(--md-sys-color-error);
  color: var(--md-sys-color-on-error);
  display: flex;
  align-items: center;

  svg {
    margin-right: 8px;
    fill: currentColor
  }
}

button.button {
  @extend %button;

  &.danger {
    color: var(--md-sys-color-on-error);
    background-color: var(--md-sys-color-error);
  }

  &.neutral {
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-outline)
  }
}

a.button {
  @extend %button;
  line-height: 1.5;
  cursor: pointer;
  display: inline-block;

  &.danger {
    color: var(--md-sys-color-on-error);
    background-color: var(--md-sys-color-error);
  }

  &.neutral {
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-outline)
  }
}

* {
  box-sizing: border-box
}

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    appearance: none;
    cursor: pointer;
    min-width: 48px;
    height: 28px;
    background-color: var(--md-sys-color-outline-variant);
    border-radius: 14px;
    position: relative;
    border: 3px solid transparent;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid transparent;
      width: 18px;
      height: 18px;
      background-color: var(--md-sys-color-outline);
      border-radius: 12px;
      transition: .15s ease
    }

    &:disabled {
      opacity: 0.4;
    }

    &:checked {
      background-color: var(--md-sys-color-primary)
    }

    &:checked::after {
      left: 20px;
      background-color: var(--md-sys-color-on-primary)
    }
  }
}

:root {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--md-sys-color-tertiary) var(--md-sys-color-surface-container)
}

.notice-icon {
  width: 96px;
  height: 96px;
  fill: currentColor;
  color: var(--md-sys-color-on-surface)
}

body {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
  margin: 0;
  font-family: system-ui;
  accent-color: var(--md-sys-color-primary);
}

a {
  text-decoration: none;
  color: var(--md-sys-color-primary)
}

input[type=text],
input[type=password],
input[type=number],
input[type=date] {
  @include textbox;
}

textarea {
  @include textbox;
  resize: none;
  overflow: hidden;
}

label,
textarea {
  display: block
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  border-radius: 16px;
  padding: 1.5em;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container);
  border: 1px solid var(--md-sys-color-outline-variant);
  font-size: 14px;
}

code {
  border-radius: 4px;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container);
  border: 1px solid var(--md-sys-color-outline-variant);
  padding: 4px;
}

input[type=radio],
select {
  display: inline-block
}

select {
  background-color: var(--md-sys-color-surface-container-high);
  border: none;
  border-radius: 8px;
  padding: 8px 1em;
  color: var(--md-sys-color-on-surface);
}

%icon-button-common {
  padding: 8px;
  color: var(--md-sys-color-inverse-surface);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 100ms
}

a.icon-button {
  @extend %icon-button-common;
}

button.icon-button {
  @extend %icon-button-common;
  background-color: unset;
  border: none
}

a.icon-button,
button.icon-button {
  &:hover {
    background-color: var(--md-sys-color-surface-dim)
  }

  svg {
    fill: currentColor;
  }
}

hr {
  border: 1px solid;
  border-radius: 10px;
  border-color: var(--md-sys-color-outline-variant);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--md-sys-color-surface-container);
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 12px 1em;

  form {
    display: flex;
    align-items: center;
  }

  #searchbox,
  #mobile-searchbox {
    input {
      border: none;
      padding: 4px 1em;
      width: 420px;
      font-size: 14px;
      background-color: var(--md-sys-color-surface-container-highest)
    }
  }

  #mobile-searchbox {
    display: none;
    width: 100%;
    margin-top: 6px;

    input {
      width: 100%
    }
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
  }

  .main,
  .actions {
    display: flex;
    align-items: center;
  }

  .main {
    .icon-button {
      margin-right: 1em;
    }

    .branding {
      font-weight: bold;
      font-size: 22px;
      color: unset;
    }
  }

  .actions {
    display: flex;
    column-gap: 4px;

    button.user-profile {
      border: unset;
      background-color: unset;
      padding: unset;
      display: flex;
      align-items: center;
      margin-left: 1em;

      img {
        @include profile-picture(36px)
      }
    }

    a[title=Notifications] {
      position: relative;

      .notification-indicator {
        position: absolute;
        top: 0;
        right: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        transform: translate(-4px, 4px);
        background-color: var(--md-sys-color-primary);
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 12px;
          color: var(--md-sys-color-on-primary)
        }
      }
    }
  }
}

form.inline {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  >div:not(.centered) {
    display: flex;
    align-items: center;
    background-color: var(--md-sys-color-surface-container);
    padding: 1em;
    border-radius: 16px;

    &.space-between {
      justify-content: space-between;
    }

    &.column {
      flex-direction: column;
    }

    .toggle-switch {
      width: 100%;
    }

    select {
      width: 30%
    }

    .radio-opts {
      display: flex;
      column-gap: 1em;
    }

    input[type=text],
    textarea {
      width: 100%;
      border: none;
    }

    textarea {
      resize: vertical
    }
  }
}

form.inline-form {
  width: 100%;
  display: flex;
  align-items: center;

  input {
    flex: 100%;
    margin-right: 12px;
    border-radius: 18px;
  }

  button {
    flex-shrink: 0
  }
}

.component-header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

main {
  padding: 1em;
  margin: 12px 0;

  >.content {
    max-width: 1150px;
    width: 100%;
    margin: auto;
    padding: 0 1.5em;
  }
}

.paginator {
  width: 100%;
  text-align: center;
  margin-top: 2.5em;

  a,
  span {
    font-size: 24px
  }

  span {
    margin: 0 2em;
  }
}

.centered {
  display: flex;
  justify-content: center;
}

.artwork-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-evenly;
}

.artwork-scroll-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  margin: 4px;
  padding: 8px;
  column-gap: 1em;

  .feature-card {
    flex-shrink: 0
  }
}

.feature-card {
  &.popular-tag {
    .container {
      width: 200px;
    }
  }
}

.feature-card {
  a {
    color: white;
  }

  .container {
    height: 300px;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--md-sys-color-surface-container);
    transition: .4s ease;

    &:hover {
      border-radius: 36px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .4s ease;

      &:hover {
        transform: scale(115%);
      }
    }

    .info {
      pointer-events: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30%;
      padding: 1em;
      background: linear-gradient(transparent, #222222);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      h3 {
        margin: unset;
        margin-bottom: 6px;
      }

      h3:only-child() {
        margin: unset;
      }
    }
  }
}

.artwork-entry {
  $max: 175px;
  max-width: $max;
  min-width: $max;
  display: flex;
  flex-direction: column;
  gap: 6px;

  .title {
    overflow: hidden;
    width: 100%;

    a {
      white-space: nowrap;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      max-width: $max;
      color: unset;
      font-size: 16px;
      font-weight: bold;
    }
  }

  img.img-main {
    width: $max;
    height: $max;
    border-radius: 16px;
    background-color: var(--md-sys-color-surface-dim);
    border: 1px solid var(--md-sys-color-outline);
    object-fit: cover;
    object-position: top center;
  }

  .artwork-author {
    a {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    img {
      @include profile-picture(18px);
    }
  }

  .artwork-image {
    position: relative
  }

  .blur-handler {
    background-color: var(--md-sys-color-surface-container);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 175px;
    border-radius: 16px;

    svg {
      fill: var(--md-sys-color-on-surface)
    }
  }

  .artwork-additional {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 6px 6px 6px;
    pointer-events: none;

    .metadata-chip {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 8px;
      background-color: rgba(0, 0, 0, 0.45);
      color: #fff;
      height: 24px;
      min-width: 24px;
      border-radius: 16px;
      margin-right: 6px;
      gap: 6px;
      backdrop-filter: blur(4px);

      span {
        font-size: 12px;
      }
    }

    .metadata-icon {
      width: 14px;
      height: 14px;
      background-color: unset;
      border-radius: unset;
    }
  }
}

.recommended-user {
  background-color: var(--md-sys-color-surface-container);
  min-width: 600px;
  text-decoration: none;
  border-radius: 32px;
  display: flex;
  padding: 1.5em;
  align-items: flex-start;

  a.profile {
    flex-shrink: 0;

    img {
      @include profile-picture(96px);
      margin-right: 1em;
    }
  }

  .details {
    width: 100%;

    >a.name {
      color: unset;

      h2 {
        margin: 8px 0;
      }
    }

    >p {
      color: var(--md-sys-color-outline);
      font-size: 12px;
    }
  }
}

.illust-area {
  display: flex;
  column-gap: 1em;
  position: relative;
  margin-bottom: 72px;
  align-items: flex-start
}

div.taglist {
  span {
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
    color: var(--md-sys-color-outline);

    a {
      font-weight: bold;
    }
  }

  &.scroll {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 1em;

    >* {
      flex-shrink: 0
    }
  }
}


.choice-toggle {
  a {
    padding: 12px 18px;
    color: unset;
    display: inline-block;
    border-radius: 999999px;
    width: 96px;
    text-align: center;
    font-weight: bold;

    &.active {
      background-color: var(--md-sys-color-surface-container)
    }
  }
}

.illust-area {

  .illust-main,
  .illust-info {
    padding: 16px;
    border-radius: 48px;
  }

  .illust-main {
    width: 60%;
    background-color: var(--md-sys-color-surface-container);

    .illusts {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      row-gap: 12px;

      video {
        border-radius: 36px;
      }

      a {
        img {
          width: 100%;
          border-radius: 12px;
        }

        &:first-child {
          img {
            border-radius: 36px 36px 12px 12px;
          }
        }

        &:last-child {
          img {
            border-radius: 12px 12px 36px 36px;
          }
        }

        &:only-child {
          img {
            border-radius: 36px;
          }
        }
      }
    }
  }

  .illust-info {
    width: 40%;
    position: sticky;
    top: 0;

    h1 {
      margin: 24px 0;
      font-size: 54px;
    }

    .description {
      word-wrap: anywhere;
      word-break: break-word;
      margin-bottom: 24px;
    }

    .user-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1em 0;

      .user {
        display: flex;
        align-items: center;

        span {
          font-size: 18px;
        }

        img {
          @include profile-picture(32px);
          margin-right: 1em;
          transform: translateY(1px)
        }
      }

      a {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .actions {

    display: flex;
    flex-wrap: wrap;
    padding: unset;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 8px;

      a {
        color: var(--md-sys-color-outline)
      }

      svg {
        fill: var(--md-sys-color-secondary);
        margin-right: 8px;
      }
    }
  }
}

.user-container {

  padding: 1em;

  img.user-banner {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;

    background-color: var(--md-sys-color-surface-dim);
    border-radius: 32px;
  }

  .user-main {
    padding: 1em 0;

    .user-info {
      display: flex;

      img.user-pfp {
        @include profile-picture(128px);
        margin-right: 2em;
      }

      .user-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .user-name {
          font-size: 36px;
          display: flex;
          align-items: center;

          svg {
            margin-left: 8px;
            fill: var(--md-sys-color-tertiary);
          }
        }

        .socials {
          margin: 1em 0;
          display: flex;
          column-gap: 8px;
          align-items: center;

          svg {
            fill: var(--md-sys-color-secondary);
            width: 24px;
            height: 24px;
          }
        }

        .user-stats a {
          color: unset;
        }
      }
    }
  }
}

.tag-main {
  position: relative;

  .backdrop-img {
    position: absolute;
    object-fit: cover;
    border-radius: 24px;
    z-index: -1;
    background-color: var(--md-sys-color-surface-container);
    width: 100%;
    height: 100%;
  }

  .tag-meta {
    display: flex;
    width: 100%;
    min-height: 300px;
    border-radius: 24px;

    img {
      height: 100%;
      width: 350px;
      object-fit: cover;
      background-color: var(--md-sys-color-surface-dim);
      margin-right: 2em;
      border-radius: 24px 16px 16px 24px;

      .tag-info div {
        padding-right: 2em;

        p {
          word-wrap: anywhere;
          word-break: break-word
        }
      }
    }
  }
}

.related-tags {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  align-items: center;

  .tag {
    display: flex;
    gap: 6px;
    margin-right: 16px;
    align-items: center;
    flex-shrink: 0;

    i {
      padding-top: 3px;
    }
  }
}

.error-page {
  width: 100%;
  margin: 1.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #yanami {
    width: 256px;
    height: 256px;
    fill: var(--md-sys-color-on-surface);
    margin-bottom: 1em;
  }

  h1 {
    margin: 6px 0;
  }

  details {
    width: 100%;
  }
}

.settings {
  display: flex;
  column-gap: 2em;

  .side {
    flex: 30%;
    display: flex;
    row-gap: 6px;
    flex-direction: column;

    a {
      display: flex;
      width: 100%;
      padding: 12px 1em;
      font-weight: bold;
      align-items: center;
      color: var(--md-sys-color-on-surface);
      border-radius: 32px;
      font-size: 14px;
      transition: 125ms ease;

      &:hover {
        background-color: var(--md-sys-color-surface-dim)
      }

      &.selected {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-on-primary) !important;

        >svg {
          fill: currentColor !important;
        }
      }

      >svg {
        margin-right: 12px;
        transform: translateY(-1px);
        fill: var(--md-sys-color-secondary);
      }
    }
  }

  .content {
    flex: 70%;
    background-color: var(--md-sys-color-surface-container-high);
    border-radius: 36px;
    padding: 1em 2em;

    .current-user-account {
      display: flex;

      img {
        @include profile-picture(128px);
        flex-shrink: 0;
        margin-right: 1em;
      }

      .user-info {
        h2 {
          margin: 8px 0;
        }

        small {
          color: var(--md-sys-color-outline);
        }
      }
    }

    pre.user-account-token>span {
      filter: blur(12px);

      &:hover {
        filter: unset !important
      }
    }
  }
}

.messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 2em;

  .message {
    border-radius: 16px;
    padding: 0.5em 1.5em;
    display: flex;
    align-items: center;
    color: var(--md-sys-color-on-secondary);
    background-color: var(--md-sys-color-secondary);

    &.error {
      background-color: var(--md-sys-color-error);
      color: var(--md-sys-color-on-error);
    }

    >svg {
      fill: currentColor;
      margin-right: 6px;
      transform: translateY(-1px);
      flex-shrink: 0;
    }
  }
}

.comments {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em;

  .comment {
    display: flex;
    align-items: flex-start;

    .comment-main {
      padding: 1em;
      background-color: var(--md-sys-color-surface-container-high);
      border-radius: 16px;
      width: 460px;

      p {
        word-break: break-word;
        color: var(--md-sys-color-on-surface);

        img {
          margin: 0 2px;
          transform: translateY(5px);
          width: 24px;
          height: 24px;
        }
      }
    }

    .stamp {
      border-radius: 16px;
      display: block;
    }

    .author-name {
      a {
        color: unset;
      }
    }

    .author-profile-pic {
      @include profile-picture(44px);
      margin-right: 16px;
    }
  }
}

.comment-entry {
  display: flex;

  form {
    flex: 100%;
    display: flex;
    align-items: center;
    column-gap: 8px;

    textarea {
      border-radius: 22px;
      border: none !important;
      padding: 8px 1em;
      flex: 100%;
      height: 100%;
    }

    button[type=submit] {
      width: 38px;
      height: 36px;
      border-radius: 20px;
      padding: unset !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }

  .author-profile-pic {
    @include profile-picture(44px);
    margin-right: 1em;
  }
}

.notifications {
  display: flex;
  row-gap: 1em;
  flex-direction: column;

  .notification {
    display: flex;
    align-items: center;
    width: 100%;

    a {
      display: block;
      color: unset;
    }

    span {
      font-weight: bold;
    }

    .unread-indicator {
      background-color: var(--md-sys-color-primary);
      flex-shrink: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 1em;
    }

    .notification-content {
      flex: 100%;
    }

    img.icon {
      @include profile-picture(44px);
      margin-right: 1em;
    }

    svg {
      fill: var(--md-sys-color-surface-container-highest);
      margin-right: 1em;
    }

    small {
      color: var(--md-sys-color-outline);
      margin-top: 8px;
    }
  }
}

#main-menu .main,
#account-menu .main {
  height: 100%;
  width: 300px;
  background-color: var(--md-sys-color-surface-container);
  transition: 250ms cubic-bezier(0, .96, .42, .97);
  padding: 1em;

  &[data-visible] {
    transform: translateX(0)
  }

  .act {
    display: flex;
    align-items: center;
  }

  nav {
    padding: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    >a {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: unset;

      >svg {
        margin-right: 1em;
        fill: var(--md-sys-color-secondary);
      }
    }
  }
}

#main-menu .main {
  transform: translateX(-100%);
  border-radius: 0 24px 24px 0;

  .act {
    h2 {
      margin: 0 0.5em;
    }

    small {
      color: var(--md-sys-color-outline)
    }

  }
}

#account-menu .main {
  position: fixed;
  right: 0;
  transform: translateX(100%);
  border-radius: 24px 0 0 24px;

  .act {
    justify-content: space-between;
    margin-bottom: 1em;

    .user-info {
      display: flex;
      align-items: center;
      flex: 100%;

      .profile-pic {
        @include profile-picture(34px);
        margin-right: 0.5em;
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 15;

  &[data-visible] {
    display: block
  }

  .dialog-helper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .dialog {
      padding: 1em;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      background-color: var(--md-sys-color-surface-container);
      min-width: 500px;
      min-height: 250px;
      max-height: 90%;
      max-width: 50%;
      overflow: hidden;
      position: relative;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: 20px;
        }
      }

      .dialog-content {
        overflow: unset;
        overflow-y: auto;
        padding: 4px;

        .emojis,
        .stamps .stamp-series {
          display: flex;
          gap: 4px;
          flex-wrap: wrap;
        }

        .emojis {
          .emoji-button {
            background-color: unset;
            border: unset;
            padding: 6px;
            cursor: pointer;

            img {
              width: 24px;
              height: 24px;
            }
          }
        }

        .stamps {
          .stamp-series {
            justify-content: center;
          }

          .stamp {
            background-color: unset;
            border: unset;
            padding: 6px;
            cursor: pointer;

            img {
              border-radius: 8px
            }
          }
        }
      }
    }
  }
}

.pv-article-spotlight {
  display: flex;
  min-height: 300px;
  padding: 1em;

  a {
    color: unset;
  }

  h1 {
    margin: 4px 0;
    font-size: 48px;
  }

  img {
    border-radius: 28px;
    margin-right: 2em;
    width: 500px;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }

  small {
    color: var(--md-sys-color-outline)
  }
}

.pv-articles {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  .pv-article {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 24px;
    }

    h2 {
      margin: 4px 0;

      a {
        color: unset;
      }
    }
  }
}

.pv-articles-sm {
  display: flex;
  justify-content: space-between;
  gap: 1em;

  .pv-article {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
    }

    h4 {
      margin: 4px 0;

      a {
        color: unset;
      }
    }
  }
}

.article-container {

  padding: 1em 2em;

  h1 {
    font-size: 3.5em;
    margin: 12px 0;
  }

  .article-main-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 32px;
    margin: 3em 0;
  }

  .article-works {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    .work {
      .author {
        display: flex;

        img {
          @include profile-picture(48px);
          flex-shrink: 0;
          margin-right: 1em;
        }

        .info {
          a {
            color: unset;
            font-weight: bold;
          }

          h4 {
            margin: 2px 0
          }
        }
      }

      >a>img {
        width: 100%;
        object-fit: cover;
        border-radius: 32px;
        margin-top: 1em;
      }
    }
  }
}

ul.tab-navigation {
  display: flex;
  padding: unset;
  flex-wrap: wrap;

  li {
    list-style: none;

    a {
      color: var(--md-sys-color-inverse-surface);
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
      padding: 16px 12px;
    }

    &.active a {
      color: unset;
      border-top: 4px solid var(--md-sys-color-primary);
    }
  }
}

.featured-work {
  display: flex;
  min-width: 600px;
  padding: 1em;

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-color: var(--md-sys-color-surface-dim);
    border-radius: 16px;
    margin-right: 1em;
    flex-shrink: 0;
  }

  .featured-info {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;

    .description {
      word-wrap: anywhere;
      word-break: break-word;
    }
  }
}

.user-sc {
  display: flex;

  .user-data {
    flex-shrink: 0;
    width: 450px;
    padding: 1em;
    display: flex;

    img {
      @include profile-picture(128px);
      margin-right: 1em;
      flex-shrink: 0
    }
  }

  .user-info {
    a {
      color: unset;
    }

    h3 {
      margin: 8px 0
    }

    p {
      color: var(--md-sys-color-on-surface);
      word-break: break-word;
      word-wrap: anywhere;
    }
  }
}

div#ranking-calendar {
  padding: 1.5em;
  border-radius: 24px;
  background-color: var(--md-sys-color-surface-container);

  nav {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  div.calendar {
    display: grid;
    margin-top: 4em;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 128px;
    gap: 8px;

    >div {
      border-radius: 8px;
      background-color: var(--md-sys-color-surface-container-low);
      overflow: hidden;
      position: relative;

      div.main {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      div.props {
        position: absolute;
        top: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        padding: 8px;

        span {
          font-weight: bold;
          color: white;
          text-shadow: rgba(0, 0, 0, 0.85) 0 0 2px;
        }

        .day {
          float: left;
        }

        .date {
          float: right
        }
      }

      &.active {
        background-color: var(--md-sys-color-surface-container-high);
      }
    }
  }
}

.bar {
  height: 6px;
  width: 100%;
  border-radius: 999999px;
  overflow: hidden;
  background-color: var(--md-sys-color-surface-container-low);


  .progress {
    overflow: hidden;
    background-color: var(--md-sys-color-tertiary);
    height: 100%;
    border-radius: 999999px;
    transition: 150ms ease;
    width: 0px;


    .anim {
      background: linear-gradient(90deg, transparent, #dddddd, transparent);
      width: 80%;
      height: 100%;
      animation: .97s ease infinite load
    }
  }
}

@keyframes load {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(125%)
  }
}

#ugoira-converter {
  display: flex;
  align-items: flex-start;
  column-gap: 2em;

  .console {
    min-height: 12em;
    max-height: 12em;
    overflow-y: auto;
  }

  video {
    width: 50%;
    max-height: 450px;
    border-radius: 24px;
    background-color: var(--md-sys-color-surface-container);
    border: 2px solid var(--md-sys-color-outline-variant)
  }

  .options {
    flex-shrink: 0;
    width: 50%;
  }
}

#news {
  padding: 1em;

  h1 {
    font-size: 3.5em;
    margin: 6px 0;
  }

  small {
    color: var(--md-sys-color-outline);

    &.navigation {
      color: revert
    }
  }

  img {
    border-radius: 24px;
    margin: 1em 0;
    width: 65%;
  }

  iframe {
    border-radius: 24px;
    width: 100%;
    background-color: var(--md-sys-color-surface-container-high);
  }

  >div {
    margin-bottom: 1em;
  }
}

.news-category {
  padding: 2em;
  border-radius: 24px;
  margin-bottom: 1em;
  background-color: var(--md-sys-color-surface-container);

  h2 {
    margin: unset;
    margin-bottom: 1em;
  }

  .entries {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 1em;

    .entry {
      a {
        display: block;
        color: unset;
        font-size: 18px;
        font-weight: bold;
      }

      small {
        color: var(--md-sys-color-outline)
      }
    }
  }
}

@media screen and (max-width: 750px) {

  #news {
    h1 {
      font-size: revert
    }

    img {
      width: 100%;
    }
  }

  .artwork-scroll-container>.feature-card:not(.popular-tag) {
    width: 100% !important
  }

  header {
    #searchbox {
      display: none
    }

    #mobile-searchbox {
      display: flex;
    }

    .actions #search {
      display: flex;
    }
  }

  #ugoira-converter {
    flex-direction: column;
    row-gap: 2em;

    video,
    .options {
      width: 100% !important;
    }
  }

  .settings {
    flex-direction: column;

    .side,
    .content {
      flex: unset !important;
    }

    .content {
      form.inline-form {
        input {
          margin-right: unset !important
        }

        ;

        >* {
          width: 100%;
          flex: unset !important
        }
      }
    }
  }

  .dialog {
    $unset: unset !important;
    min-width: $unset;
    min-height: $unset;
    max-width: $unset;
    max-height: $unset;
    width: 90%;
    height: 90%;

    .stamps .stamp img {
      width: 72px;
      height: 72px;
    }
  }

  .user-sc {
    flex-direction: column;

    .user-data {
      width: 100% !important
    }
  }

  .tag-meta {
    flex-direction: column;

    .imglink img {
      width: 100%;
      height: 250px;
      object-position: top;
      border-radius: 24px 24px 16px 16px;
      margin-right: unset !important
    }

    .tag-info {
      padding: 1em;

      >div {
        padding-right: unset !important;
      }
    }
  }

  .illust-area {
    flex-direction: column;

    >div {
      width: 100% !important;
    }
  }

  main>.content {
    padding: unset !important;
  }

  .article-container .article-works {
    grid-template-columns: 1fr !important
  }

  .pv-articles {
    grid-template-columns: 1fr !important;
  }

  .pv-article-spotlight {
    flex-direction: column;

    h1 {
      font-size: 32px !important
    }

    img {
      margin-right: unset !important;
      width: 100% !important;
      margin-bottom: 1em;
    }
  }

  form.inline-form {
    flex-direction: column;
    row-gap: 6px;

    input {
      margin-right: unset !important;
      flex: unset !important;
      width: 100%;
    }

    button {
      width: 100%;
    }
  }

  .user-container .user-main .user-info {
    flex-direction: column;
    align-items: center;

    .user-pfp {
      margin-right: unset !important;
      margin-bottom: 1em;
    }

    .user-details {
      align-items: center;
    }
  }
}
