{% extends "layouts/default.html" %}
{% block title %}{{ _("pixiv News") }}{% endblock %}

{% block content %}
{% set cat = request.args.get("cid") %}
{% if cat | int == 0 %}
{% set categoryName = _("Older News") %}
{% elif cat | int == 1 %}
{% set categoryName = _("News") %}
{% elif cat | int == 2 %}
{% set categoryName = _("Official Events") %}
{% elif cat | int == 3 %}
{% set categoryName = _("New Features") %}
{% elif cat | int == 4 %}
{% set categoryName = _("System Maintenance") %}
{% elif cat | int == 5 %}
{% set categoryName = _("Unused Category") %}
{% elif cat | int == 6 %}
{% set categoryName = _("Features to be updated (deprecated)") %}
{% elif cat | int == 7 %}
{% set categoryName = _("Deprecated Category") %}
{% endif %}

<small><a href="/news">{{ _("pixiv News") }}</a> &gt; {{ categoryName }}</small>
<br>
<br>

<div class="news-category">
  <h2>{{ categoryName }}</h2>
  <div class="entries">
    {% for entry in data %}
    <div class="entry">
      <a href="{{entry.id}}">{{ entry.title }}</a>
      <small> {{ entry.date | dateformat }} </small>
    </div>
    {% else %}
    <span>{{ _("Nothing to show!") }}</span>
    {% endfor %}
  </div>
</div>
{% endblock content %}
