:root {
  --md-sys-color-background: #F8FBF1FF;
  --md-sys-color-on-background: #191D17FF;
  --md-sys-color-surface: #F8FBF1FF;
  --md-sys-color-surface-dim: #D8DBD2FF;
  --md-sys-color-surface-bright: #F8FBF1FF;
  --md-sys-color-surface-container-lowest: #FFFFFFFF;
  --md-sys-color-surface-container-low: #F2F5EBFF;
  --md-sys-color-surface-container: #ECEFE5FF;
  --md-sys-color-surface-container-high: #E6E9E0FF;
  --md-sys-color-surface-container-highest: #E1E4DAFF;
  --md-sys-color-on-surface: #191D17FF;
  --md-sys-color-surface-variant: #DFE4D7FF;
  --md-sys-color-on-surface-variant: #43483FFF;
  --md-sys-color-inverse-surface: #2E322BFF;
  --md-sys-color-inverse-on-surface: #EFF2E8FF;
  --md-sys-color-outline: #70766CFF;
  --md-sys-color-outline-variant: #C3C8BCFF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #406836FF;
  --md-sys-color-primary: #406836FF;
  --md-sys-color-on-primary: #FFFFFFFF;
  --md-sys-color-primary-container: #C0EFB0FF;
  --md-sys-color-on-primary-container: #285020FF;
  --md-sys-color-inverse-primary: #A5D395FF;
  --md-sys-color-secondary: #54634DFF;
  --md-sys-color-on-secondary: #FFFFFFFF;
  --md-sys-color-secondary-container: #D7E8CDFF;
  --md-sys-color-on-secondary-container: #3C4B37FF;
  --md-sys-color-tertiary: #4F7C7FFF;
  --md-sys-color-on-tertiary: #FFFFFFFF;
  --md-sys-color-tertiary-container: #4F7C7FFF;
  --md-sys-color-on-tertiary-container: #FFFFFFFF;
  --md-sys-color-error: #BA1A1AFF;
  --md-sys-color-on-error: #FFFFFFFF;
  --md-sys-color-error-container: #FFDAD6FF;
  --md-sys-color-on-error-container: #93000AFF;
  --md-sys-color-primary-fixed: #C0EFB0FF;
  --md-sys-color-primary-fixed-dim: #A5D395FF;
  --md-sys-color-on-primary-fixed: #002200FF;
  --md-sys-color-on-primary-fixed-variant: #285020FF;
  --md-sys-color-secondary-fixed: #D7E8CDFF;
  --md-sys-color-secondary-fixed-dim: #BBCBB2FF;
  --md-sys-color-on-secondary-fixed: #121F0EFF;
  --md-sys-color-on-secondary-fixed-variant: #3C4B37FF;
  --md-sys-color-tertiary-fixed: #BCEBEEFF;
  --md-sys-color-tertiary-fixed-dim: #A0CFD2FF;
  --md-sys-color-on-tertiary-fixed: #002022FF;
  --md-sys-color-on-tertiary-fixed-variant: #1E4D50FF;
}

@media (prefers-color-scheme: dark) {
:root {
  --md-sys-color-background: #11140FFF;
  --md-sys-color-on-background: #E1E4DAFF;
  --md-sys-color-surface: #11140FFF;
  --md-sys-color-surface-dim: #11140FFF;
  --md-sys-color-surface-bright: #363A34FF;
  --md-sys-color-surface-container-lowest: #0C0F0AFF;
  --md-sys-color-surface-container-low: #191D17FF;
  --md-sys-color-surface-container: #1D211BFF;
  --md-sys-color-surface-container-high: #272B25FF;
  --md-sys-color-surface-container-highest: #32362FFF;
  --md-sys-color-on-surface: #E1E4DAFF;
  --md-sys-color-surface-variant: #43483FFF;
  --md-sys-color-on-surface-variant: #C3C8BCFF;
  --md-sys-color-inverse-surface: #E1E4DAFF;
  --md-sys-color-inverse-on-surface: #2E322BFF;
  --md-sys-color-outline: #8D9387FF;
  --md-sys-color-outline-variant: #43483FFF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #A5D395FF;
  --md-sys-color-primary: #A5D395FF;
  --md-sys-color-on-primary: #11380BFF;
  --md-sys-color-primary-container: #285020FF;
  --md-sys-color-on-primary-container: #C0EFB0FF;
  --md-sys-color-inverse-primary: #406836FF;
  --md-sys-color-secondary: #BBCBB2FF;
  --md-sys-color-on-secondary: #263422FF;
  --md-sys-color-secondary-container: #3C4B37FF;
  --md-sys-color-on-secondary-container: #D7E8CDFF;
  --md-sys-color-tertiary: #A0CFD2FF;
  --md-sys-color-on-tertiary: #003739FF;
  --md-sys-color-tertiary-container: #6B989BFF;
  --md-sys-color-on-tertiary-container: #000000FF;
  --md-sys-color-error: #FFB4ABFF;
  --md-sys-color-on-error: #690005FF;
  --md-sys-color-error-container: #93000AFF;
  --md-sys-color-on-error-container: #FFDAD6FF;
  --md-sys-color-primary-fixed: #C0EFB0FF;
  --md-sys-color-primary-fixed-dim: #A5D395FF;
  --md-sys-color-on-primary-fixed: #002200FF;
  --md-sys-color-on-primary-fixed-variant: #285020FF;
  --md-sys-color-secondary-fixed: #D7E8CDFF;
  --md-sys-color-secondary-fixed-dim: #BBCBB2FF;
  --md-sys-color-on-secondary-fixed: #121F0EFF;
  --md-sys-color-on-secondary-fixed-variant: #3C4B37FF;
  --md-sys-color-tertiary-fixed: #BCEBEEFF;
  --md-sys-color-tertiary-fixed-dim: #A0CFD2FF;
  --md-sys-color-on-tertiary-fixed: #002022FF;
  --md-sys-color-on-tertiary-fixed-variant: #1E4D50FF;
}
}

