:root {
  --md-sys-color-background: #F9F9F9FF;
  --md-sys-color-on-background: #1B1B1BFF;
  --md-sys-color-surface: #F9F9F9FF;
  --md-sys-color-surface-dim: #DADADAFF;
  --md-sys-color-surface-bright: #F9F9F9FF;
  --md-sys-color-surface-container-lowest: #FFFFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3FF;
  --md-sys-color-surface-container: #EEEEEEFF;
  --md-sys-color-surface-container-high: #E8E8E8FF;
  --md-sys-color-surface-container-highest: #E2E2E2FF;
  --md-sys-color-on-surface: #1B1B1BFF;
  --md-sys-color-surface-variant: #E2E2E2FF;
  --md-sys-color-on-surface-variant: #474747FF;
  --md-sys-color-inverse-surface: #303030FF;
  --md-sys-color-inverse-on-surface: #F1F1F1FF;
  --md-sys-color-outline: #747474FF;
  --md-sys-color-outline-variant: #C6C6C6FF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #5E5E5EFF;
  --md-sys-color-primary: #5F5F5FFF;
  --md-sys-color-on-primary: #FFFFFFFF;
  --md-sys-color-primary-container: #D4D4D4FF;
  --md-sys-color-on-primary-container: #000000FF;
  --md-sys-color-inverse-primary: #C6C6C6FF;
  --md-sys-color-secondary: #5E5E5EFF;
  --md-sys-color-on-secondary: #FFFFFFFF;
  --md-sys-color-secondary-container: #D4D4D4FF;
  --md-sys-color-on-secondary-container: #1B1B1BFF;
  --md-sys-color-tertiary: #3B3B3BFF;
  --md-sys-color-on-tertiary: #E2E2E2FF;
  --md-sys-color-tertiary-container: #E2E2E2FF;
  --md-sys-color-on-tertiary-container: #474747FF;
  --md-sys-color-error: #BA1A1AFF;
  --md-sys-color-on-error: #FFFFFFFF;
  --md-sys-color-error-container: #FFDAD6FF;
  --md-sys-color-on-error-container: #410002FF;
  --md-sys-color-primary-fixed: #5E5E5EFF;
  --md-sys-color-primary-fixed-dim: #474747FF;
  --md-sys-color-on-primary-fixed: #000000FF;
  --md-sys-color-on-primary-fixed-variant: #E2E2E2FF;
  --md-sys-color-secondary-fixed: #C6C6C6FF;
  --md-sys-color-secondary-fixed-dim: #ABABABFF;
  --md-sys-color-on-secondary-fixed: #1B1B1BFF;
  --md-sys-color-on-secondary-fixed-variant: #3B3B3BFF;
  --md-sys-color-tertiary-fixed: #5E5E5EFF;
  --md-sys-color-tertiary-fixed-dim: #474747FF;
  --md-sys-color-on-tertiary-fixed: #000000FF;
  --md-sys-color-on-tertiary-fixed-variant: #E2E2E2FF;
}

@media (prefers-color-scheme: dark) {
:root {
  --md-sys-color-background: #131313FF;
  --md-sys-color-on-background: #E2E2E2FF;
  --md-sys-color-surface: #131313FF;
  --md-sys-color-surface-dim: #131313FF;
  --md-sys-color-surface-bright: #393939FF;
  --md-sys-color-surface-container-lowest: #0E0E0EFF;
  --md-sys-color-surface-container-low: #1B1B1BFF;
  --md-sys-color-surface-container: #1F1F1FFF;
  --md-sys-color-surface-container-high: #2A2A2AFF;
  --md-sys-color-surface-container-highest: #353535FF;
  --md-sys-color-on-surface: #E2E2E2FF;
  --md-sys-color-surface-variant: #474747FF;
  --md-sys-color-on-surface-variant: #C6C6C6FF;
  --md-sys-color-inverse-surface: #E2E2E2FF;
  --md-sys-color-inverse-on-surface: #303030FF;
  --md-sys-color-outline: #919191FF;
  --md-sys-color-outline-variant: #474747FF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #C6C6C6FF;
  --md-sys-color-primary: #FFFFFFFF;
  --md-sys-color-on-primary: #1B1B1BFF;
  --md-sys-color-primary-container: #D4D4D4FF;
  --md-sys-color-on-primary-container: #000000FF;
  --md-sys-color-inverse-primary: #5E5E5EFF;
  --md-sys-color-secondary: #C6C6C6FF;
  --md-sys-color-on-secondary: #1B1B1BFF;
  --md-sys-color-secondary-container: #474747FF;
  --md-sys-color-on-secondary-container: #E2E2E2FF;
  --md-sys-color-tertiary: #E2E2E2FF;
  --md-sys-color-on-tertiary: #1B1B1BFF;
  --md-sys-color-tertiary-container: #474747FF;
  --md-sys-color-on-tertiary-container: #E2E2E2FF;
  --md-sys-color-error: #FFB4ABFF;
  --md-sys-color-on-error: #690005FF;
  --md-sys-color-error-container: #93000AFF;
  --md-sys-color-on-error-container: #FFDAD6FF;
  --md-sys-color-primary-fixed: #5E5E5EFF;
  --md-sys-color-primary-fixed-dim: #474747FF;
  --md-sys-color-on-primary-fixed: #000000FF;
  --md-sys-color-on-primary-fixed-variant: #E2E2E2FF;
  --md-sys-color-secondary-fixed: #C6C6C6FF;
  --md-sys-color-secondary-fixed-dim: #ABABABFF;
  --md-sys-color-on-secondary-fixed: #1B1B1BFF;
  --md-sys-color-on-secondary-fixed-variant: #3B3B3BFF;
  --md-sys-color-tertiary-fixed: #5E5E5EFF;
  --md-sys-color-tertiary-fixed-dim: #474747FF;
  --md-sys-color-on-tertiary-fixed: #000000FF;
  --md-sys-color-on-tertiary-fixed-variant: #E2E2E2FF;
}
}

