:root {
  --md-sys-color-background: #FFF8F9FF;
  --md-sys-color-on-background: #201A1DFF;
  --md-sys-color-surface: #FFF8F9FF;
  --md-sys-color-surface-dim: #E4D7DCFF;
  --md-sys-color-surface-bright: #FFF8F9FF;
  --md-sys-color-surface-container-lowest: #FFFFFFFF;
  --md-sys-color-surface-container-low: #FEF0F5FF;
  --md-sys-color-surface-container: #F8EAF0FF;
  --md-sys-color-surface-container-high: #F2E5EAFF;
  --md-sys-color-surface-container-highest: #EDDFE4FF;
  --md-sys-color-on-surface: #201A1DFF;
  --md-sys-color-surface-variant: #EFDEE6FF;
  --md-sys-color-on-surface-variant: #4F444AFF;
  --md-sys-color-inverse-surface: #362E32FF;
  --md-sys-color-inverse-on-surface: #FBEDF3FF;
  --md-sys-color-outline: #7E7178FF;
  --md-sys-color-outline-variant: #D3C2CAFF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #844C72FF;
  --md-sys-color-primary: #844C72FF;
  --md-sys-color-on-primary: #FFFFFFFF;
  --md-sys-color-primary-container: #FFD8EEFF;
  --md-sys-color-on-primary-container: #69345AFF;
  --md-sys-color-inverse-primary: #F7B1DEFF;
  --md-sys-color-secondary: #705766FF;
  --md-sys-color-on-secondary: #FFFFFFFF;
  --md-sys-color-secondary-container: #F7D7E8FF;
  --md-sys-color-on-secondary-container: #57404EFF;
  --md-sys-color-tertiary: #9A6954FF;
  --md-sys-color-on-tertiary: #FFFFFFFF;
  --md-sys-color-tertiary-container: #9A6954FF;
  --md-sys-color-on-tertiary-container: #FFFFFFFF;
  --md-sys-color-error: #BA1A1AFF;
  --md-sys-color-on-error: #FFFFFFFF;
  --md-sys-color-error-container: #FFDAD6FF;
  --md-sys-color-on-error-container: #93000AFF;
  --md-sys-color-primary-fixed: #FFD8EEFF;
  --md-sys-color-primary-fixed-dim: #F7B1DEFF;
  --md-sys-color-on-primary-fixed: #36072CFF;
  --md-sys-color-on-primary-fixed-variant: #69345AFF;
  --md-sys-color-secondary-fixed: #FADAEBFF;
  --md-sys-color-secondary-fixed-dim: #DDBECFFF;
  --md-sys-color-on-secondary-fixed: #281622FF;
  --md-sys-color-on-secondary-fixed-variant: #57404EFF;
  --md-sys-color-tertiary-fixed: #FFDBCDFF;
  --md-sys-color-tertiary-fixed-dim: #F4B9A0FF;
  --md-sys-color-on-tertiary-fixed: #321304FF;
  --md-sys-color-on-tertiary-fixed-variant: #653C2AFF;
}

@media (prefers-color-scheme: dark) {
:root {
  --md-sys-color-background: #181215FF;
  --md-sys-color-on-background: #EDDFE4FF;
  --md-sys-color-surface: #181215FF;
  --md-sys-color-surface-dim: #181215FF;
  --md-sys-color-surface-bright: #3F373BFF;
  --md-sys-color-surface-container-lowest: #130C10FF;
  --md-sys-color-surface-container-low: #201A1DFF;
  --md-sys-color-surface-container: #251E22FF;
  --md-sys-color-surface-container-high: #2F282CFF;
  --md-sys-color-surface-container-highest: #3B3337FF;
  --md-sys-color-on-surface: #EDDFE4FF;
  --md-sys-color-surface-variant: #4F444AFF;
  --md-sys-color-on-surface-variant: #D3C2CAFF;
  --md-sys-color-inverse-surface: #EDDFE4FF;
  --md-sys-color-inverse-on-surface: #362E32FF;
  --md-sys-color-outline: #9B8D94FF;
  --md-sys-color-outline-variant: #4F444AFF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #F7B1DEFF;
  --md-sys-color-primary: #F7B1DEFF;
  --md-sys-color-on-primary: #4F1E42FF;
  --md-sys-color-primary-container: #69345AFF;
  --md-sys-color-on-primary-container: #FFD8EEFF;
  --md-sys-color-inverse-primary: #844C72FF;
  --md-sys-color-secondary: #DDBECFFF;
  --md-sys-color-on-secondary: #3F2A37FF;
  --md-sys-color-secondary-container: #57404EFF;
  --md-sys-color-on-secondary-container: #FADAEBFF;
  --md-sys-color-tertiary: #F4B9A0FF;
  --md-sys-color-on-tertiary: #4B2716FF;
  --md-sys-color-tertiary-container: #B9856EFF;
  --md-sys-color-on-tertiary-container: #000000FF;
  --md-sys-color-error: #FFB4ABFF;
  --md-sys-color-on-error: #690005FF;
  --md-sys-color-error-container: #93000AFF;
  --md-sys-color-on-error-container: #FFDAD6FF;
  --md-sys-color-primary-fixed: #FFD8EEFF;
  --md-sys-color-primary-fixed-dim: #F7B1DEFF;
  --md-sys-color-on-primary-fixed: #36072CFF;
  --md-sys-color-on-primary-fixed-variant: #69345AFF;
  --md-sys-color-secondary-fixed: #FADAEBFF;
  --md-sys-color-secondary-fixed-dim: #DDBECFFF;
  --md-sys-color-on-secondary-fixed: #281622FF;
  --md-sys-color-on-secondary-fixed-variant: #57404EFF;
  --md-sys-color-tertiary-fixed: #FFDBCDFF;
  --md-sys-color-tertiary-fixed-dim: #F4B9A0FF;
  --md-sys-color-on-tertiary-fixed: #321304FF;
  --md-sys-color-on-tertiary-fixed-variant: #653C2AFF;
}
}

