:root {
  --md-sys-color-background: #F8F9FFFF;
  --md-sys-color-on-background: #171C22FF;
  --md-sys-color-surface: #F8F9FFFF;
  --md-sys-color-surface-dim: #D7DAE2FF;
  --md-sys-color-surface-bright: #F8F9FFFF;
  --md-sys-color-surface-container-lowest: #FFFFFFFF;
  --md-sys-color-surface-container-low: #F0F3FCFF;
  --md-sys-color-surface-container: #EAEEF6FF;
  --md-sys-color-surface-container-high: #E5E8F1FF;
  --md-sys-color-surface-container-highest: #DFE2EBFF;
  --md-sys-color-on-surface: #171C22FF;
  --md-sys-color-surface-variant: #DBE3F1FF;
  --md-sys-color-on-surface-variant: #3F4753FF;
  --md-sys-color-inverse-surface: #2C3137FF;
  --md-sys-color-inverse-on-surface: #EDF1F9FF;
  --md-sys-color-outline: #6D7581FF;
  --md-sys-color-outline-variant: #BFC7D5FF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #0061A4FF;
  --md-sys-color-primary: #0061A4FF;
  --md-sys-color-on-primary: #FFFFFFFF;
  --md-sys-color-primary-container: #0096FAFF;
  --md-sys-color-on-primary-container: #002C50FF;
  --md-sys-color-inverse-primary: #9FCAFFFF;
  --md-sys-color-secondary: #3F6087FF;
  --md-sys-color-on-secondary: #FFFFFFFF;
  --md-sys-color-secondary-container: #D2E4FFFF;
  --md-sys-color-on-secondary-container: #45678DFF;
  --md-sys-color-tertiary: #A252C2FF;
  --md-sys-color-on-tertiary: #FFFFFFFF;
  --md-sys-color-tertiary-container: #A252C2FF;
  --md-sys-color-on-tertiary-container: #FFFFFFFF;
  --md-sys-color-error: #BA1A1AFF;
  --md-sys-color-on-error: #FFFFFFFF;
  --md-sys-color-error-container: #FFDAD6FF;
  --md-sys-color-on-error-container: #93000AFF;
  --md-sys-color-primary-fixed: #D2E4FFFF;
  --md-sys-color-primary-fixed-dim: #9FCAFFFF;
  --md-sys-color-on-primary-fixed: #001D36FF;
  --md-sys-color-on-primary-fixed-variant: #00497EFF;
  --md-sys-color-secondary-fixed: #D2E4FFFF;
  --md-sys-color-secondary-fixed-dim: #A8C9F5FF;
  --md-sys-color-on-secondary-fixed: #001D36FF;
  --md-sys-color-on-secondary-fixed-variant: #26496DFF;
  --md-sys-color-tertiary-fixed: #F9D8FFFF;
  --md-sys-color-tertiary-fixed-dim: #EDB1FFFF;
  --md-sys-color-on-tertiary-fixed: #320046FF;
  --md-sys-color-on-tertiary-fixed-variant: #6F1D8FFF;
}

@media (prefers-color-scheme: dark) {
:root {
  --md-sys-color-background: #0F141AFF;
  --md-sys-color-on-background: #DFE2EBFF;
  --md-sys-color-surface: #0F141AFF;
  --md-sys-color-surface-dim: #0F141AFF;
  --md-sys-color-surface-bright: #353940FF;
  --md-sys-color-surface-container-lowest: #0A0E14FF;
  --md-sys-color-surface-container-low: #171C22FF;
  --md-sys-color-surface-container: #1C2026FF;
  --md-sys-color-surface-container-high: #262A31FF;
  --md-sys-color-surface-container-highest: #31353CFF;
  --md-sys-color-on-surface: #DFE2EBFF;
  --md-sys-color-surface-variant: #3F4753FF;
  --md-sys-color-on-surface-variant: #BFC7D5FF;
  --md-sys-color-inverse-surface: #DFE2EBFF;
  --md-sys-color-inverse-on-surface: #2C3137FF;
  --md-sys-color-outline: #89919EFF;
  --md-sys-color-outline-variant: #3F4753FF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #9FCAFFFF;
  --md-sys-color-primary: #9FCAFFFF;
  --md-sys-color-on-primary: #003259FF;
  --md-sys-color-primary-container: #0096FAFF;
  --md-sys-color-on-primary-container: #002C50FF;
  --md-sys-color-inverse-primary: #0061A4FF;
  --md-sys-color-secondary: #A8C9F5FF;
  --md-sys-color-on-secondary: #083256FF;
  --md-sys-color-secondary-container: #26496DFF;
  --md-sys-color-on-secondary-container: #96B8E2FF;
  --md-sys-color-tertiary: #EDB1FFFF;
  --md-sys-color-on-tertiary: #530070FF;
  --md-sys-color-tertiary-container: #C26FE1FF;
  --md-sys-color-on-tertiary-container: #000000FF;
  --md-sys-color-error: #FFB4ABFF;
  --md-sys-color-on-error: #690005FF;
  --md-sys-color-error-container: #93000AFF;
  --md-sys-color-on-error-container: #FFDAD6FF;
  --md-sys-color-primary-fixed: #D2E4FFFF;
  --md-sys-color-primary-fixed-dim: #9FCAFFFF;
  --md-sys-color-on-primary-fixed: #001D36FF;
  --md-sys-color-on-primary-fixed-variant: #00497EFF;
  --md-sys-color-secondary-fixed: #D2E4FFFF;
  --md-sys-color-secondary-fixed-dim: #A8C9F5FF;
  --md-sys-color-on-secondary-fixed: #001D36FF;
  --md-sys-color-on-secondary-fixed-variant: #26496DFF;
  --md-sys-color-tertiary-fixed: #F9D8FFFF;
  --md-sys-color-tertiary-fixed-dim: #EDB1FFFF;
  --md-sys-color-on-tertiary-fixed: #320046FF;
  --md-sys-color-on-tertiary-fixed-variant: #6F1D8FFF;
}
}

