:root {
  --md-sys-color-background: #FFF7FBFF;
  --md-sys-color-on-background: #1F1A1FFF;
  --md-sys-color-surface: #FFF7FBFF;
  --md-sys-color-surface-dim: #E1D7DEFF;
  --md-sys-color-surface-bright: #FFF7FBFF;
  --md-sys-color-surface-container-lowest: #FFFFFFFF;
  --md-sys-color-surface-container-low: #FBF1F8FF;
  --md-sys-color-surface-container: #F5EBF2FF;
  --md-sys-color-surface-container-high: #F0E5EDFF;
  --md-sys-color-surface-container-highest: #EAE0E7FF;
  --md-sys-color-on-surface: #1F1A1FFF;
  --md-sys-color-surface-variant: #EBDFE9FF;
  --md-sys-color-on-surface-variant: #4C444CFF;
  --md-sys-color-inverse-surface: #342F34FF;
  --md-sys-color-inverse-on-surface: #F8EEF5FF;
  --md-sys-color-outline: #7B727BFF;
  --md-sys-color-outline-variant: #CFC3CDFF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #784F83FF;
  --md-sys-color-primary: #784F83FF;
  --md-sys-color-on-primary: #FFFFFFFF;
  --md-sys-color-primary-container: #FAD7FFFF;
  --md-sys-color-on-primary-container: #5E386AFF;
  --md-sys-color-inverse-primary: #E6B6F1FF;
  --md-sys-color-secondary: #6A596CFF;
  --md-sys-color-on-secondary: #FFFFFFFF;
  --md-sys-color-secondary-container: #EFD9F0FF;
  --md-sys-color-on-secondary-container: #514254FF;
  --md-sys-color-tertiary: #9B6763FF;
  --md-sys-color-on-tertiary: #FFFFFFFF;
  --md-sys-color-tertiary-container: #9B6763FF;
  --md-sys-color-on-tertiary-container: #FFFFFFFF;
  --md-sys-color-error: #BA1A1AFF;
  --md-sys-color-on-error: #FFFFFFFF;
  --md-sys-color-error-container: #FFDAD6FF;
  --md-sys-color-on-error-container: #93000AFF;
  --md-sys-color-primary-fixed: #FAD7FFFF;
  --md-sys-color-primary-fixed-dim: #E6B6F1FF;
  --md-sys-color-on-primary-fixed: #2F0A3BFF;
  --md-sys-color-on-primary-fixed-variant: #5E386AFF;
  --md-sys-color-secondary-fixed: #F2DCF3FF;
  --md-sys-color-secondary-fixed-dim: #D5C0D7FF;
  --md-sys-color-on-secondary-fixed: #241727FF;
  --md-sys-color-on-secondary-fixed-variant: #514254FF;
  --md-sys-color-tertiary-fixed: #FFDAD7FF;
  --md-sys-color-tertiary-fixed-dim: #F5B7B2FF;
  --md-sys-color-on-tertiary-fixed: #33110FFF;
  --md-sys-color-on-tertiary-fixed-variant: #663B38FF;
}

@media (prefers-color-scheme: dark) {
:root {
  --md-sys-color-background: #161217FF;
  --md-sys-color-on-background: #EAE0E7FF;
  --md-sys-color-surface: #161217FF;
  --md-sys-color-surface-dim: #161217FF;
  --md-sys-color-surface-bright: #3D373DFF;
  --md-sys-color-surface-container-lowest: #110D12FF;
  --md-sys-color-surface-container-low: #1F1A1FFF;
  --md-sys-color-surface-container: #231E23FF;
  --md-sys-color-surface-container-high: #2E282EFF;
  --md-sys-color-surface-container-highest: #393339FF;
  --md-sys-color-on-surface: #EAE0E7FF;
  --md-sys-color-surface-variant: #4C444CFF;
  --md-sys-color-on-surface-variant: #CFC3CDFF;
  --md-sys-color-inverse-surface: #EAE0E7FF;
  --md-sys-color-inverse-on-surface: #342F34FF;
  --md-sys-color-outline: #988E97FF;
  --md-sys-color-outline-variant: #4C444CFF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #E6B6F1FF;
  --md-sys-color-primary: #E6B6F1FF;
  --md-sys-color-on-primary: #462152FF;
  --md-sys-color-primary-container: #5E386AFF;
  --md-sys-color-on-primary-container: #FAD7FFFF;
  --md-sys-color-inverse-primary: #784F83FF;
  --md-sys-color-secondary: #D5C0D7FF;
  --md-sys-color-on-secondary: #3A2B3DFF;
  --md-sys-color-secondary-container: #544456FF;
  --md-sys-color-on-secondary-container: #F2DCF3FF;
  --md-sys-color-tertiary: #F5B7B2FF;
  --md-sys-color-on-tertiary: #4C2523FF;
  --md-sys-color-tertiary-container: #BA837EFF;
  --md-sys-color-on-tertiary-container: #000000FF;
  --md-sys-color-error: #FFB4ABFF;
  --md-sys-color-on-error: #690005FF;
  --md-sys-color-error-container: #93000AFF;
  --md-sys-color-on-error-container: #FFDAD6FF;
  --md-sys-color-primary-fixed: #FAD7FFFF;
  --md-sys-color-primary-fixed-dim: #E6B6F1FF;
  --md-sys-color-on-primary-fixed: #2F0A3BFF;
  --md-sys-color-on-primary-fixed-variant: #5E386AFF;
  --md-sys-color-secondary-fixed: #F2DCF3FF;
  --md-sys-color-secondary-fixed-dim: #D5C0D7FF;
  --md-sys-color-on-secondary-fixed: #241727FF;
  --md-sys-color-on-secondary-fixed-variant: #514254FF;
  --md-sys-color-tertiary-fixed: #FFDAD7FF;
  --md-sys-color-tertiary-fixed-dim: #F5B7B2FF;
  --md-sys-color-on-tertiary-fixed: #33110FFF;
  --md-sys-color-on-tertiary-fixed-variant: #663B38FF;
}
}
