:root {
  --md-sys-color-background: #FFF8F7FF;
  --md-sys-color-on-background: #231918FF;
  --md-sys-color-surface: #FFF8F7FF;
  --md-sys-color-surface-dim: #E8D6D4FF;
  --md-sys-color-surface-bright: #FFF8F7FF;
  --md-sys-color-surface-container-lowest: #FFFFFFFF;
  --md-sys-color-surface-container-low: #FFF0EFFF;
  --md-sys-color-surface-container: #FCEAE8FF;
  --md-sys-color-surface-container-high: #F6E4E2FF;
  --md-sys-color-surface-container-highest: #F1DEDCFF;
  --md-sys-color-on-surface: #231918FF;
  --md-sys-color-surface-variant: #F5DDDBFF;
  --md-sys-color-on-surface-variant: #534341FF;
  --md-sys-color-inverse-surface: #392E2DFF;
  --md-sys-color-inverse-on-surface: #FFEDEAFF;
  --md-sys-color-outline: #83706EFF;
  --md-sys-color-outline-variant: #D8C2BFFF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #904A44FF;
  --md-sys-color-primary: #904A44FF;
  --md-sys-color-on-primary: #FFFFFFFF;
  --md-sys-color-primary-container: #FFDAD6FF;
  --md-sys-color-on-primary-container: #73332EFF;
  --md-sys-color-inverse-primary: #FFB4ACFF;
  --md-sys-color-secondary: #775653FF;
  --md-sys-color-on-secondary: #FFFFFFFF;
  --md-sys-color-secondary-container: #FFD3CEFF;
  --md-sys-color-on-secondary-container: #5D3F3CFF;
  --md-sys-color-tertiary: #897142FF;
  --md-sys-color-on-tertiary: #FFFFFFFF;
  --md-sys-color-tertiary-container: #897142FF;
  --md-sys-color-on-tertiary-container: #FFFFFFFF;
  --md-sys-color-error: #BA1A1AFF;
  --md-sys-color-on-error: #FFFFFFFF;
  --md-sys-color-error-container: #FFDAD6FF;
  --md-sys-color-on-error-container: #93000AFF;
  --md-sys-color-primary-fixed: #FFDAD6FF;
  --md-sys-color-primary-fixed-dim: #FFB4ACFF;
  --md-sys-color-on-primary-fixed: #3B0908FF;
  --md-sys-color-on-primary-fixed-variant: #73332EFF;
  --md-sys-color-secondary-fixed: #FFDAD6FF;
  --md-sys-color-secondary-fixed-dim: #E7BDB8FF;
  --md-sys-color-on-secondary-fixed: #2C1513FF;
  --md-sys-color-on-secondary-fixed-variant: #5D3F3CFF;
  --md-sys-color-tertiary-fixed: #FEDEA6FF;
  --md-sys-color-tertiary-fixed-dim: #E0C38CFF;
  --md-sys-color-on-tertiary-fixed: #261900FF;
  --md-sys-color-on-tertiary-fixed-variant: #584419FF;
}

@media (prefers-color-scheme: dark) {
:root {
  --md-sys-color-background: #1A1110FF;
  --md-sys-color-on-background: #F1DEDCFF;
  --md-sys-color-surface: #1A1110FF;
  --md-sys-color-surface-dim: #1A1110FF;
  --md-sys-color-surface-bright: #423735FF;
  --md-sys-color-surface-container-lowest: #140C0BFF;
  --md-sys-color-surface-container-low: #231918FF;
  --md-sys-color-surface-container: #271D1CFF;
  --md-sys-color-surface-container-high: #322826FF;
  --md-sys-color-surface-container-highest: #3D3231FF;
  --md-sys-color-on-surface: #F1DEDCFF;
  --md-sys-color-surface-variant: #534341FF;
  --md-sys-color-on-surface-variant: #D8C2BFFF;
  --md-sys-color-inverse-surface: #F1DEDCFF;
  --md-sys-color-inverse-on-surface: #392E2DFF;
  --md-sys-color-outline: #A08C8AFF;
  --md-sys-color-outline-variant: #534341FF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #FFB4ACFF;
  --md-sys-color-primary: #FFB4ACFF;
  --md-sys-color-on-primary: #561E1AFF;
  --md-sys-color-primary-container: #73332EFF;
  --md-sys-color-on-primary-container: #FFDAD6FF;
  --md-sys-color-inverse-primary: #904A44FF;
  --md-sys-color-secondary: #E7BDB8FF;
  --md-sys-color-on-secondary: #442927FF;
  --md-sys-color-secondary-container: #5D3F3CFF;
  --md-sys-color-on-secondary-container: #FFDAD6FF;
  --md-sys-color-tertiary: #E0C38CFF;
  --md-sys-color-on-tertiary: #3F2D04FF;
  --md-sys-color-tertiary-container: #A78D5BFF;
  --md-sys-color-on-tertiary-container: #000000FF;
  --md-sys-color-error: #FFB4ABFF;
  --md-sys-color-on-error: #690005FF;
  --md-sys-color-error-container: #93000AFF;
  --md-sys-color-on-error-container: #FFDAD6FF;
  --md-sys-color-primary-fixed: #FFDAD6FF;
  --md-sys-color-primary-fixed-dim: #FFB4ACFF;
  --md-sys-color-on-primary-fixed: #3B0908FF;
  --md-sys-color-on-primary-fixed-variant: #73332EFF;
  --md-sys-color-secondary-fixed: #FFDAD6FF;
  --md-sys-color-secondary-fixed-dim: #E7BDB8FF;
  --md-sys-color-on-secondary-fixed: #2C1513FF;
  --md-sys-color-on-secondary-fixed-variant: #5D3F3CFF;
  --md-sys-color-tertiary-fixed: #FEDEA6FF;
  --md-sys-color-tertiary-fixed-dim: #E0C38CFF;
  --md-sys-color-on-tertiary-fixed: #261900FF;
  --md-sys-color-on-tertiary-fixed-variant: #584419FF;
}
}