:root {
  --md-sys-color-background: #F6FBF3FF;
  --md-sys-color-on-background: #181D18FF;
  --md-sys-color-surface: #F6FBF3FF;
  --md-sys-color-surface-dim: #D7DBD4FF;
  --md-sys-color-surface-bright: #F6FBF3FF;
  --md-sys-color-surface-container-lowest: #FFFFFFFF;
  --md-sys-color-surface-container-low: #F0F5EDFF;
  --md-sys-color-surface-container: #EBEFE7FF;
  --md-sys-color-surface-container-high: #E5EAE2FF;
  --md-sys-color-surface-container-highest: #DFE4DCFF;
  --md-sys-color-on-surface: #181D18FF;
  --md-sys-color-surface-variant: #DDE5DAFF;
  --md-sys-color-on-surface-variant: #414941FF;
  --md-sys-color-inverse-surface: #2D322DFF;
  --md-sys-color-inverse-on-surface: #EEF2EAFF;
  --md-sys-color-outline: #6F776EFF;
  --md-sys-color-outline-variant: #C1C9BFFF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #306A42FF;
  --md-sys-color-primary: #306A42FF;
  --md-sys-color-on-primary: #FFFFFFFF;
  --md-sys-color-primary-container: #B3F1BFFF;
  --md-sys-color-on-primary-container: #16512CFF;
  --md-sys-color-inverse-primary: #98D5A4FF;
  --md-sys-color-secondary: #506352FF;
  --md-sys-color-on-secondary: #FFFFFFFF;
  --md-sys-color-secondary-container: #D0E5D0FF;
  --md-sys-color-on-secondary-container: #384B3CFF;
  --md-sys-color-tertiary: #517B85FF;
  --md-sys-color-on-tertiary: #FFFFFFFF;
  --md-sys-color-tertiary-container: #517B85FF;
  --md-sys-color-on-tertiary-container: #FFFFFFFF;
  --md-sys-color-error: #BA1A1AFF;
  --md-sys-color-on-error: #FFFFFFFF;
  --md-sys-color-error-container: #FFDAD6FF;
  --md-sys-color-on-error-container: #93000AFF;
  --md-sys-color-primary-fixed: #B3F1BFFF;
  --md-sys-color-primary-fixed-dim: #98D5A4FF;
  --md-sys-color-on-primary-fixed: #00210CFF;
  --md-sys-color-on-primary-fixed-variant: #16512CFF;
  --md-sys-color-secondary-fixed: #D2E8D3FF;
  --md-sys-color-secondary-fixed-dim: #B7CCB8FF;
  --md-sys-color-on-secondary-fixed: #0E1F12FF;
  --md-sys-color-on-secondary-fixed-variant: #384B3CFF;
  --md-sys-color-tertiary-fixed: #BDEAF5FF;
  --md-sys-color-tertiary-fixed-dim: #A2CED9FF;
  --md-sys-color-on-tertiary-fixed: #001F25FF;
  --md-sys-color-on-tertiary-fixed-variant: #204D56FF;
}

@media (prefers-color-scheme: dark) {
:root {
  --md-sys-color-background: #101510FF;
  --md-sys-color-on-background: #DFE4DCFF;
  --md-sys-color-surface: #101510FF;
  --md-sys-color-surface-dim: #101510FF;
  --md-sys-color-surface-bright: #353A35FF;
  --md-sys-color-surface-container-lowest: #0B0F0BFF;
  --md-sys-color-surface-container-low: #181D18FF;
  --md-sys-color-surface-container: #1C211CFF;
  --md-sys-color-surface-container-high: #262B26FF;
  --md-sys-color-surface-container-highest: #313631FF;
  --md-sys-color-on-surface: #DFE4DCFF;
  --md-sys-color-surface-variant: #414941FF;
  --md-sys-color-on-surface-variant: #C1C9BFFF;
  --md-sys-color-inverse-surface: #DFE4DCFF;
  --md-sys-color-inverse-on-surface: #2D322DFF;
  --md-sys-color-outline: #8B938AFF;
  --md-sys-color-outline-variant: #414941FF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #98D5A4FF;
  --md-sys-color-primary: #98D5A4FF;
  --md-sys-color-on-primary: #00391AFF;
  --md-sys-color-primary-container: #16512CFF;
  --md-sys-color-on-primary-container: #B3F1BFFF;
  --md-sys-color-inverse-primary: #306A42FF;
  --md-sys-color-secondary: #B7CCB8FF;
  --md-sys-color-on-secondary: #223526FF;
  --md-sys-color-secondary-container: #3B4E3EFF;
  --md-sys-color-on-secondary-container: #D2E8D3FF;
  --md-sys-color-tertiary: #A2CED9FF;
  --md-sys-color-on-tertiary: #01363FFF;
  --md-sys-color-tertiary-container: #6D97A2FF;
  --md-sys-color-on-tertiary-container: #000000FF;
  --md-sys-color-error: #FFB4ABFF;
  --md-sys-color-on-error: #690005FF;
  --md-sys-color-error-container: #93000AFF;
  --md-sys-color-on-error-container: #FFDAD6FF;
  --md-sys-color-primary-fixed: #B3F1BFFF;
  --md-sys-color-primary-fixed-dim: #98D5A4FF;
  --md-sys-color-on-primary-fixed: #00210CFF;
  --md-sys-color-on-primary-fixed-variant: #16512CFF;
  --md-sys-color-secondary-fixed: #D2E8D3FF;
  --md-sys-color-secondary-fixed-dim: #B7CCB8FF;
  --md-sys-color-on-secondary-fixed: #0E1F12FF;
  --md-sys-color-on-secondary-fixed-variant: #384B3CFF;
  --md-sys-color-tertiary-fixed: #BDEAF5FF;
  --md-sys-color-tertiary-fixed-dim: #A2CED9FF;
  --md-sys-color-on-tertiary-fixed: #001F25FF;
  --md-sys-color-on-tertiary-fixed-variant: #204D56FF;
}
}
