:root {
  --md-sys-color-background: #FEF9EBFF;
  --md-sys-color-on-background: #1D1C14FF;
  --md-sys-color-surface: #FEF9EBFF;
  --md-sys-color-surface-dim: #DEDACDFF;
  --md-sys-color-surface-bright: #FEF9EBFF;
  --md-sys-color-surface-container-lowest: #FFFFFFFF;
  --md-sys-color-surface-container-low: #F8F3E6FF;
  --md-sys-color-surface-container: #F2EEE0FF;
  --md-sys-color-surface-container-high: #ECE8DBFF;
  --md-sys-color-surface-container-highest: #E6E2D5FF;
  --md-sys-color-on-surface: #1D1C14FF;
  --md-sys-color-surface-variant: #E7E3D1FF;
  --md-sys-color-on-surface-variant: #49473AFF;
  --md-sys-color-inverse-surface: #323128FF;
  --md-sys-color-inverse-on-surface: #F5F1E3FF;
  --md-sys-color-outline: #777566FF;
  --md-sys-color-outline-variant: #CAC7B5FF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #646116FF;
  --md-sys-color-primary: #646116FF;
  --md-sys-color-on-primary: #FFFFFFFF;
  --md-sys-color-primary-container: #ECE68DFF;
  --md-sys-color-on-primary-container: #4C4900FF;
  --md-sys-color-inverse-primary: #CFCA74FF;
  --md-sys-color-secondary: #626042FF;
  --md-sys-color-on-secondary: #FFFFFFFF;
  --md-sys-color-secondary-container: #E8E4BEFF;
  --md-sys-color-on-secondary-container: #4A482CFF;
  --md-sys-color-tertiary: #547D6AFF;
  --md-sys-color-on-tertiary: #FFFFFFFF;
  --md-sys-color-tertiary-container: #547D6AFF;
  --md-sys-color-on-tertiary-container: #FFFFFFFF;
  --md-sys-color-error: #BA1A1AFF;
  --md-sys-color-on-error: #FFFFFFFF;
  --md-sys-color-error-container: #FFDAD6FF;
  --md-sys-color-on-error-container: #93000AFF;
  --md-sys-color-primary-fixed: #ECE68DFF;
  --md-sys-color-primary-fixed-dim: #CFCA74FF;
  --md-sys-color-on-primary-fixed: #1E1C00FF;
  --md-sys-color-on-primary-fixed-variant: #4C4900FF;
  --md-sys-color-secondary-fixed: #E8E4BEFF;
  --md-sys-color-secondary-fixed-dim: #CCC8A4FF;
  --md-sys-color-on-secondary-fixed: #1E1C05FF;
  --md-sys-color-on-secondary-fixed-variant: #4A482CFF;
  --md-sys-color-tertiary-fixed: #C0ECD6FF;
  --md-sys-color-tertiary-fixed-dim: #A5D0BBFF;
  --md-sys-color-on-tertiary-fixed: #002115FF;
  --md-sys-color-on-tertiary-fixed-variant: #264E3EFF;
}

@media (prefers-color-scheme: dark) {
:root {
  --md-sys-color-background: #14140CFF;
  --md-sys-color-on-background: #E6E2D5FF;
  --md-sys-color-surface: #14140CFF;
  --md-sys-color-surface-dim: #14140CFF;
  --md-sys-color-surface-bright: #3B3930FF;
  --md-sys-color-surface-container-lowest: #0F0E07FF;
  --md-sys-color-surface-container-low: #1D1C14FF;
  --md-sys-color-surface-container: #212018FF;
  --md-sys-color-surface-container-high: #2B2A22FF;
  --md-sys-color-surface-container-highest: #36352CFF;
  --md-sys-color-on-surface: #E6E2D5FF;
  --md-sys-color-surface-variant: #49473AFF;
  --md-sys-color-on-surface-variant: #CAC7B5FF;
  --md-sys-color-inverse-surface: #E6E2D5FF;
  --md-sys-color-inverse-on-surface: #323128FF;
  --md-sys-color-outline: #949181FF;
  --md-sys-color-outline-variant: #49473AFF;
  --md-sys-color-shadow: #000000FF;
  --md-sys-color-scrim: #000000FF;
  --md-sys-color-surface-tint: #CFCA74FF;
  --md-sys-color-primary: #CFCA74FF;
  --md-sys-color-on-primary: #343200FF;
  --md-sys-color-primary-container: #4C4900FF;
  --md-sys-color-on-primary-container: #ECE68DFF;
  --md-sys-color-inverse-primary: #646116FF;
  --md-sys-color-secondary: #CCC8A4FF;
  --md-sys-color-on-secondary: #333118FF;
  --md-sys-color-secondary-container: #4A482CFF;
  --md-sys-color-on-secondary-container: #E8E4BEFF;
  --md-sys-color-tertiary: #A5D0BBFF;
  --md-sys-color-on-tertiary: #0D3728FF;
  --md-sys-color-tertiary-container: #709986FF;
  --md-sys-color-on-tertiary-container: #000000FF;
  --md-sys-color-error: #FFB4ABFF;
  --md-sys-color-on-error: #690005FF;
  --md-sys-color-error-container: #93000AFF;
  --md-sys-color-on-error-container: #FFDAD6FF;
  --md-sys-color-primary-fixed: #ECE68DFF;
  --md-sys-color-primary-fixed-dim: #CFCA74FF;
  --md-sys-color-on-primary-fixed: #1E1C00FF;
  --md-sys-color-on-primary-fixed-variant: #4C4900FF;
  --md-sys-color-secondary-fixed: #E8E4BEFF;
  --md-sys-color-secondary-fixed-dim: #CCC8A4FF;
  --md-sys-color-on-secondary-fixed: #1E1C05FF;
  --md-sys-color-on-secondary-fixed-variant: #4A482CFF;
  --md-sys-color-tertiary-fixed: #C0ECD6FF;
  --md-sys-color-tertiary-fixed-dim: #A5D0BBFF;
  --md-sys-color-on-tertiary-fixed: #002115FF;
  --md-sys-color-on-tertiary-fixed-variant: #264E3EFF;
}
}