{% extends "layouts/default.html" %}
{% set title = "Dialog test" %}

{% block content %}
<main>
    <button popovertarget="generic" class="button primary">Open dialog</button>
    <button popovertarget="action" class="button primary">Open dialog with actions</button>
    <button popovertarget="long" class="button primary">Open dialog with long content</button>

    <div popover tabindex="-1" id="generic" class="modal-popover">
        <div class="title">
            <span>Dialog</span>
            <button popovertarget="generic" popovertargetaction="hide" class="icon-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#e3e3e3">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                </svg>
            </button>
        </div>
        <main>
            <p>This is some generic content</p>
        </main>
    </div>

    <div popover tabindex="-1" id="action" class="modal-popover">
        <div class="title">
            <span>{{_("Log out")}}</span>
        </div>
        <main>
            <p>{{_("Do you wish to log out?")}}</p>
        </main>
        <div class="actions">
            <button popovertarget="action" popovertargetaction="hide">Cancel</button>
            <button popovertarget="action" popovertargetaction="hide">OK</button>
        </div>
    </div>

    <div popover tabindex="-1" id="long" class="modal-popover">
        <div class="title">
            <span>Long Content</span>
            <button popovertarget="long" popovertargetaction="hide" class="icon-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#e3e3e3">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                </svg>
            </button>
        </div>
        <main>
            <p>Lorem ipsum dolor sit amet, minim laboris excepteur cupidatat velit. Deserunt reprehenderit veniam do, ad
                cillum esse cupidatat. Aliquip lorem culpa occaecat labore eu qui, ipsum aliqua officia tempor ea nisi
                sunt occaecat, ea ullamco adipiscing aute ex aliqua elit. Sed est dolore ex cillum laborum laboris
                cupidatat, deserunt consectetur ipsum tempor velit nostrud, velit id amet velit ullamco ipsum. Aliquip
                aliqua sunt fugiat, id dolor elit do quis mollit, esse proident minim enim officia pariatur fugiat
                officia. Sed magna fugiat veniam. In voluptate cupidatat esse sed deserunt, esse quis do sunt ipsum
                ullamco exercitation, sed lorem fugiat esse magna. Laboris ex consequat aliqua deserunt, sit veniam anim
                laborum sed. Aliquip nulla id irure pariatur officia et, nisi cillum sunt dolore exercitation veniam
                dolore.</p>
            <p>Ea culpa fugiat est. Sed excepteur in in duis aliqua. Nulla fugiat eu pariatur eiusmod sit sunt sit.
                Minim eu ut excepteur sint. Culpa esse pariatur nulla do adipiscing incididunt non. Anim nulla amet non
                anim. Ullamco in ea ea anim amet. Sunt amet ut lorem enim id. Id ea eu sed.</p>
            <p>Consequat ullamco cupidatat eu incididunt nulla, excepteur cupidatat ipsum cillum pariatur duis. Ex
                voluptate consectetur quis, veniam laboris magna in. Aute sit aute est excepteur, labore laborum laboris
                est adipiscing nostrud. Culpa aliqua cupidatat ullamco sed mollit, irure ea proident ipsum fugiat ipsum
                cillum ullamco, ad et labore labore mollit. Fugiat dolore deserunt nisi. Veniam consequat sed id, aute
                dolor ullamco nisi ad eiusmod. Quis sint irure irure ipsum. Irure et do sed ea minim voluptate amet, sit
                adipiscing ut laborum minim. Do deserunt excepteur anim commodo sit incididunt, cupidatat officia dolore
                ex ut dolor commodo. Eiusmod irure nisi dolor exercitation.</p>
            <p>Voluptate magna esse ex sunt quis. Occaecat eiusmod nulla reprehenderit dolor, labore aute cillum tempor
                ullamco. Nisi veniam irure commodo pariatur occaecat. Exercitation ea pariatur consequat deserunt sint.
                Non magna officia labore minim deserunt. Do consequat reprehenderit pariatur sint sed cillum, do aute
                esse nulla nostrud voluptate, do pariatur occaecat amet enim exercitation reprehenderit.</p>
            <p> In hac habitasse platea dictumst. Praesent volutpat suscipit nisi malesuada tincidunt. Quisque egestas
                ex ante, congue posuere mauris sodales ut. Cras ullamcorper mi id sem sagittis eleifend. Integer dictum
                malesuada nibh non condimentum. Nunc nec justo vel dui pharetra varius nec pellentesque urna. Quisque
                viverra ultricies metus, id volutpat lacus euismod ac. Suspendisse potenti. Integer sodales volutpat
                accumsan. Vivamus egestas a tellus ut semper. Nam scelerisque quis lorem ac suscipit. </p>
            <p>Nunc lobortis neque sit amet nunc tempus accumsan. Morbi vel nibh sapien. Phasellus ornare ornare lorem,
                id posuere tortor. Vivamus et magna viverra, tempor metus vitae, euismod sem. Quisque eget justo non
                augue ultrices iaculis. Cras in felis pellentesque, ultrices quam eu, luctus leo. Nam sed lorem nec nisi
                sollicitudin euismod. Proin blandit arcu sit amet tellus mollis scelerisque. In hac habitasse platea
                dictumst. Phasellus at nunc nec tellus iaculis mollis sit amet non eros. Aenean tellus ante, varius vel
                gravida ut, congue pretium enim. Aliquam vitae sem gravida, laoreet lectus nec, iaculis magna. </p>
            <p>In hac habitasse platea dictumst. Praesent felis diam, cursus ut tortor vel, finibus maximus leo. Integer
                consequat ligula rhoncus erat pulvinar faucibus. Morbi pharetra sem auctor dolor ultricies, vel ornare
                ipsum vestibulum. Suspendisse ante urna, volutpat vitae tellus quis, convallis placerat augue. Nunc
                vitae pellentesque elit. Nam vitae facilisis odio, non mattis eros. Suspendisse accumsan ultrices massa.
                Nullam sagittis ultricies nunc, at porta est rhoncus eget. Fusce fermentum ante ut leo malesuada
                iaculis. Aliquam non ipsum varius, elementum nisi in, aliquam eros. Vestibulum tellus erat, euismod
                vitae nisi id, commodo viverra tortor. </p>
            <p>Maecenas sit amet quam et augue luctus cursus. Aenean elit orci, consectetur a metus eu, condimentum
                elementum quam. Fusce posuere feugiat dapibus. Curabitur at urna sed ipsum posuere varius. Quisque
                sagittis velit sit amet nunc laoreet tristique. Morbi quam neque, tempor id condimentum a, tincidunt ac
                odio. Suspendisse dapibus enim vitae varius pellentesque. Integer eget urna lorem. Sed non metus sapien.
                Cras scelerisque leo ac lobortis lacinia. Etiam venenatis bibendum nisl ac bibendum. Pellentesque
                ullamcorper nunc eget neque malesuada, et tincidunt lacus vestibulum. Donec at blandit mi. In porttitor
                vulputate ante, at suscipit lectus blandit sit amet. Ut eget pulvinar lorem. </p>
            <p>Sed vel accumsan purus. Aliquam efficitur turpis vitae faucibus faucibus. Nullam aliquam bibendum odio,
                gravida laoreet massa. Nunc pharetra ultrices est, vitae vehicula justo blandit ut. Sed sed lectus
                cursus, suscipit lectus et, tempor ante. Praesent velit neque, hendrerit in blandit vel, molestie id
                arcu. Vestibulum accumsan, magna porta pellentesque fermentum, odio lacus egestas turpis, quis sodales
                turpis neque eleifend eros. Nam eget felis a orci laoreet sagittis. Donec hendrerit aliquet eros, nec
                cursus ex blandit imperdiet. Donec ac felis lobortis, interdum justo quis, dictum ex. </p>
        </main>
    </div>
</main>
{% endblock content %}