{% extends "layouts/default.html" %}
{% set title = _("Collections") %}

{% block content %}
{% from "components/collection-entry.html" import collection_entry %}

<main>
    <div class="about-collection-banner">
	<h1>{{_("About Collections")}}</h1>
        <p>{{_("The Collection Feature (Beta) allows you to curate illustrations, manga, novels, and Ugoira posted on pixiv, links to other pixiv services (e.g., pixiv Encyclopedia, BOOTH, pixivFANBOX), external links, and text, and showcase them on a single page.")}}</p>

        <p>{{_("The Collection Feature on Vixipy, just like on pixiv, is currently experimental. Things may change or break at any time!")}}</p>
    </div>

    <h2>{{_("Recommended collections")}}</h2>
    <div class="scrolling-container">
        {% for x in recommended %}
        {{collection_entry(x)}}
        {% endfor %}
    </div>

    <h2>{{_("All collections")}}</h2>
    <div class="scrolling-container">
        {% for x in all_collections %}
        {{collection_entry(x)}}
        {% endfor %}
    </div>

    {% for x in recommend_by_tag %}
    <h2>{{_("Recommended collections tagged #%(tag)s", tag=x.tag)}}</h2>
    <div class="scrolling-container">
        {% for y in x.content %}
        {{collection_entry(y)}}
        {% endfor %}
    </div>
    {% endfor %}
</main>

{% endblock %}
