{% extends "layouts/default.html" %}
{% block title %}
{% if data.seriesNavData %}
#{{data.seriesNavData.order}} {{data.title}} | {{_("Series %(title)s", title=data.seriesNavData.title)}} | {{_("Novels")}} 
{% else %}
{{data.title}} | {{_("Novels")}}
{% endif %}
{% endblock %}

{% block content %}
<div id="novel-main">
  <div class="info">
    <img class="cover" src="{{data.coverUrl}}" alt="{{data.title}}">
    <div class="meta">
      {% if data.seriesNavData %}
      <small>{{data.seriesNavData.title}} #{{data.seriesNavData.order}}</small>
      {% endif %}
      <h2>{{data.title}}</h2>
      <a class="author" href="/users/{{user._id}}">
        <img src="{{user.image}}" alt="{{user.name}}">
        {{user.name}}
      </a>
      <div class="stats">
        <span>{{data.createDate|dateformat}}</span>
        <span>{{_("%(count)s likes", count=data.likeCount|numberformat)}}</span>
        <span>{{_("%(count)s bookmarks", count=data.bookmarkCount|numberformat)}}</span>
        <span>{{_("%(wordCount)s words", wordCount=data.wordCount|numberformat)}}</span>
        <span>{{_("%(textCount)s characters", textCount=data.characterCount|numberformat)}}</span>
      </div>
      <div class="taglist">
          {% for tag in data.tags %}
          <span><a>#{{tag}}</a></span>
          {% endfor %}
      </div>
      <div class="description">
        {{data.description|safe}}
      </div>
    </div>
  </div>
  <pre class="contents">{{data.content|safe}}</pre>
  {% if data.seriesNavData %}
  <div class="series-nav">
    <small>{{_("Series")}}</small>
    <a href="/novels/series/{{data.seriesNavData.seriesId}}">{{data.seriesNavData.title}}</a>

    <div class="actions">
      {% if data.seriesNavData.prev and data.seriesNavData.prev.available %}
      <a class="button neutral" href="/novels/{{data.seriesNavData.prev.id}}">
        #{{data.seriesNavData.prev.order}} {{data.seriesNavData.prev.title}}
      </a>
      {% endif %}
      {% if data.seriesNavData.next and data.seriesNavData.next.available %}
      <a class="button neutral" href="/novels/{{data.seriesNavData.next.id}}">
        #{{data.seriesNavData.next.order}} {{data.seriesNavData.next.title}}
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>

<h1>{{_("Recommended works")}}</h1>
<div class="novel-container">
    {% for d in recommended %}
    {% include "components/novel-entry.html" %}
    {% endfor %}
</div>

{% endblock %}
