:root {
  --md-sys-color-primary: #5A5891;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #E3DFFF;
  --md-sys-color-on-primary-container: #16134A;
  --md-sys-color-secondary: #5E5C71;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #E3E0F9;
  --md-sys-color-on-secondary-container: #1A1A2C;
  --md-sys-color-tertiary: #7A5368;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFD8EA;
  --md-sys-color-on-tertiary-container: #2F1123;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #FFFBFF;
  --md-sys-color-on-background: #1C1B1F;
  --md-sys-color-surface: #FCF8FD;
  --md-sys-color-on-surface: #1C1B1F;
  --md-sys-color-surface-variant: #E4E1EC;
  --md-sys-color-on-surface-variant: #47464A;
  --md-sys-color-outline: #78767A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-inverse-surface: #313034;
  --md-sys-color-inverse-on-surface: #F3EFF4;
  --md-sys-color-inverse-primary: #C3C0FF;
  --md-sys-color-surface1: #F7F3F9;
  --md-sys-color-surface2: #F2EEF6;
  --md-sys-color-surface3: #ECE9F2;
  --md-sys-color-surface4: #EBE7F2;
  --md-sys-color-surface5: #E8E4EF;
  --md-sys-color-surface-dim: #DCD9DD;
  --md-sys-color-surface-bright: #FCF8FD;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F6F2F7;
  --md-sys-color-surface-container: #F1EDF1;
  --md-sys-color-surface-container-high: #EBE7EC;
  --md-sys-color-surface-container-highest: #E5E1E6;
  --md-sys-color-outline-variant: #C9C5CA;
  --md-sys-color-primary2: #666599;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: #C3C0FF;
    --md-sys-color-on-primary: #2C2960;
    --md-sys-color-primary-container: #424078;
    --md-sys-color-on-primary-container: #E3DFFF;
    --md-sys-color-secondary: #C7C4DD;
    --md-sys-color-on-secondary: #2F2E42;
    --md-sys-color-secondary-container: #464559;
    --md-sys-color-on-secondary-container: #E3E0F9;
    --md-sys-color-tertiary: #EAB9D1;
    --md-sys-color-on-tertiary: #472639;
    --md-sys-color-tertiary-container: #603B50;
    --md-sys-color-on-tertiary-container: #FFD8EA;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error-container: #FFB4AB;
    --md-sys-color-background: #1C1B1F;
    --md-sys-color-on-background: #E5E1E6;
    --md-sys-color-surface: #131316;
    --md-sys-color-on-surface: #E5E1E6;
    --md-sys-color-surface-variant: #47464F;
    --md-sys-color-on-surface-variant: #C9C5CA;
    --md-sys-color-outline: #929094;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #E5E1E6;
    --md-sys-color-inverse-on-surface: #313034;
    --md-sys-color-inverse-primary: #5A5891;
    --md-sys-color-surface1: #232229;
    --md-sys-color-surface2: #292730;
    --md-sys-color-surface3: #2E2D37;
    --md-sys-color-surface4: #2F2E39;
    --md-sys-color-surface5: #32313D;
    --md-sys-color-surface-dim: #131316;
    --md-sys-color-surface-bright: #3A393C;
    --md-sys-color-surface-container-lowest: #0E0E11;
    --md-sys-color-surface-container-low: #1C1B1F;
    --md-sys-color-surface-container: #201F23;
    --md-sys-color-surface-container-high: #2A292D;
    --md-sys-color-surface-container-highest: #353438;
    --md-sys-color-outline-variant: #47464A;
    --md-sys-color-primary2: #B7B4F2;
  }
}
