:root {
  --md-sys-color-primary: #745086;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #F6D9FF;
  --md-sys-color-on-primary-container: #2C0B3E;
  --md-sys-color-secondary: #68596D;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #F0DCF4;
  --md-sys-color-on-secondary-container: #231728;
  --md-sys-color-tertiary: #815252;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFDAD9;
  --md-sys-color-on-tertiary-container: #331112;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #FFFBFF;
  --md-sys-color-on-background: #1D1B1E;
  --md-sys-color-surface: #FFF7FC;
  --md-sys-color-on-surface: #1D1B1E;
  --md-sys-color-surface-variant: #EADFEA;
  --md-sys-color-on-surface-variant: #494549;
  --md-sys-color-outline: #7B767A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-inverse-surface: #332F33;
  --md-sys-color-inverse-on-surface: #F6EFF3;
  --md-sys-color-inverse-primary: #E2B7F4;
  --md-sys-color-surface1: #F8F2F9;
  --md-sys-color-surface2: #F4EDF5;
  --md-sys-color-surface3: #EFE8F1;
  --md-sys-color-surface4: #EEE6F0;
  --md-sys-color-surface5: #EBE3EE;
  --md-sys-color-surface-dim: #DFD8DC;
  --md-sys-color-surface-bright: #FFF7FC;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9F1F6;
  --md-sys-color-surface-container: #F3ECF0;
  --md-sys-color-surface-container-high: #EEE6EB;
  --md-sys-color-surface-container-highest: #E8E0E5;
  --md-sys-color-outline-variant: #CBC5C9;
  --md-sys-color-primary2: #7E5D8F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: #E2B7F4;
    --md-sys-color-on-primary: #432254;
    --md-sys-color-primary-container: #5B396D;
    --md-sys-color-on-primary-container: #F6D9FF;
    --md-sys-color-secondary: #D3C0D8;
    --md-sys-color-on-secondary: #382C3E;
    --md-sys-color-secondary-container: #504255;
    --md-sys-color-on-secondary-container: #F0DCF4;
    --md-sys-color-tertiary: #F5B7B7;
    --md-sys-color-on-tertiary: #4C2526;
    --md-sys-color-tertiary-container: #663B3B;
    --md-sys-color-on-tertiary-container: #FFDAD9;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error-container: #FFB4AB;
    --md-sys-color-background: #1D1B1E;
    --md-sys-color-on-background: #E8E0E5;
    --md-sys-color-surface: #151216;
    --md-sys-color-on-surface: #E8E0E5;
    --md-sys-color-surface-variant: #4B444D;
    --md-sys-color-on-surface-variant: #CBC5C9;
    --md-sys-color-outline: #958F93;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #E8E0E5;
    --md-sys-color-inverse-on-surface: #332F33;
    --md-sys-color-inverse-primary: #745086;
    --md-sys-color-surface1: #262228;
    --md-sys-color-surface2: #2C272E;
    --md-sys-color-surface3: #322C35;
    --md-sys-color-surface4: #342D37;
    --md-sys-color-surface5: #38303B;
    --md-sys-color-surface-dim: #151216;
    --md-sys-color-surface-bright: #3C383C;
    --md-sys-color-surface-container-lowest: #100D10;
    --md-sys-color-surface-container-low: #1D1B1E;
    --md-sys-color-surface-container: #221F22;
    --md-sys-color-surface-container-high: #2C292C;
    --md-sys-color-surface-container-highest: #373437;
    --md-sys-color-outline-variant: #494549;
    --md-sys-color-primary2: #D5ABE7;
  }
}
