:root {
  --md-sys-color-primary: #006D3A;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #9AF6B4;
  --md-sys-color-on-primary-container: #00210D;
  --md-sys-color-secondary: #2F6A43;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #B2F1C0;
  --md-sys-color-on-secondary-container: #00210D;
  --md-sys-color-tertiary: #006971;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #9DF0F9;
  --md-sys-color-on-tertiary-container: #002023;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #F4FEFF;
  --md-sys-color-on-background: #111E1F;
  --md-sys-color-surface: #EEFCFE;
  --md-sys-color-on-surface: #111E1F;
  --md-sys-color-surface-variant: #CCE7EB;
  --md-sys-color-on-surface-variant: #3C494B;
  --md-sys-color-outline: #6C797B;
  --md-sys-color-shadow: #000000;
  --md-sys-color-inverse-surface: #263334;
  --md-sys-color-inverse-on-surface: #E5F3F5;
  --md-sys-color-inverse-primary: #7EDA9A;
  --md-sys-color-surface1: #E8F7F5;
  --md-sys-color-surface2: #E0F2EF;
  --md-sys-color-surface3: #D9EEE9;
  --md-sys-color-surface4: #D7ECE7;
  --md-sys-color-surface5: #D2EAE3;
  --md-sys-color-surface-dim: #CFDDDE;
  --md-sys-color-surface-bright: #EEFCFE;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #E8F6F8;
  --md-sys-color-surface-container: #E3F0F2;
  --md-sys-color-surface-container-high: #DDEBEC;
  --md-sys-color-surface-container-highest: #D7E5E7;
  --md-sys-color-outline-variant: #BBC9CB;
  --md-sys-color-primary2: #147849;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: #7EDA9A;
    --md-sys-color-on-primary: #00391B;
    --md-sys-color-primary-container: #00522A;
    --md-sys-color-on-primary-container: #9AF6B4;
    --md-sys-color-secondary: #96D5A6;
    --md-sys-color-on-secondary: #00391B;
    --md-sys-color-secondary-container: #13512D;
    --md-sys-color-on-secondary-container: #B2F1C0;
    --md-sys-color-tertiary: #81D3DD;
    --md-sys-color-on-tertiary: #00363B;
    --md-sys-color-tertiary-container: #004F55;
    --md-sys-color-on-tertiary-container: #9DF0F9;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error-container: #FFB4AB;
    --md-sys-color-background: #111E1F;
    --md-sys-color-on-background: #D7E5E7;
    --md-sys-color-surface: #091517;
    --md-sys-color-on-surface: #D7E5E7;
    --md-sys-color-surface-variant: #324B4E;
    --md-sys-color-on-surface-variant: #BBC9CB;
    --md-sys-color-outline: #869395;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #D7E5E7;
    --md-sys-color-inverse-on-surface: #263334;
    --md-sys-color-inverse-primary: #006D3A;
    --md-sys-color-surface1: #162624;
    --md-sys-color-surface2: #192C28;
    --md-sys-color-surface3: #1C322C;
    --md-sys-color-surface4: #1D342D;
    --md-sys-color-surface5: #1F372F;
    --md-sys-color-surface-dim: #091517;
    --md-sys-color-surface-bright: #2F3B3D;
    --md-sys-color-surface-container-lowest: #041011;
    --md-sys-color-surface-container-low: #111E1F;
    --md-sys-color-surface-container: #152223;
    --md-sys-color-surface-container-high: #202C2E;
    --md-sys-color-surface-container-highest: #2A3738;
    --md-sys-color-outline-variant: #3C494B;
    --md-sys-color-primary2: #74CD90;
  }
}
