:root {
  --md-sys-color-primary: #5E5E5E;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #E2E2E2;
  --md-sys-color-on-primary-container: #1B1B1B;
  --md-sys-color-secondary: #5E5E5E;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #E2E2E2;
  --md-sys-color-on-secondary-container: #1B1B1B;
  --md-sys-color-tertiary: #5E5E5E;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #E2E2E2;
  --md-sys-color-on-tertiary-container: #1B1B1B;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #FCFCFC;
  --md-sys-color-on-background: #1B1B1B;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-on-surface: #1B1B1B;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #474747;
  --md-sys-color-outline: #777777;
  --md-sys-color-shadow: #000000;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #F1F1F1;
  --md-sys-color-inverse-primary: #C6C6C6;
  --md-sys-color-surface1: #F4F4F4;
  --md-sys-color-surface2: #EFEFEF;
  --md-sys-color-surface3: #EAEAEA;
  --md-sys-color-surface4: #E9E9E9;
  --md-sys-color-surface5: #E6E6E6;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-outline-variant: #C6C6C6;
  --md-sys-color-primary2: #6A6A6A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: #C6C6C6;
    --md-sys-color-on-primary: #303030;
    --md-sys-color-primary-container: #474747;
    --md-sys-color-on-primary-container: #E2E2E2;
    --md-sys-color-secondary: #C6C6C6;
    --md-sys-color-on-secondary: #303030;
    --md-sys-color-secondary-container: #474747;
    --md-sys-color-on-secondary-container: #E2E2E2;
    --md-sys-color-tertiary: #C6C6C6;
    --md-sys-color-on-tertiary: #303030;
    --md-sys-color-tertiary-container: #474747;
    --md-sys-color-on-tertiary-container: #E2E2E2;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error-container: #FFB4AB;
    --md-sys-color-background: #1B1B1B;
    --md-sys-color-on-background: #E2E2E2;
    --md-sys-color-surface: #131313;
    --md-sys-color-on-surface: #E2E2E2;
    --md-sys-color-surface-variant: #474747;
    --md-sys-color-on-surface-variant: #C6C6C6;
    --md-sys-color-outline: #919191;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #E2E2E2;
    --md-sys-color-inverse-on-surface: #303030;
    --md-sys-color-inverse-primary: #5E5E5E;
    --md-sys-color-surface1: #232323;
    --md-sys-color-surface2: #282828;
    --md-sys-color-surface3: #2D2D2D;
    --md-sys-color-surface4: #2F2F2F;
    --md-sys-color-surface5: #323232;
    --md-sys-color-surface-dim: #131313;
    --md-sys-color-surface-bright: #393939;
    --md-sys-color-surface-container-lowest: #0E0E0E;
    --md-sys-color-surface-container-low: #1B1B1B;
    --md-sys-color-surface-container: #1F1F1F;
    --md-sys-color-surface-container-high: #2A2A2A;
    --md-sys-color-surface-container-highest: #353535;
    --md-sys-color-outline-variant: #474747;
    --md-sys-color-primary2: #BABABA;
  }
}
