:root {
    --md-sys-color-primary: #006970;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-primary-container: #7FF4FF;
    --md-sys-color-on-primary-container: #002022;
    --md-sys-color-secondary: #3C6472;
    --md-sys-color-on-secondary: #FFFFFF;
    --md-sys-color-secondary-container: #C0E9FA;
    --md-sys-color-on-secondary-container: #001F28;
    --md-sys-color-tertiary: #316383;
    --md-sys-color-on-tertiary: #FFFFFF;
    --md-sys-color-tertiary-container: #C8E6FF;
    --md-sys-color-on-tertiary-container: #001E2E;
    --md-sys-color-error: #BA1A1A;
    --md-sys-color-on-error: #FFFFFF;
    --md-sys-color-error-container: #FFDAD6;
    --md-sys-color-on-error-container: #410002;
    --md-sys-color-background: #F4FEFF;
    --md-sys-color-on-background: #111E1F;
    --md-sys-color-surface: #EEFCFD;
    --md-sys-color-on-surface: #111E1F;
    --md-sys-color-surface-variant: #D4E6E8;
    --md-sys-color-on-surface-variant: #3C494A;
    --md-sys-color-outline: #6C797B;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #263334;
    --md-sys-color-inverse-on-surface: #E5F3F5;
    --md-sys-color-inverse-primary: #00DBEA;
    --md-sys-color-surface1: #E8F6F8;
    --md-sys-color-surface2: #E0F2F3;
    --md-sys-color-surface3: #D9EDEF;
    --md-sys-color-surface4: #D7ECEE;
    --md-sys-color-surface5: #D2E9EB;
    --md-sys-color-surface-dim: #CFDDDE;
    --md-sys-color-surface-bright: #EEFCFD;
    --md-sys-color-surface-container-lowest: #FFFFFF;
    --md-sys-color-surface-container-low: #E8F6F8;
    --md-sys-color-surface-container: #E3F1F2;
    --md-sys-color-surface-container-high: #DDEBEC;
    --md-sys-color-surface-container-highest: #D7E5E6;
    --md-sys-color-outline-variant: #BBC9CA;
    --md-sys-color-primary2: #14747B;
}

@media (prefers-color-scheme: dark) {
    :root {
        --md-sys-color-primary: #00DBEA;
        --md-sys-color-on-primary: #00363B;
        --md-sys-color-primary-container: #004F55;
        --md-sys-color-on-primary-container: #7FF4FF;
        --md-sys-color-secondary: #A4CDDD;
        --md-sys-color-on-secondary: #053542;
        --md-sys-color-secondary-container: #234C59;
        --md-sys-color-on-secondary-container: #C0E9FA;
        --md-sys-color-tertiary: #9CCCF0;
        --md-sys-color-on-tertiary: #00344D;
        --md-sys-color-tertiary-container: #134B69;
        --md-sys-color-on-tertiary-container: #C8E6FF;
        --md-sys-color-error: #FFB4AB;
        --md-sys-color-on-error: #690005;
        --md-sys-color-error-container: #93000A;
        --md-sys-color-on-error-container: #FFB4AB;
        --md-sys-color-background: #111E1F;
        --md-sys-color-on-background: #D7E5E6;
        --md-sys-color-surface: #091517;
        --md-sys-color-on-surface: #D7E5E6;
        --md-sys-color-surface-variant: #394A4B;
        --md-sys-color-on-surface-variant: #BBC9CA;
        --md-sys-color-outline: #869395;
        --md-sys-color-shadow: #000000;
        --md-sys-color-inverse-surface: #D7E5E6;
        --md-sys-color-inverse-on-surface: #263334;
        --md-sys-color-inverse-primary: #006970;
        --md-sys-color-surface1: #102628;
        --md-sys-color-surface2: #0F2C2E;
        --md-sys-color-surface3: #0F3235;
        --md-sys-color-surface4: #0F3436;
        --md-sys-color-surface5: #0E373A;
        --md-sys-color-surface-dim: #091517;
        --md-sys-color-surface-bright: #2F3B3D;
        --md-sys-color-surface-container-lowest: #041011;
        --md-sys-color-surface-container-low: #111E1F;
        --md-sys-color-surface-container: #152223;
        --md-sys-color-surface-container-high: #202C2D;
        --md-sys-color-surface-container-highest: #2A3738;
        --md-sys-color-outline-variant: #3C494A;
        --md-sys-color-primary2: #00CEDC;
    }
}
