:root {
  --md-sys-color-primary: #8B5023;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #FFDCC6;
  --md-sys-color-on-primary-container: #311300;
  --md-sys-color-secondary: #755846;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #FFDCC6;
  --md-sys-color-on-secondary-container: #2B1708;
  --md-sys-color-tertiary: #606134;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #E6E6AD;
  --md-sys-color-on-tertiary-container: #1C1D00;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #FFFBFF;
  --md-sys-color-on-background: #201A17;
  --md-sys-color-surface: #FFF8F5;
  --md-sys-color-on-surface: #201A17;
  --md-sys-color-surface-variant: #F4DED3;
  --md-sys-color-on-surface-variant: #4D4541;
  --md-sys-color-outline: #7E7571;
  --md-sys-color-shadow: #000000;
  --md-sys-color-inverse-surface: #362F2B;
  --md-sys-color-inverse-on-surface: #FBEEE8;
  --md-sys-color-inverse-primary: #FFB786;
  --md-sys-color-surface1: #F9F2F4;
  --md-sys-color-surface2: #F5EDED;
  --md-sys-color-surface3: #F2E8E6;
  --md-sys-color-surface4: #F1E6E5;
  --md-sys-color-surface5: #EFE3E0;
  --md-sys-color-surface-dim: #E4D8D2;
  --md-sys-color-surface-bright: #FFF8F5;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FEF1EB;
  --md-sys-color-surface-container: #F8EBE5;
  --md-sys-color-surface-container-high: #F2E6E0;
  --md-sys-color-surface-container-highest: #ECE0DA;
  --md-sys-color-outline-variant: #D0C4BF;
  --md-sys-color-primary2: #945D34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: #FFB786;
    --md-sys-color-on-primary: #502400;
    --md-sys-color-primary-container: #6E390D;
    --md-sys-color-on-primary-container: #FFDCC6;
    --md-sys-color-secondary: #E5BFA8;
    --md-sys-color-on-secondary: #422B1B;
    --md-sys-color-secondary-container: #5B4130;
    --md-sys-color-on-secondary-container: #FFDCC6;
    --md-sys-color-tertiary: #C9CA93;
    --md-sys-color-on-tertiary: #31320A;
    --md-sys-color-tertiary-container: #48491F;
    --md-sys-color-on-tertiary-container: #E6E6AD;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error-container: #FFB4AB;
    --md-sys-color-background: #201A17;
    --md-sys-color-on-background: #ECE0DA;
    --md-sys-color-surface: #18120F;
    --md-sys-color-on-surface: #ECE0DA;
    --md-sys-color-surface-variant: #52443C;
    --md-sys-color-on-surface-variant: #D0C4BF;
    --md-sys-color-outline: #998F8A;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #ECE0DA;
    --md-sys-color-inverse-on-surface: #362F2B;
    --md-sys-color-inverse-primary: #8B5023;
    --md-sys-color-surface1: #2A211C;
    --md-sys-color-surface2: #31261F;
    --md-sys-color-surface3: #382B23;
    --md-sys-color-surface4: #3A2C24;
    --md-sys-color-surface5: #3E2F26;
    --md-sys-color-surface-dim: #18120F;
    --md-sys-color-surface-bright: #3F3834;
    --md-sys-color-surface-container-lowest: #120D0A;
    --md-sys-color-surface-container-low: #201A17;
    --md-sys-color-surface-container: #241E1B;
    --md-sys-color-surface-container-high: #2F2925;
    --md-sys-color-surface-container-highest: #3A3330;
    --md-sys-color-outline-variant: #4D4541;
    --md-sys-color-primary2: #F1AB7B;
  }
}
