:root {
  --md-sys-color-primary: #904B3D;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #FFDAD3;
  --md-sys-color-on-primary-container: #3A0A03;
  --md-sys-color-secondary: #775750;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #FFDAD3;
  --md-sys-color-on-secondary-container: #2C1511;
  --md-sys-color-tertiary: #6E5C2E;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #F9E0A6;
  --md-sys-color-on-tertiary-container: #241A00;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #FFFBFF;
  --md-sys-color-on-background: #201A19;
  --md-sys-color-surface: #FFF8F6;
  --md-sys-color-on-surface: #201A19;
  --md-sys-color-surface-variant: #F5DDD9;
  --md-sys-color-on-surface-variant: #4D4543;
  --md-sys-color-outline: #7F7573;
  --md-sys-color-shadow: #000000;
  --md-sys-color-inverse-surface: #362F2D;
  --md-sys-color-inverse-on-surface: #FBEEEB;
  --md-sys-color-inverse-primary: #FFB4A5;
  --md-sys-color-surface1: #F9F2F5;
  --md-sys-color-surface2: #F6EDEF;
  --md-sys-color-surface3: #F2E7E9;
  --md-sys-color-surface4: #F1E6E8;
  --md-sys-color-surface5: #EFE2E4;
  --md-sys-color-surface-dim: #E4D7D5;
  --md-sys-color-surface-bright: #FFF8F6;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FEF1EE;
  --md-sys-color-surface-container: #F8EBE8;
  --md-sys-color-surface-container-high: #F3E5E3;
  --md-sys-color-surface-container-highest: #EDE0DD;
  --md-sys-color-outline-variant: #D0C4C1;
  --md-sys-color-primary2: #98594C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: #FFB4A5;
    --md-sys-color-on-primary: #561E14;
    --md-sys-color-primary-container: #733428;
    --md-sys-color-on-primary-container: #FFDAD3;
    --md-sys-color-secondary: #E7BDB5;
    --md-sys-color-on-secondary: #442A24;
    --md-sys-color-secondary-container: #5D3F39;
    --md-sys-color-on-secondary-container: #FFDAD3;
    --md-sys-color-tertiary: #DCC48C;
    --md-sys-color-on-tertiary: #3D2E04;
    --md-sys-color-tertiary-container: #554519;
    --md-sys-color-on-tertiary-container: #F9E0A6;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error-container: #FFB4AB;
    --md-sys-color-background: #201A19;
    --md-sys-color-on-background: #EDE0DD;
    --md-sys-color-surface: #181211;
    --md-sys-color-on-surface: #EDE0DD;
    --md-sys-color-surface-variant: #534340;
    --md-sys-color-on-surface-variant: #D0C4C1;
    --md-sys-color-outline: #998E8C;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #EDE0DD;
    --md-sys-color-inverse-on-surface: #362F2D;
    --md-sys-color-inverse-primary: #904B3D;
    --md-sys-color-surface1: #2A211F;
    --md-sys-color-surface2: #312623;
    --md-sys-color-surface3: #382A28;
    --md-sys-color-surface4: #3A2C29;
    --md-sys-color-surface5: #3E2F2C;
    --md-sys-color-surface-dim: #181211;
    --md-sys-color-surface-bright: #3F3736;
    --md-sys-color-surface-container-lowest: #120D0C;
    --md-sys-color-surface-container-low: #201A19;
    --md-sys-color-surface-container: #251E1D;
    --md-sys-color-surface-container-high: #2F2827;
    --md-sys-color-surface-container-highest: #3B3332;
    --md-sys-color-outline-variant: #4D4543;
    --md-sys-color-primary2: #F1A899;
  }
}
