:root {
  --md-sys-color-primary: #406835;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #C1EFAF;
  --md-sys-color-on-primary-container: #012200;
  --md-sys-color-secondary: #54634D;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #D7E8CC;
  --md-sys-color-on-secondary-container: #121F0E;
  --md-sys-color-tertiary: #386568;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #BCEBEE;
  --md-sys-color-on-tertiary-container: #002021;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #FCFDF6;
  --md-sys-color-on-background: #1A1C18;
  --md-sys-color-surface: #FAFAF3;
  --md-sys-color-on-surface: #1A1C18;
  --md-sys-color-surface-variant: #DFE4D7;
  --md-sys-color-on-surface-variant: #454743;
  --md-sys-color-outline: #767872;
  --md-sys-color-shadow: #000000;
  --md-sys-color-inverse-surface: #2F312D;
  --md-sys-color-inverse-on-surface: #F1F1EB;
  --md-sys-color-inverse-primary: #A5D395;
  --md-sys-color-surface1: #F3F5EC;
  --md-sys-color-surface2: #EDF1E6;
  --md-sys-color-surface3: #E7ECE0;
  --md-sys-color-surface4: #E5EBDF;
  --md-sys-color-surface5: #E2E8DB;
  --md-sys-color-surface-dim: #DADAD4;
  --md-sys-color-surface-bright: #FAFAF3;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F4F4ED;
  --md-sys-color-surface-container: #EEEEE8;
  --md-sys-color-surface-container-high: #E8E9E2;
  --md-sys-color-surface-container-highest: #E2E3DC;
  --md-sys-color-outline-variant: #C6C7C1;
  --md-sys-color-primary2: #4E7344;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: #A5D395;
    --md-sys-color-on-primary: #12380B;
    --md-sys-color-primary-container: #295020;
    --md-sys-color-on-primary-container: #C1EFAF;
    --md-sys-color-secondary: #BBCBB1;
    --md-sys-color-on-secondary: #273422;
    --md-sys-color-secondary-container: #3D4B37;
    --md-sys-color-on-secondary-container: #D7E8CC;
    --md-sys-color-tertiary: #A0CFD2;
    --md-sys-color-on-tertiary: #003739;
    --md-sys-color-tertiary-container: #1E4D50;
    --md-sys-color-on-tertiary-container: #BCEBEE;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error-container: #FFB4AB;
    --md-sys-color-background: #1A1C18;
    --md-sys-color-on-background: #E2E3DC;
    --md-sys-color-surface: #121410;
    --md-sys-color-on-surface: #E2E3DC;
    --md-sys-color-surface-variant: #43483F;
    --md-sys-color-on-surface-variant: #C6C7C1;
    --md-sys-color-outline: #90918C;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #E2E3DC;
    --md-sys-color-inverse-on-surface: #2F312D;
    --md-sys-color-inverse-primary: #406835;
    --md-sys-color-surface1: #20241D;
    --md-sys-color-surface2: #242A21;
    --md-sys-color-surface3: #293025;
    --md-sys-color-surface4: #2A3126;
    --md-sys-color-surface5: #2D3529;
    --md-sys-color-surface-dim: #121410;
    --md-sys-color-surface-bright: #383A35;
    --md-sys-color-surface-container-lowest: #0D0F0B;
    --md-sys-color-surface-container-low: #1A1C18;
    --md-sys-color-surface-container: #1E201C;
    --md-sys-color-surface-container-high: #282B27;
    --md-sys-color-surface-container-highest: #333531;
    --md-sys-color-outline-variant: #454743;
    --md-sys-color-primary2: #99C68A;
  }
}
