:root {
  --md-sys-color-primary: #38608F;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #D2E4FF;
  --md-sys-color-on-primary-container: #001C37;
  --md-sys-color-secondary: #535F70;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #D7E3F8;
  --md-sys-color-on-secondary-container: #101C2B;
  --md-sys-color-tertiary: #6C5678;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #F4D9FF;
  --md-sys-color-on-tertiary-container: #261431;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #FDFCFF;
  --md-sys-color-on-background: #1A1C1E;
  --md-sys-color-surface: #FAF9FD;
  --md-sys-color-on-surface: #1A1C1E;
  --md-sys-color-surface-variant: #DFE2EB;
  --md-sys-color-on-surface-variant: #45474A;
  --md-sys-color-outline: #76777A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-inverse-surface: #2F3033;
  --md-sys-color-inverse-on-surface: #F1F0F4;
  --md-sys-color-inverse-primary: #A2C9FE;
  --md-sys-color-surface1: #F3F4F9;
  --md-sys-color-surface2: #EDEFF6;
  --md-sys-color-surface3: #E7EAF2;
  --md-sys-color-surface4: #E5E9F1;
  --md-sys-color-surface5: #E1E6EF;
  --md-sys-color-surface-dim: #DAD9DD;
  --md-sys-color-surface-bright: #FAF9FD;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F4F3F7;
  --md-sys-color-surface-container: #EEEDF1;
  --md-sys-color-surface-container-high: #E8E8EB;
  --md-sys-color-surface-container-highest: #E3E2E6;
  --md-sys-color-outline-variant: #C6C6CA;
  --md-sys-color-primary2: #476C97;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: #A2C9FE;
    --md-sys-color-on-primary: #00325A;
    --md-sys-color-primary-container: #1C4875;
    --md-sys-color-on-primary-container: #D2E4FF;
    --md-sys-color-secondary: #BBC7DB;
    --md-sys-color-on-secondary: #253141;
    --md-sys-color-secondary-container: #3C4858;
    --md-sys-color-on-secondary-container: #D7E3F8;
    --md-sys-color-tertiary: #D8BDE4;
    --md-sys-color-on-tertiary: #3C2947;
    --md-sys-color-tertiary-container: #533F5F;
    --md-sys-color-on-tertiary-container: #F4D9FF;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error-container: #FFB4AB;
    --md-sys-color-background: #1A1C1E;
    --md-sys-color-on-background: #E3E2E6;
    --md-sys-color-surface: #121316;
    --md-sys-color-on-surface: #E3E2E6;
    --md-sys-color-surface-variant: #43474E;
    --md-sys-color-on-surface-variant: #C6C6CA;
    --md-sys-color-outline: #909094;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #E3E2E6;
    --md-sys-color-inverse-on-surface: #2F3033;
    --md-sys-color-inverse-primary: #38608F;
    --md-sys-color-surface1: #202428;
    --md-sys-color-surface2: #24292F;
    --md-sys-color-surface3: #282E36;
    --md-sys-color-surface4: #2A3038;
    --md-sys-color-surface5: #2C333C;
    --md-sys-color-surface-dim: #121316;
    --md-sys-color-surface-bright: #38393C;
    --md-sys-color-surface-container-lowest: #0D0E11;
    --md-sys-color-surface-container-low: #1A1C1E;
    --md-sys-color-surface-container: #1E2022;
    --md-sys-color-surface-container-high: #292A2D;
    --md-sys-color-surface-container-highest: #333538;
    --md-sys-color-outline-variant: #45474A;
    --md-sys-color-primary2: #95BDF1;
  }
}
