{% extends "settings/index.html" %}
{% set settings_title = _("Account") %}

{% block settings_content %}
<h3>{{_("Account")}}</h3>
{%- if g.authorized -%}
<div class="info">
    <h3 class="title">{{_("Manage pixiv account")}}</h3>
    <p>{{_("To manage your account information and security settings, go to the official Account Portal")}}</p>
    <a href="/jump.php?url=https://accounts.pixiv.net/portal" rel="noopener noreferrer" target="_blank">
        <strong>{{_("Go to Account Portal")}}</strong>
    </a>
</div>
<hr>
<section>
    <div>{{"Nickname"}}</div>
    <main>
        <strong>{{account_data["user_status"]["user_name"]}}</strong>
        <br>
        <br>
        <small class="tip">{{_("You change your nickname and customize your profile in the <a href='%(link)s'>Profile editor</a>.", link=url_for("profile_edit.edit_profile"))}}</small>
    </main>
</section>
<section>
    <div>{{_("Account Token")}}</div>
    <main>
        <div class="hidden-content">
            <input type="checkbox" id="token-r">
            <label for="token-r">{{_("Click to reveal")}}</label>
            <main>
                <code>{{request.cookies.get("Vixipy-Token")}}</code>
            </main>
        </div>
        <small class="tip">{{_("This is the token used to sign into your pixiv account. You may use this if you forget your token or want to move instances or pixiv frontends.")}}</small>
    </main>
</section>
<section>
    <div>{{_("Email")}}</div>
    <main>
        <div class="hidden-content">
            <input type="checkbox" id="email-r">
            <label for="email-r">{{_("Click to reveal")}}</label>
            <main>
                <strong>{{account_data["user_status"]["user_mail_address"]}}</strong>
            </main>
        </div>
    </main>
</section>
<section>
    <div>pixiv ID</div>
    <main>
        {%- set handle = account_data["user_status"]["user_account"] -%}
        <strong>{{handle}}</strong>
        <br><br>
        <small class="tip">{{_('The pixiv ID is your "account handle", which is served as a short vanity link to your account. Example: pixiv.me/%(handle)s (or %(example)s for Vixipy). ', handle=handle, example=request.host + "/@" + handle)}}</small>
    </main>
</section>
<h3>{{_("Technical information")}}</h3>
<section>
    <div>{{_("CSRF Token")}}</div>
    <main>
        <div class="hidden-content">
            <input type="checkbox" id="csrf-r">
            <label for="csrf-r">{{_("Click to reveal")}}</label>
            <main>
                <code>{{request.cookies.get("Vixipy-CSRF")}}</code>
            </main>
        </div>
    </main>
</section>
<section>
    <div>{{_("pixiv A/B test IDs")}}</div>
    <main>
        <span>id: <code>{{request.cookies.get("Vixipy-p_ab_id")}}</code>, id_2: <code>{{request.cookies.get("Vixipy-p_ab_id_2")}}</code>, d_id: <code>{{request.cookies.get("Vixipy-p_ab_d_id")}}</code></span>
    </main>
</section>
<section>
    <div>yuid_b</div>
    <main>
        <code>{{request.cookies.get("Vixipy-yuid_b")}}</code>
    </main>
</section>
{%- else -%}
<div class="info">
    <h3 class="title">{{_("You're not logged in")}}</h3>
    <p>{{_("Sign in to your pixiv account to experience Vixipy to it's full potential. Don't worry, we won't steal your session tokens!")}}</p>
    <a href="{{url_for('login.login_page', return_to=url_for('settings.account'))}}"><strong>{{_("Sign in")}}</strong></a>
</div>
{%- endif -%}
{% endblock %}