{% extends "settings/index.html.j2" %}
{% set settings_title = _("Acknowledgements") %}

{% block settings_content %}
<h3>{{_("Acknowledgements")}}</h3>

<p>{{_("These projects and libraries help shape Vixipy:")}}</p>

<p><i>{{_("This section has been moved to the <a href='%(link)s'>Licenses page</a>.", link=url_for("settings.license"))}}</i></p>

<h4>{{_("Translations")}}</h4>
<p>{{_("These lovely people helped translate Vixipy (thank you so much &lt;3):")}}</p>
<ul class="translators-list">
    {% for x in i18n_cred %}
    <li>
        <a {% if x.link %}href="{{x.link}}"{% endif %}>
            <img src="{{ x.profile_img or '/proxy/s.pximg.net/common/images/no_profile.png' }}" alt="{{x.name}}">
            <main>
                <strong>{{x.name}}</strong>
                <small>{{x.languages|join(', ')}}</small>
            </main>
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
