{% extends "settings/index.html" %}
{% set settings_title = _("Display settings") %}

{% block settings_content %}
<h3>{{_("Display settings")}}</h3>
<section>
    <div>
        {{_("Work content")}}
    </div>
    <main>
        <form action="/settings/set_content_filter" method="post">
            {%- set ai_enabled = c.get("Vixipy-No-AI", 0)|int == 1 -%}
            {%- set r18_enabled = c.get("Vixipy-No-R18", 0)|int == 1 -%}
            {%- set r18g_enabled = c.get("Vixipy-No-R18G", 0)|int == 1 -%}
            {%- set sensitive_enabled = c.get("Vixipy-No-Sensitive", 0)|int == 1 -%}
            {%- set preview_enabled = c.get("Vixipy-Preview-Mode", 0)|int == 1 -%}
            {%- set blur_enabled = c.get("Vixipy-Blur-Sensitive", 0)|int == 1 -%}

            <label class="toggle-switch">
                <input type="checkbox" name="hide-ai"
                    {% if ai %}{% if not ai_enabled %}checked{% endif %}{% else %}disabled{% endif %}
                > {{_("Show AI-generated work")}}
            </label>
            <label class="toggle-switch">
                <input type="checkbox" name="hide-sensitive" 
                    {% if not config["NO_SENSITIVE"] %}{% if not sensitive_enabled %}checked{% endif %}{% else %}disabled{% endif %}> {{_("Display works that may contain sensitive content")}}
            </label>
            <label class="toggle-switch">
                <input type="checkbox" name="hide-r18"
                    {% if r18 %}{% if not r18_enabled %}checked{% endif %}{% else %}disabled{% endif %}> {{_("Show explicit content (R-18)")}}
            </label>
            <label class="toggle-switch">
                <input type="checkbox" name="hide-r18g"
                    {% if r18g %}{% if not r18g_enabled %}checked{% endif %}{% else %}disabled{% endif %}> {{_("Show ero-guro content (R-18G)")}}
            </label>
            <label class="toggle-switch">
                <input type="checkbox" name="preview-mode"
                    {% if preview_enabled %}checked{% endif %}> {{_("Hide artwork thumbnails (preview mode)")}}
            </label>
            <label class="toggle-switch">
                <input type="checkbox" name="blur"
                    {% if blur_enabled %}checked{% endif %}> {{_("Blur sensitive works (may cause performance issues!)")}}
            </label>
            <br>
            <button class="button smaller neutral" type="submit">{{_("Save preferences")}}</button>
        </form>
    </main>
</section>
<section>
    <div>{{_("Ad display settings")}}</div>
    <main>
        <label class="toggle-switch">
            <input type="checkbox" disabled> {{_("Display")}}
        </label>
    </main>
</section>
{% endblock %}
