{% extends "layouts/default.html" %}
{% set title = _("Results for %(tag)s", tag=tag_info.tag) %}

{% from "components/artwork-entry.html" import entry %}
{% from "components/paginator.html" import paginator %}

{% block content %}
<section id="search-info">
    <div class="banner-wrapper">
        <img src="{{tag_info.pixpedia.image}}" alt="">
        <div class="backdrop-wrapper"></div>
    </div>
    <main>
        <div class="wrapper">
            {% if tag_info.pixpedia.image %}
            <img src="{{tag_info.pixpedia.image}}" alt="{{tag_info.tag}}">
            {% endif %}
            <article>
                {% if tag_info.translation %}
                <h3>#{{tag_info.tag}} <small>{{ tag_info.translation.en or tag_info.translation.romaji }}</small></h3>
                {% else %}
                <h3>#{{tag_info.tag}}</h3>
                {% endif %}
                <p>{{_("<b>%(total)s</b> Works", total=data.total|numberformat)}}</p>
                {% if tag_info.pixpedia.abstract %}
                <p class="abstract">{{tag_info.pixpedia.abstract}}</p>
                {% endif %}
            </article>
        </div>
    </main>
</section>
<main>
{% block body %}{% endblock %}
</main>
{% endblock %}