<div class="backdrop" data-visible="">
  <div class="dialog-helper">
		<div class="dialog">
			<div class="title">
				<span>Display artworks on its orginal size</span>
				<button class="icon-button" aria-label="Close" id="emoji-close">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"></path></svg>
				</button>
			</div>
			<div class="dialog-content">
				<p>Access this feature by logging in with a pixiv account.</p>
				<br>
				
			</div>
		<a style="/*! padding: 8px; */color: #11111b;background-color: #74c7ec;font-size: 16px;border-radius: 16px;border: none;/*! padding: 16px 24px; */height: 32px;font-family: sans-serif;font-weight: bold;text-align: center;flex-shrink: 0;padding: 6px;">Log in</a></div>
	</div>
</div>
