<div class="novel-entry">
    {% if d.__class__.__name__ == 'NovelSeriesEntry' %}
    <a href="/novels/series/{{d.id}}">
        <img class="thumb" src="{{d.coverSmall}}" alt="{{d.title}}">
    {% else %}
    <a href="/novels/{{d.id}}">
        <img class="thumb" src="{{d.thumbUrl}}" alt="{{d.title}}">
    {% endif %}
    </a>
    <div class="info">
        <div class="metadata">
            {% set genre=d.genre %}
            {% if genre == 1 %}
            <div class="value">{{_("Romance")}}</div>
            {% elif genre == 2 %}
            <div class="value">{{_("Isekai fantasy")}}</div>
            {% elif genre == 3 %}
            <div class="value">{{_("Contemporary fantasy")}}</div>
            {% elif genre == 4 %}
            <div class="value">{{_("Mystery")}}</div>
            {% elif genre == 5 %}
            <div class="value">{{_("Horror")}}</div>
            {% elif genre == 6 %}
            <div class="value">{{_("Sci-fi")}}</div>
            {% elif genre == 7 %}
            <div class="value">{{_("Literature")}}</div>
            {% elif genre == 8 %}
            <div class="value">{{_("Drama")}}</div>
            {% elif genre == 9 %}
            <div class="value">{{_("Historical pieces")}}</div>
            {% elif genre == 10 %}
            <div class="value">{{_("BL (yaoi)")}}</div>
            {% elif genre == 11 %}
            <div class="value">{{_("Yuri")}}</div>
            {% elif genre == 12 %}
            <div class="value">{{_("For kids")}}</div>
            {% elif genre == 13 %}
            <div class="value">{{_("Poetry")}}</div>
            {% elif genre == 14 %}
            <div class="value">{{_("Essays/non-fiction")}}</div>
            {% elif genre == 15 %}
            <div class="value">{{_("Screenplays/scripts")}}</div>
            {% elif genre == 16 %}
            <div class="value">{{_("Reviews/opinion pieces")}}</div>
            {% elif genre == 17 %}
            <div class="value">{{_("Other")}}</div>
            {% endif %}

            {% if d.isOriginal %}
            <div class="value">{{_("Original")}}</div>
            {% endif %}

            {% if d.xRestrict >= 1 %}
            <div class="value r18">
                R-18
            </div>
            {% endif %}
        </div>

        {% if d.__class__.__name__ == 'NovelSeriesEntry' %}
        <a href="/novels/series/{{d.id}}" class="title">
        {% else %}
        <a href="/novels/{{d.id}}" class="title">
        {% endif %}{{d.title}}</a>

        <a class="author" href="/users/{{d.userId}}/novels">
            <img src="{{d.profileImageUrl}}" alt="{{d.username}}"> {{d.username}}
        </a>
        
        {% if d.description | length >= 64 %}
        <p>{{d.description[:64] | safe}}...</p>
        {% else %}
        <p>{{d.description | safe}}</p>
        {% endif %}

        <div class="taglist">
            {% for tag in d.tags %}
            <span><a>#{{tag}}</a></span>
            {% endfor %}
        </div>
        <div class="stats">
            {% if d.__class__.__name__ == 'NovelSeriesEntry' %}
            <span>{{_("%(episode)s Episode(s)", episode=d.episodeCount|numberformat)}}</span>
            {% endif %}
            <span>{{d.createDate|dateformat}}</span>
            <span>{{_("%(wordCount)s words", wordCount=d.wordCount|numberformat)}}</span>
            <span>{{_("%(textCount)s characters", textCount=d.textCount|numberformat)}}</span>
        </div>
    </div>
</div>