{% extends "layouts/default.html" %}
{% block title %}{{ data.artwork.title }}{% endblock %}

{% block additionalHeadData %}
<meta property="og:title" content="{{ data.artwork.title }} - PyXiv">
<meta property="og:site_name" content="PyXiv">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ data.artwork.title }} by {{ data.user.name }}">
<meta property="og:image" content="https://embed.pixiv.net/artwork.php?illust_id={{ data.artwork._id }}">
<meta property="og:url" content="/artworks/{{ data.artwork._id }}">
<meta content="summary_large_image" name="twitter:card" />
{% endblock %}

{% block content %}
<div class="illust-area">
	{% if data.artwork.isUgoira %}
	<div>
		<h2>PyXiv does not support Ugoira yet.</h2>
		<p>You can go to <a href="https://ugoira.com/i/{{ data.artwork._id }}" rel="noopener noreferrer">ugoira.com</a> to view as well as download it instead.</p>
	</div>
	{% else %}
	<div class="illusts">
		{% if data.artwork.pageCount > 1 %}
		{% for x in data.pages %}
		<div class="illust">
			<a href="{{ x.originalUrl }}">
				<img src="{{ x.thumbUrl }}" />
			</a>
		</div>
		{% endfor %}
		{% else %}
		<div class="illust">
			<a href="{{ data.artwork.originalUrl }}">
				<img src="{{ data.artwork.thumbUrl }}" />
			</a>
		</div>
		{% endif %}
	</div>
	{% endif %}

	<div class="illust-title">
		<span>{{ data.artwork.title }}</span>
		{% if g.isAuthorized %}
		<div class="illust-actions">
			{% if data.artwork.bookmarked %}
				<a href="/self/removebookmark/{{ data.artwork.bookmarkId }}?r=/artworks/{{ data.artwork._id }}">
					<img src={{"/static/icons/bookmarked.svg"}}/>
					<span>{{ data.artwork.bookmarkCount }}</span>
				</a>
			{% else %}
				<a href="/self/addbookmark/{{ data.artwork._id }}?r=/artworks/{{ data.artwork._id }}">
					<img src="/static/icons/bookmark.svg"/>
					<span>{{ data.artwork.bookmarkCount }}</span>
				</a>
			{% endif %}

			{% if data.artwork.liked %}
				<a href="#" onclick="cannotUnlike()">
					<img src="/static/icons/liked.svg"/>
					<span>{{ data.artwork.likeCount }}</span>
				</a>
			{% else %}
				<a href="/self/like/{{ data.artwork._id }}?r=/artworks/{{ data.artwork._id }}">
					<img src="/static/icons/like.svg"/>
					<span>{{ data.artwork.likeCount }}</span>
				</a>
			{% endif %}
		</div>
		{% else %}
		<div class="illust-actions">
				<a href="/self/addbookmark/{{ data.artwork._id }}?r=/artworks/{{ data.artwork._id }}">
					<img src="/static/icons/bookmark.svg"/>
					<span>{{ data.artwork.bookmarkCount }}</span>
				</a>
				<a href="/self/like/{{ data.artwork._id }}?r=/artworks/{{ data.artwork._id }}">
					<img src="/static/icons/like.svg"/>
					<span>{{ data.artwork.likeCount }}</span>
				</a>
		</div>

		{% endif %}
	</div>
	<div class="illust-metadata">
		{% if data.artwork.isAI %}
		<span>AI Generated</span>
		{% endif %}
		{% if data.artwork.xRestrict != 0 %}
		<span>{{ data.artwork.xRestrictClassification }}</span>
		{% endif %}
		<span>{{ data.artwork.viewCount }} views</span>
		<span>{{ data.artwork.likeCount }} likes</span>
		<span>{{ data.artwork.bookmarkCount }} bookmarks</span>
	</div>
	<div class="illust-author">
		<a href="/users/{{ data.user._id }}">
			<img src="{{ data.user.image}}" alt="{{ data.user.name}}"/>
			<span>{{ data.user.name }}</span>
		</a>
	</div>
	<br>
	<div class="illust-tags">
		{% for tag in data.artwork.tags %}
		<div class="tag">
			<a href="/tag/{{ tag.tag }}">
				#{{ tag.tag }}
			</a>
			{% if tag.enTranslation %}
			<i>{{ tag.enTranslation }}</i>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<br>
	{{ data.artwork.description|safe }}
</div>

<h2>Related</h2>

<div class="container">
	<div class="artwork-container">
		{% for d in data.related %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
	</div>
</div>

{% endblock %}
