{% extends "layouts/default.html" %}
{% block title %}{{ data.artwork.title }}{% endblock %}

{% block additionalHeadData %}
<meta property="og:title" content="{{ data.artwork.title }}">
<meta property="og:site_name" content="PyXiv">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ data.artwork.title }} by {{ data.user.name }} -- {{ data.artwork.viewCount}} views, {{ data.artwork.likeCount}} likes, {{ data.artwork.bookmarkCount }} bookmarks">
<meta property="og:image" content="https://embed.pixiv.net/artwork.php?illust_id={{ data.artwork._id }}">
<meta property="og:url" content="/artworks/{{ data.artwork._id }}">
<meta content="summary_large_image" name="twitter:card" />
{% endblock %}

{% block content %}
<div class="illust-area">
	{% if data.artwork.isUgoira %}
	<div class="illusts">
		<div class="illust">
			<video class="ugoira" autoplay muted loop disablepictureinpicture playsinline poster="{{ data.pages[0].thumbUrl }}" src="/proxy/ugoira/{{ data.artwork._id }}">
		</div>
	</div>
	<br>
	<a href="/proxy/ugoira/{{ data.artwork._id }}">Download</a>
	<a href="https://ugoira.com/i/{{ data.artwork._id }}">Go to ugoira.com for more options like GIF conversion.</a>
	{% else %}
	<div class="illusts">
		{% if data.artwork.pageCount > 1 %}
		{% for x in data.pages %}
		<div class="illust">
			<a href="{{ x.originalUrl }}">
				<img src="{{ x.thumbUrl }}" />
			</a>
		</div>
		{% endfor %}
		{% else %}
		<div class="illust">
			<a href="{{ data.artwork.originalUrl }}">
				<img src="{{ data.artwork.thumbUrl }}" />
			</a>
		</div>
		{% endif %}
	</div>
	{% endif %}

	<br>
	<div class="illust-title">
		<span>{{ data.artwork.title }}</span>
		{% if g.isAuthorized %}
		<div class="illust-actions">
			{% if data.artwork.commentOff == false %}
				<a href="/artworks/{{ data.artwork._id }}/comments">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M280-240q-17 0-28.5-11.5T240-280v-80h520v-360h80q17 0 28.5 11.5T880-680v600L720-240H280ZM80-280v-560q0-17 11.5-28.5T120-880h520q17 0 28.5 11.5T680-840v360q0 17-11.5 28.5T640-440H240L80-280Z"/></svg>
					<span>{{ data.artwork.commentCount}}</span>
				</a>
			{% endif %}
			{% if data.artwork.bookmarked %}
				<a href="/self/removebookmark/{{ data.artwork.bookmarkId }}?r=/artworks/{{ data.artwork._id }}">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z"/></svg>
					<span>{{ data.artwork.bookmarkCount }}</span>
				</a>
			{% else %}
				<a href="/self/addbookmark/{{ data.artwork._id }}?r=/artworks/{{ data.artwork._id }}">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg>
					<span>{{ data.artwork.bookmarkCount }}</span>
				</a>
			{% endif %}

			{% if data.artwork.liked %}
				<a href="#" onclick="cannotUnlike()">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M720-120H320v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h218q32 0 56 24t24 56v80q0 7-1.5 15t-4.5 15L794-168q-9 20-30 34t-44 14ZM240-640v520H80v-520h160Z"/></svg>
					<span>{{ data.artwork.likeCount }}</span>
				</a>
			{% else %}
				<a href="/self/like/{{ data.artwork._id }}?r=/artworks/{{ data.artwork._id }}">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/></svg>
					<span>{{ data.artwork.likeCount }}</span>
				</a>
			{% endif %}
		</div>
		{% else %}
		<div class="illust-actions">
			{% if data.artwork.commentOff == false %}
				<a href="/artworks/{{ data.artwork._id }}/comments">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M280-240q-17 0-28.5-11.5T240-280v-80h520v-360h80q17 0 28.5 11.5T880-680v600L720-240H280ZM80-280v-560q0-17 11.5-28.5T120-880h520q17 0 28.5 11.5T680-840v360q0 17-11.5 28.5T640-440H240L80-280Z"/></svg>
					<span>{{ data.artwork.commentCount}}</span>
				</a>
			{% endif %}

				<a href="/self/addbookmark/{{ data.artwork._id }}?r=/artworks/{{ data.artwork._id }}">

					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg>
					<span>{{ data.artwork.bookmarkCount }}</span>
				</a>
				<a href="/self/like/{{ data.artwork._id }}?r=/artworks/{{ data.artwork._id }}">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/></svg>
					<span>{{ data.artwork.likeCount }}</span>
				</a>
		</div>

		{% endif %}
	</div>
	<div class="illust-metadata">
		{% if data.artwork.isAI %}
		<span>AI Generated</span>
		{% endif %}
		{% if data.artwork.xRestrict != 0 %}
		<span>{{ data.artwork.xRestrictClassification }}</span>
		{% endif %}
		<span>{{ data.artwork.uploadDate.strftime("%a %b %d %Y, %H:%M:%S (%Z)") }}</span>
		<span>{{ data.artwork.viewCount }} views</span>
		<span>{{ data.artwork.likeCount }} likes</span>
		<span>{{ data.artwork.bookmarkCount }} bookmarks</span>
	</div>
	<div class="illust-author">
		<a href="/users/{{ data.user._id }}">
			<img src="{{ data.user.image}}" alt="{{ data.user.name}}"/>
			<span>{{ data.user.name }}</span>
		</a>
	</div>
	<br>
	<div class="illust-tags">
		{% for tag in data.artwork.tags %}
		<div class="tag">
			<a href="/tag/{{ tag.tag }}">
				#{{ tag.tag }}
			</a>
			{% if tag.enTranslation %}
			<i>{{ tag.enTranslation }}</i>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	{% if data.artwork.description %}
	<div class="illust-description">
		<h3>Description</h3>
		<p>
		{{ data.artwork.description|safe }}
		</p>
	</div>
	{% endif %}
</div>

<h2>Related</h2>

{% if g.get('omittedByFilter') %}
<i>Some entries have been hidden due to filters</i>
<br>
<br>
{% endif %}

<div class="container">
	<div class="artwork-container">
		{% for d in data.related %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
	</div>
</div>

{% endblock %}
