{% extends "layouts/default.html" %}
{% block title %}Bookmarks{% endblock %}

{% block content %}
<h1>{{ _("Your bookmarks (%(total)d)", total=data.total) }}</h1>

{% if data.works | length > 0 %}
<h2>{{ _("Frequent tags") }}</h2>

<div class="taglist">
  {% for t in frequent %}
  <span><a href="/tag/{{ t.tag }}">#{{ t.tag }}</a> {{ t.tag_translation }}</span>
  {% endfor %}
</div>

<br>
<br>
{% endif %}

<div class="container">
    <div class="artwork-container">
        {% for d in data.works %}
        {% include "components/artwork-prev.html" %}
        {% else %}
        <p>{{_("Nothing in here!")}}</p>
        {% endfor %}
    </div>
    <div class="paginator">
        {% if canGoPrevious %}
	<a href="?p={{ (request.args.get('p', 1) | int) - 1 }}">&lt;</a>
        {% else %}
        <a>&lt;</a>
        {% endif %}
	<span>Page {{ request.args.get('p', 1) }} of {{ pages }}</span>
        {% if canGoNext %}
        <a href="?p={{ (request.args.get('p', 1) | int) + 1 }}">&gt;</a>
        {% else %}
        <a>&gt;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
