{% extends "layouts/default.html" %}
{% block title %}Comments{% endblock %}

{% block content %}

<a href="/artworks/{{ illustId }}">&lt; {{ _("Return to artwork") }}</a>

{% set commentCount = comments|length %}

<h1>{{ _("Comments") }} ({{ commentCount }})</h1>

{% if g.isAuthorized %}
<div class="comment-entry">
	<img src="{{ g.userdata.imageBig }}" class="author-profile-pic">
	<form action="/self/comment?author={{ authorId }}&id={{ illustId }}" method="POST">
		<textarea id="comment-box" oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'" name="comment" autocomplete="off" required placeholder='{{ _("Comment as %(user)s...", user=g.userdata.name) }}'></textarea>
		<button class="icon-button" id="open-emoji" type="button" title="Insert emojis/stamps">
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M620-520q25 0 42.5-17.5T680-580q0-25-17.5-42.5T620-640q-25 0-42.5 17.5T560-580q0 25 17.5 42.5T620-520Zm-280 0q25 0 42.5-17.5T400-580q0-25-17.5-42.5T340-640q-25 0-42.5 17.5T280-580q0 25 17.5 42.5T340-520Zm140 260q68 0 123.5-38.5T684-400H276q25 63 80.5 101.5T480-260Zm0 180q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
		</button>
		<button type="submit" class="button" aria-label="Send">
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M120-160v-240l320-80-320-80v-240l760 320-760 320Z"/></svg>
		</button>
	</form>
</div>
{% else %}
<div class="comment-entry">
	<img src="/proxy/s.pximg.net/common/images/no_profile.png" class="author-profile-pic">
	<form>
		<textarea disabled autocomplete="off" required placeholder={{ _("Log in to post comments") }}></textarea>
		<button type="submit" disabled class="button">
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M120-160v-240l320-80-320-80v-240l760 320-760 320Z"/></svg>
		</button>
	</form>
</div>
{% endif %}

<hr>

<div class="comments">
	{% if commentCount > 0 %}
	{% for comment in comments %}
	<div class="comment">
		<a href="/users/{{ comment.authorId }}" alt="{{ comment.username }}"><img class="author-profile-pic" src="{{ comment.img }}" loading="lazy"></a>
		<div class="comment-main">
			<span class="author-name"><a href="/users/{{ comment.authorId }}">{{ comment.username }}</a></span>
			<small>{{ comment.commentDate }}</small>
			<p>{{ comment.comment }}</p>
			{% if comment.stampId %}
			<img class="stamp" loading="lazy" src="/proxy/s.pximg.net/common/images/stamp/generated-stamps/{{ comment.stampId }}_s.jpg">
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% else %}
	<p>No comments!</p>
	{% endif %}
</div>
{% endblock %}

{% block additionalDialogs %}
{% if g.isAuthorized %}
<div class="backdrop" id="emoji-dialog">
	<div class="dialog-helper">
		<div class="dialog">
			<div class="title">
				<span>{{ _("Insert emoji/stamp") }}</span>
				<button class="icon-button" aria-label="Close" id="emoji-close">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
				</button>
			</div>
			<div class="dialog-content">
				<h5>{{ _("Emojis") }}</h5>
				<div class="emojis">
					{% for emoji in config["emojis"] %}
					<button id="{{ emoji }}" class="emoji-button" title="{{ emoji }}">
						<img src="/proxy/s.pximg.net/common/images/emoji/{{config["emojis"][emoji]}}.png" loading="lazy">
					</button>
					{% endfor %}
				</div>
				<h5>{{ _("Stamps") }}</h5>
				<form class="stamps" action="/self/postStamp?author={{ authorId }}&id={{ illustId }}" method="POST">
					{% for stamp in config["stamps"] %}
					<h6>{{ config["stamps"][stamp]["name"] }} ({{ stamp }})</h6>
					<div class="stamp-series">
						{% for id in config["stamps"][stamp]["ids"] %}
						<button class="stamp" type="submit" name="stampId" value="{{ id }}">
							<img src="/proxy/s.pximg.net/common/images/stamp/generated-stamps/{{ id }}_s.jpg" loading="lazy">
						</button>
					{% endfor %}
					</div>
					{% endfor %}
				</form>
				<h5>Custom Stamp ID</h5>
				<p>{{ _("If you know a particular stamp ID, you can put it here. This allows you to send stamps that are usually only available for a limited time. <span style='color: #f38ba8;'><b>Warning:</b> This may result in termination of your pixiv account. Use at your own risk.)") }}</span></p>
				<form action="/self/postStamp?author={{ authorId }}&id={{ illustId }}" method="POST" class="inline-form">
					<input type="text" inputmode="numeric" pattern="\d*" required name="stampId" placeholder="701" style="margin-right: 8px;"/>
					<button type="submit" class="button">{{ _("Send") }}</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="/static/emojis.js"></script>
{% endif %}
{% endblock %}

