{% extends "layouts/default.html" %}
{% block title %}Discover{% endblock %}

{% block content %}
<h1>{{ _("Discover Artworks") }}</h1>
{% if g.get('omittedByFilter') %}
<i>{{ _("Some entries have been hidden due to filters") }}</i>
{% endif %}

{% if not g.isAuthorized %}
<p>{{ _("Note: the suggestions are based on the instance's pixiv account's algorithm and personalisation") }}</p>
{% endif %}
<div class="container">
	<div class="artwork-container">
		{% for d in data %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
	</div>
</div>

<a href="">{{ _("Reload") }}</a>
{% endblock %}
