{% extends "layouts/default.html" %}
{% block title %}{{ _("Error") }}{% endblock %}

{% block content %}
<div class="error-page">
	<img src="/static/yanami.png" alt="Snek, PyXiv's mascot" id="yanami"/>

	{% if pixivError %}
	<h1>{{ _("pixiv Error!") }}</h1>
	<p>{{ _("An error occurred trying to complete a request to pixiv. Please contact the instance administrator. (%(error)s)", error=error) }}</p>
	{% else %}
	<h1>{{ _("Error!") }}</h1>
	<p>{{ _("Sorry, this isn't supposed to happen. Have Snek instead.") }}</p>
	<p>{{ error }}</p>
	{% endif %}
</div>
{% endblock %}
