{% extends "layouts/default.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% if g.isAuthorized %}

{% if g.get('omittedByFilter') %}
<i>Some entries have been hidden due to filters</i>
{% endif %}

<div class="container">
	<h2>Newest from users you follow</h2>
	<div class="artwork-scroll-container">
		{% if data.newestFromFollowing | length > 0 %}
		{% for d in data.newestFromFollowing %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
		{% else %}
		<p>Nothing to show!</p>
		{% endif %}
	</div>
</div>

<div class="container">
	<h2>Recommended works</h2>
	<div class="artwork-container">
		{% if data.recommended | length > 0 %}
		{% for d in data.recommended %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
		{% else %}
		<p>Nothing to show!</p>
		{% endif %}
	</div>
</div>

<div class="container">
	<h2>Recommended users</h2>
	<div class="artwork-scroll-container">
		{% for d in data.recommendedUsers%}
		{% include "components/recommendedUser.html" %}
		{% endfor %}
	</div>
</div>

{% for t in data.recommendByTag %}
<div class="container">
	<h2>Recommended works with tag <a href="/tag/{{ t.name }}">#{{ t.name }}</a></h2>
	<div class="artwork-container">
		{% for d in t.artworks %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
	</div>
</div>
{% endfor %}
{% else %}

<div class="container">
	<h2>Today's rankings</h2>
	<div class="artwork-container">
		{% for d in data %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
	</div>
</div>


{% endif %}
{% endblock %}
