{% extends "layouts/default.html" %}

{% block content %}

<h1>{{ _("In reply to") }}</h1>
<div class="comments">
	<div class="comment">
		<a href="/users/{{ root.authorId }}" alt="{{ root.username }}"><img class="author-profile-pic" src="{{ root.img }}" loading="lazy"></a>
		<div class="comment-main">
			<span class="author-name"><a href="/users/{{ root.authorId }}">{{ root.username }}</a></span>
			<small>{{ root.commentDate | datetimeformat }}</small>
			<p>{{ root.comment | safe }}</p>
			{% if root.stampId %}
			<img class="stamp" loading="lazy" src="/proxy/s.pximg.net/common/images/stamp/generated-stamps/{{ root.stampId }}_s.jpg">
			{% endif %}
		</div>
	</div>
</div>
<h1>{{ _("Replies") }}</h1>
<div class="comments">
  {% for c in child %}
	<div class="comment">
		<a href="/users/{{ c.authorId }}" alt="{{ c.username }}"><img class="author-profile-pic" src="{{ c.img }}" loading="lazy"></a>
		<div class="comment-main">
			<span class="author-name"><a href="/users/{{ c.authorId }}">{{ c.username }}</a></span>
			<small>{{ c.commentDate | datetimeformat }}</small>
			<p>{{ c.comment | safe }}</p>
			{% if c.stampId %}
			<img class="stamp" loading="lazy" src="/proxy/s.pximg.net/common/images/stamp/generated-stamps/{{ c.stampId }}_s.jpg">
			{% endif %}
		</div>
	</div>
  {% endfor %}
</div>

{% endblock %}

