{% extends "layouts/default.html" %}
{% block title %}{{ tagInfo.tag }}{% endblock %}
{% block content %}

<div class="container">
	<div class="tag-meta">
		<a class="imglink" href="/artworks/{{ tagInfo.imageId }}">
		<img src="{{ tagInfo.image }}"/>
		<div class="grad"></div>
		</a>
		<div class="tag-info">
			{% if tagInfo.enTranslation %}
			<h2>#{{ tagInfo.tag }} | {{ tagInfo.enTranslation }}</h2>
			{% else %}
			<h2>#{{ tagInfo.tag }}</h2>
			{% endif %}
			<small>{{ data.total }} works</small>
			<p>{{ tagInfo.abstract }}</p>
		</div>
	</div>
</div>

<h1>Popular artworks</h1>

<div class="container">
	<h2>Recent</h2>
	<div class="artwork-scroll-container">
		{% if data.popularRecent | length == 0 %}
		<p>Nothing in here!</p>
		{% else %}
		{% for d in data.popularRecent %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
		{% endif %}
	</div>
	<h2>All-time</h2>
	<div class="artwork-scroll-container">
		{% if data.popularAllTime | length == 0 %}
		<p>Nothing in here!</p>
		{% else %}
		{% for d in data.popularAllTime %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
		{% endif %}
	</div>
</div>

<h1>Works</h1>

<div class="container">
	<div class="artwork-container">
		{% for d in data.results %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
	</div>
</div>

{% endblock %}

