{% extends "layouts/default.html" %}
{% block title %}{{ tagInfo.tag }}{% endblock %}
{% block content %}

<div class="container">
	<div class="tag-main">
		<img class="backdrop-img" src="{{ tagInfo.image }}"/>
		<div class="tag-meta">
			<a class="imglink" href="/artworks/{{ tagInfo.imageId }}">
				<img src="{{ tagInfo.image }}"  alt="#{{ tagInfo.tag }}" title="#{{ tagInfo.tag }}"/>
			</a>
			<div class="tag-info">
				<div>
					{% if tagInfo.enTranslation %}
					<h2>#{{ tagInfo.tag }} <i>{{ tagInfo.enTranslation }}</i></h2>
					{% else %}
					<h2>#{{ tagInfo.tag }}</h2>
					{% endif %}
					<small>{{ _("%(total)s works", total=data.total|numberformat) }}</small>
					<p>{{ tagInfo.abstract }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<br>
{% if g.get('omittedByFilter') %}
<i>{{ _("Some entries have been hidden due to filters") }}</i>
{% endif %}

<div class="container">
	<h2>{{ _("Related tags") }}</h2>
	<div class="related-tags">
		{% for tag in data.relatedTags %}
		<div class="tag">
			<a href="/tag/{{ tag.tag }}">#{{ tag.tag }}</a>
			{% if tag.enTranslation %}
			<i>{{ tag.enTranslation }}</i>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>

{% if currPage | int == 1 %}
{% if (not data.popularRecent | length == 0 and not data.popularAllTime | length == 0) %}

<h1>{{ _("Popular artworks") }}</h1>

<div class="container">
	{% if data.popularRecent | length > 0 %}
	<h2>{{ _("Recent") }}</h2>
	<div class="artwork-scroll-container">
		{% for d in data.popularRecent %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
	</div>
	{% endif %}

	{% if data.popularAllTime | length > 0 %}
	<h2>{{ _("All time") }}</h2>
	<div class="artwork-scroll-container">
		{% for d in data.popularAllTime %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
	</div>
	{% endif %}
</div>

{% endif %}
{% endif %}

<h1>{{ _("Works") }}</h1>

<div class="container">
	<div class="artwork-container">
		{% if data.results | length != 0 %}
		{% for d in data.results %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
		{% else %}
		<p>{{ _("Nothing to show!") }}</p>
		{% endif %}
	</div>
</div>

<div class="paginator">

{% if currPage | int > 1 %}
<a href={{ path + useSym + "p=" + ((currPage | int - 1) | string)  }}>&lt;</a>
{% else %}
<a>&lt;</a>
{% endif %}

<span>Page {{ currPage }} of {{ data.lastPage }}</span>

{% if currPage | int != data.lastPage %}
<a href={{ path + useSym + "p=" + ((currPage | int + 1) | string)  }}>&gt;</a>
{% else %}
<a>&gt;</a>
{% endif %}

</div>

{% endblock %}

