{% extends "layouts/default.html" %}
{% block title %}{{ tagInfo.tag }}{% endblock %}
{% block content %}

<div class="tag-main">
  {% if tagInfo.image %}
  <img src="{{tagInfo.image}}" alt="{{tagInfo.tag}}" loading="lazy">
  {% endif %}
  <div class="info">
    <h2 class="title">#{{tagInfo.tag}}{% if tagInfo.enTranslation %} <small>{{tagInfo.enTranslation}}</small>{% endif %}</h2>
    <span class="workcount">{{ _("<b>%(total)s</b> works", total=data.total|numberformat) }}</span>
    {% if tagInfo.abstract %}
    <p>{{ tagInfo.abstract }}</p>
    {% endif %}
  </div>
  {% if g.isAuthorized %}
  <form action="/self/favorite_tags/{% if tagInFavorites %}delete{% else %}save{% endif %}" method="post">
    <input type="hidden" name="tags" value="{{','.join(favoriteTags)}}">
    {% if tagInFavorites %}
    <input type="hidden" name="remove" value="{{tagInfo.tag}}">
    <button type="submit" class="button neutral">{{_("Remove from favorites")}}</button>
    {% else %}
    <input type="hidden" name="add" value="{{tagInfo.tag}}">
    <button type="submit" class="button">{{_("Add to favorites")}}</button>
    {% endif %}
  </form>
  {% endif %}
</div>

<br>
{% if g.get('omittedByFilter') %}
<i>{{ _("Some entries have been hidden due to filters") }}</i>
{% endif %}

<br>
<br>
<button class="button" id="advanced-open">{{_("Advanced search options")}}</button>

<div class="container">
	<h2>{{ _("Related tags") }}</h2>
  <div class="taglist scroll no-padding">
    {% for tag in data.relatedTags %}
    <span>
      <a href="/tag/{{tag.tag}}">#{{ tag.tag }}</a>
      {{ tag.enTranslation }}
    </span>
    {% endfor %}
  </div>
</div>

{% if currPage | int == 1 %}
{% if (not data.popularRecent | length == 0 and not data.popularAllTime | length == 0) %}

<h1>{{ _("Popular artworks") }}</h1>

<div class="container">
	{% if data.popularRecent | length > 0 %}
	<h2>{{ _("Recent") }}</h2>
	<div class="artwork-scroll-container">
		{% for d in data.popularRecent %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
	</div>
	{% endif %}

	{% if data.popularAllTime | length > 0 %}
	<h2>{{ _("All time") }}</h2>
	<div class="artwork-scroll-container">
		{% for d in data.popularAllTime %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
	</div>
	{% endif %}
</div>

{% endif %}
{% endif %}

<h1>{{ _("Works") }}</h1>

<div class="container">
	<div class="artwork-container">
		{% if data.results | length != 0 %}
		{% for d in data.results %}
		{% include "components/artwork-prev.html" %}
		{% endfor %}
		{% else %}
		<p>{{ _("Nothing to show!") }} {% if gobeyond %}<a href="">Refresh</a>{% endif %}</p>
		{% endif %}
	</div>
</div>

<div class="paginator">

{% if currPage | int > 1 %}
<a href={{ path + useSym + "p=" + ((currPage | int - 1) | string)  }}>&lt;</a>
{% else %}
<a>&lt;</a>
{% endif %}

<span>Page {{ currPage }} of {{ data.lastPage }}</span>

{% if currPage | int != data.lastPage or gobeyond %}
<a href={{ path + useSym + "p=" + ((currPage | int + 1) | string)  }}>&gt;</a>
{% else %}
<a>&gt;</a>
{% endif %}

</div>

{% endblock %}

{% block additionalDialogs %}
<div class="backdrop" id="advanced">
	<div class="dialog-helper">
		<div class="dialog">
			<div class="title">
				<span>{{ _("Advanced search options (experimental)") }}</span>
				<button class="icon-button" aria-label="Close" id="advanced-close">
					<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
				</button>
			</div>
			<div class="dialog-content">
				{% set mode = request.args.get('mode', '') %}
				{% set order = request.args.get('order', 'date') %}
				{% set s_mode = request.args.get('s_mode', 's_tag') %}
				{% set overridepagecount = request.args.get('overridepagecount', '0') %}

				<form action="/tag/{{ tagInfo.tag }}">
					<label for="mode">{{ _("Mode") }}</label>
					<select name="mode" id="mode">
						<option value="safe" {% if mode == 'safe'%}selected{% endif %}>{{ _("Safe") }}</option>
						{% if not config["nor18"] %}
						<option value="all" {% if mode == 'all' or mode == '' %}selected{% endif %}>{{ _("All") }}</option>
						<option value="r18" {% if mode == 'r18'%}selected{% endif %}>{{ _("R-18") }}</option>
						{% endif %}
					</select>

					<label for="order">{{ _("Order by") }}</label>
					<select id="order" name="order">
						<option value="date" {% if order == 'date'%}selected{%endif%}>{{ _("Date") }}</option>
						<option value="date_d" {% if order == 'date_d'%}selected{%endif%}>{{ _("Date (Descending)") }}</option>
						{% if g.get("isPremium", False) %}
						<option value="popular" {% if order == 'popular'%}selected{%endif%}>{{ _("Popular") }}</option>
						<option value="popular_d" {% if order == 'popular_d'%}selected{%endif%}>{{ _("Popular (Descending)") }}</option>
						<option value="popular_male" {% if order == 'popular_male'%}selected{%endif%}>{{ _("Popular among male users") }}</option>
						<option value="popular_male_d" {% if order == 'popular_male_d'%}selected{%endif%}>{{ _("Popular among male users (Descending)") }}</option>
						<option value="popular_female" {% if order == 'popular_female'%}selected{%endif%}>{{ _("Popular among female users") }}</option>
						<option value="popular_female_d" {% if order == 'popular_female_d'%}selected{%endif%}>{{ _("Popular among female users (Descending)") }}</option>
						{% endif %}
					</select>

					<label for="s_mode">{{ _("Search mode") }}</label>
					<select name="s_mode" id="s_mode">
						<option value="">{{_("Unspecified")}}</option>
						<option value="s_tag_full" {% if s_mode=="s_tag_full" %}selected{% endif %}>{{ _("Tag (Exact Match)") }}</option>
						<option value="s_tag" {% if s_mode=="s_tag" %}selected{% endif %}>{{ _("Tag (Partial Match)") }}</option>
						<option value="s_tc" {% if s_mode=="s_tc" %}selected{% endif %}>{{ _("Title/Caption") }}</option>
					</select>
					<br>
					<br>
					<label>
						<input type="checkbox" name="overridepagecount" {% if overridepagecount == '1' %}checked{% endif %}> {{_("Go beyond last page")}}
						<br><br>
						{{ _("Use this if you are sure that there are more results beyond the last page (due to pixiv's quirky API). If nothing shows up, try to refresh the page repeatedly. If it does not work, it might really be the last page.") }}
					</label>

					<br>
					<details>
					<summary>{{ _("More Options...") }}</summary>

					<label>
						{{_("Minimum Width")}}: <input type="number" name="wlt" value="{{ request.args.get('wlt', '') }}">
					</label>

					<label>
						{{_("Maximum Width")}}: <input type="number" name="wgt" value="{{ request.args.get('wgt', '') }}">
					</label>

					<label>
						{{_("Minimum Height")}}: <input type="number" name="hlt" value="{{ request.args.get('hlt', '') }}">
					</label>

					<label>
						{{_("Maximum Height")}}: <input type="number" name="hgt" value="{{ request.args.get('hgt', '') }}">
					</label>

					<label for="ratio">{{ _("Ratio") }}</label>
					<select name="ratio" id="ratio">
						<option value="">{{_("Unspecified")}}</option>
						<option value="-0.5">{{_("Portrait")}}</option>
						<option value="0">{{_("Square")}}</option>
						<option value="0.5">{{_("Landscape")}}</option>
					</select>

					<label>
						{{_("Tool:")}} <input type="text" name="tool" value="{{ request.args.get('tool', '') }}">
					</label>

					<label>
						{{_("Posted before")}}: <input type="date" name="scd">
					</label>

					<label>
						{{_("Posted after")}}: <input type="date" name="ecd">
					</label>

					{% if g.get("isPremium", False) %}
					<label>
						{{_("Minimum Bookmarks")}}: <input type="number" name="blt" value="{{ request.args.get('blt', '') }}">
					</label>

					<label>
						{{_("Maximum Bookmarks")}}: <input type="number" name="bgt" value="{{ request.args.get('bgt', '') }}">
					</label>
					{% endif %}
					</details>
					<br>
					<button type="submit" class="button">{{_("Apply")}}</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="/static/advanced_dialog.js"></script>
{% endblock %}
