<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/style.css">
		<title>{% block title %}{% endblock %} | {{ g.instanceName }}</title>

		{% block additionalHeadData %}
		{% endblock %}

		<script>
			function cannotUnlike() {
				alert("You cannot unlike posts.")
			}
		</script>
	</head>
	<body>
		<header class="navbar">
			<div class="mainact">
				<a class="branding" href="/">{{ g.instanceName }}</a>
				<a href="/discover">Discover</a>
				<a href="/rankings">Rankings</a>
				<a href="/newest">Newest</a>
				<a href="/settings">Settings</a>
			</div>
			<form action="/tag" method="POST">
				<input type="text" autocomplete="off" name="tag" placeholder="Search works..." {% if g.get('tag') %}value="{{g.tag}}"{% endif %}>
			</form>
			<div class="actions">
				{% if not g.isAuthorized %}
				<b><a href="/settings/account">Log in</a></b>
				{% else %}
				<span class="curruser" title="{{ g.userdata.name }}">
					<input type="checkbox" id="menuToggler" class="menuToggler">
					<label for="menuToggler" class="menu-label">
						<img class="profileimg" src="{{ g.userdata.image }}"/>
						<span class="name">{{ g.userdata.name }}</span>
					</label>
					<div class="userActions">
						<div class="userActionsMain">
							<span>Signed in as {{ g.userdata.name }}</span>
							<a href="/self">Profile</a>
							<a href="/self/bookmarks">Bookmarks</a>
							<a href="/self/notifications">Notifications</a>
							<a href="/settings/logout">Sign out</a>
						</div>
					</div>
				</span>
				{% endif %}
			</div>
		</header>
		<main>
			<div class="content">
				{% if get_flashed_messages()|length > 0%}
				<div class="messages">
					{% for categ, msg in get_flashed_messages(with_categories=true) %}
					<div class="message {% if categ == 'error' %}error{% endif %}">
						{% if categ == 'error' %}
						<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
						{% else %}
						<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
						{% endif %}
						<p>{{ msg }}</p>
					</div>
					{% endfor %}
				</div>
				{% endif %}
				{% block content %}
				{% endblock %}
			</div>
		</main>
	</body>
</html>
