{% extends "layouts/default.html" %}
{% set title = _("Ranking Calendar") %}

{% block content %}
<main id="ranking-calendar">
    <h2>{{_("Ranking Calendar")}}</h2>

    <details>
        <summary>{{_("Show options")}}</summary>
        <form action="">
            <fieldset>
                <legend>{{_("Options")}}</legend>

                <label for="mode" class="block heading">{{_("Mode")}}</label>
                {% set mode = request.args["mode"] %}
                <select name="mode" id="mode">
                    <option value="daily" {% if mode=="daily" %}selected{% endif %}>{{_("Daily")}}</option>
                    <option value="weekly" {% if mode=="weekly" %}selected{% endif %}>{{_("Weekly")}}</option>
                    <option value="monthly" {% if mode=="monthly" %}selected{% endif %}>{{_("Monthly")}}</option>
                    <option value="rookie" {% if mode=="rookie" %}selected{% endif %}>{{_("Rookie")}}</option>
                    {% if g.authorized and g.current_user.premium %}
                    <option value="male" {% if mode=="male" %}selected{% endif %}>{{_("Popular among male users")}}</option>
                    <option value="female" {% if mode=="female" %}selected{% endif %}>{{_("Popular among female users")}}</option>
                    {% endif %}
                    <option value="original" {% if mode=="original" %}selected{% endif %}>{{_("Original")}}</option>
                    <option value="daily_ai" {% if mode=="daily_ai" %}selected{% endif %}>{{_("AI Generated")}}</option>
                    {% if g.authorized and not (config["NO_SENSITIVE"] or config["NO_R18"]) %}
                    <option value="daily_r18" {% if mode=="daily_r18" %}selected{% endif %}>{{_("Daily R-18")}}</option>
                    <option value="daily_r18_ai" {% if mode=="daily_r18_ai" %}selected{% endif %}>{{_("R-18 AI Generated")}}</option>
                    <option value="weekly_r18" {% if mode=="weekly_r18" %}selected{% endif %}>{{_("Weekly R-18")}}</option>
                    <option value="r18g" {% if mode=="r18g" %}selected{% endif %}>R-18G</option>
                    {% if g.authorized and g.current_user.premium %}
                    <option value="male_r18" {% if mode=="male_r18" %}selected{% endif %}>{{_("Popular among male users (R-18)")}}</option>
                    <option value="female_r18" {% if mode=="female_r18" %}selected{% endif %}>{{_("Popular among female users (R-18)")}}</option>
                    {% endif %}
                    {% endif %}
                </select>

                <br><br>
                <label for="date" class="block heading">{{_("Date")}}</label>
                <input type="date" name="date" id="date" value="{{current.strftime('%Y-%m-%d')}}">

                <br><br>
                <button type="submit" class="button primary">{{_("Apply")}}</button>
            </fieldset>
        </form>
    </details>
    <br>

    <nav>
        <a href="{{prevUrl}}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M15.913 16.586a2 2 0 01-2.829 2.828L5.67 12l7.414-7.414a2 2 0 012.829 2.828L11.327 12l4.586 4.586z"
                    fill="currentColor" />
            </svg>
        </a>
        <span>{{current|dateformat("MMMM YYYY")}}</span>
        <a href="{{nextUrl}}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.086 16.586a2 2 0 102.828 2.828L18.328 12l-7.414-7.414a2 2 0 10-2.828 2.828L12.672 12l-4.586 4.586z"
                    fill="currentColor" />
            </svg>
        </a>
    </nav>

    <main>
        {% for x in data.calendar %}
        <a {% if x.user_id %}href="{{url_for('rankings.main', mode=data.mode, date=data.date|string + x.day_str, content=content)}}" {% endif %}>
            <div class="entry">
                {%- if x.user_id -%}
                <span>{{x.day}}</span>
                <img src="{{x.img}}" alt="{{_('Day %(day)s', day=x.day)}}">
                {%- else -%}
                {%- if x.day != 0 -%}
                <div class="placeholder">{{x.day}}</div>
                {%- endif -%}
                {%- endif -%}
            </div>
        </a>
        {% endfor %}
    </main>
</main>
{% endblock %}
