{% extends "layouts/default.html.j2" %}
{% set title = data.title %}

{% from "pixivision/category_name.html.j2" import category %}

{% block head_additional %}
<meta property="og:title" content="{{data.title}}">
<meta property="og:description" content="{{data.og_desc}}">
<meta property="og:image" content="{{data.og_img}}">
<meta property="og:site_name" content="{{config['INSTANCE_NAME']}}">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}
<main id="pixivision-article">
    <div class="article-meta">
        <div class="info">
            <a class="category"
                href="{{url_for('pixivision.category', c=data.category.value)}}">{{category(data.category)}}</a>
            <time datetime="{{data.date.strftime('%Y-%m-%d')}}">{{data.date|dateformat}}</time>
        </div>
        <h1>{{data.title}}</h1>
    </div>
    <article>
        {% for x in data.contents %}
        {{x.render()|safe}}
        {% endfor %}
    </article>
</main>
{% endblock %}