{% from "pixivision/category_name.html" import category %}
{%- macro pxvs_entry(data) %}
<div class="pixivision-entry">
    <div class="thumb">
        <a class="img" href="{{url_for('pixivision.article', id=data.id)}}">
            <img src="{{data.image}}" alt="{{data.title}}">
        </a>
        <a class="category" href="{{url_for('pixivision.category', c=data.category.value)}}">{{category(data.category)}}</a>
    </div>
    <div class="title">
        <a href="{{url_for('pixivision.article', id=data.id)}}">{{data.title}}</a>
    </div>
    <div class="meta">
        <ul class="tags">
            {% for x in data.tags %}
            <li><a href="{{url_for('pixivision.tag', id=x.id)}}">#{{x.name}}</a></li>
            {% endfor %}
        </ul>
        <time datetime="{{data.date.strftime('%Y-%m-%d')}}">{{data.date|dateformat}}</time>
    </div>
</div>
{% endmacro -%}