{% extends "layouts/default.html" %}
{% set title=_("pixivision") %}

{% from "pixivision/category_name.html" import category %}
{% from "pixivision/entry.html" import pxvs_entry %}

{% block content %}
<main id="pixivision">
    <div class="notice">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16 16.93l-.001 1.57a2 2 0 01-2.001 2h-.06a2 2 0 01-3.875 0h-.06a2 2 0 01-2-2L8 16.93a8 8 0 117.998 0zM12 3.905a6.095 6.095 0 100 12.19 6.095 6.095 0 000-12.19zM15 13a1 1 0 11-2 0 1 1 0 10-2 0 1 1 0 11-2 0 3 3 0 116 0z" fill="currentColor"/></svg>
        <div>
            pixivision support is experimental. expect bugs.
        </div>
    </div>

    <br>

    {% if data.spotlight %}
    <div class="spotlight">
        <a href="{{url_for('pixivision.article', id=data.spotlight.id)}}">
            <img src="{{data.spotlight.image}}" alt="{{data.spotlight.title}}">
        </a>
        <main>
            <small class="featured-label">{{_("Spotlight")}}</small>
            <a href="{{url_for('pixivision.article', id=data.spotlight.id)}}">
                <h2>{{data.spotlight.title}}</h2>
            </a>
            <ul class="tags">
                <li class="category"><a href="{{url_for('pixivision.category', c=data.spotlight.category.value)}}">{{category(data.spotlight.category)}}</a></li>
                {% for x in data.spotlight.tags %}
                <li><a href="{{url_for('pixivision.tag', id=x.id)}}">#{{x.name}}</a></li>
                {% endfor %}
            </ul>
        </main>
    </div>
    {% endif %}
    <div class="articles">
        {% for x in data.articles %}
        {{pxvs_entry(x)}}
        {% endfor %}
    </div>

    <div class="paginator">
        {%- set page = request.args.get("p", 1)|int -%}
        <a {% if data.page_caps[0] %}href="{{url_for('pixivision.main', p=page-1)}}"{% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m432-480 156 156q11 11 11 28t-11 28q-11 11-28 11t-28-11L348-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 28-11t28 11q11 11 11 28t-11 28L432-480Z"/></svg>
        </a>
        <span>{{_("Page %(page)d", page=page)}}</span>
	<a {% if data.page_caps[1] %}href="{{url_for('pixivision.main', p=page+1)}}"{% endif %}>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M504-480 348-636q-11-11-11-28t11-28q11-11 28-11t28 11l184 184q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13L404-268q-11 11-28 11t-28-11q-11-11-11-28t11-28l156-156Z"/></svg>
        </a>
    </div>
</main>
{% endblock %}
