{% extends "settings/settingsMain.html" %}
{% set currentSection = "about" %}

{% block settingsPage %}

<h1>{{ _("About Vixipy") }}</h1>

<p>{{ _("Vixipy is a free and open source, privacy respecting pixiv frontend, allowing you to enjoy pixiv content with a peace of mind in terms of privacy, speed, and reliability.") }}</p>

<h2>{{ _("Why Vixipy?") }}</h2>

<p>{{ _("The problem with using pixiv is that it uses so much unnecessary bandwidth, has trackers (Google Tag Manager), is proprietary (and contains proprietary components like ReCAPTCHA), possibly privacy invasive, and is also behind Cloudflare, which you already know has <a href='https://0xacab.org/dCF/deCloudflare'>many, many problems.</a>") }}</p>

<p>{{ _("With Vixipy, you can enjoy using most pixiv features with a frontend you can trust. Your browser will never connect to any external server except if you specify an external image proxy server. The only things that Vixipy will log are the pixiv API requests, your user agent, and image proxy requests (unless you are using an external image proxy server, which you will have to trust it's privacy practices).") }}</p>

<p>{{ _("Also on the plus side, you don't need an account for viewing full artwork resolution, <a target='_blank' href='/static/img/accountRequired_pixiv.png'>unlike pixiv</a>.") }}</p>

<h2>{{ _("How does it compare to other pixiv frontends (PixivFE, etc.)?") }}</h2>

<p>{{ _("Vixipy is, and is always, never a competitor of any pixiv frontend. Sure, Vixipy does take inspiration from other frontends, but only for the good, and with proper credit or attribution if needed.") }}</p>

<p>{{ _("Performance-wise, Vixipy somewhat lags behind others, but is sometimes faster or on par with other pixiv frontends.") }}</p>

<h1>{{ _("Acknowledgements") }}</h1>

<p>{{ _("Vixipy is made possible through the use of open source projects, which are:") }}</p>
<ul>
	<li><a href='https://www.python.org'>Python</a></li>
	<li><a href='https://github.com/google/material-design-icons'>Material Symbols and Icons</a></li>
	<li><a href='https://codeberg.org/vixipy/pyxivision'>pyxivision</a> (sister project of Vixipy)</li>
	<li><a href='https://quart.palletsprojects.com/'>Quart</a></li>
	<li><a href='https://catppuccin.com'>Catppuccin color scheme</a></li>
	<li><a href='https://github.com/aio-libs/aiohttp'>aiohttp</a></li>
	<li><a href='https://github.com/pgjones/hypercorn'>hypercorn</a></li>
  <li><a href='https://www.ffmpeg.org'>ffmpeg</a></li>
  <li><a href='https://github.com/ffmpegwasm/ffmpeg.wasm'>ffmpeg.wasm</a></li>
</ul>

<hr>
<small>Vixipy {{ g.version }}</small>


{% endblock %}
