{% extends "settings/settingsMain.html" %}
{% set currentSection = "about" %}

{% block settingsPage %}

<h1>{{ _("About Vixipy") }}</h1>

<p>{{ _("Vixipy is a free and open source, privacy respecting pixiv frontend, allowing you to enjoy pixiv content with a peace of mind in terms of privacy, speed, and reliability.") }}</p>

<h2>{{ _("Why Vixipy?") }}</h2>

<p>{{ _("The problem with using pixiv is that it uses so much unnecessary bandwidth, has trackers (Google Tag Manager), is proprietary (and contains proprietary components like ReCAPTCHA), possibly privacy invasive, and is also behind Cloudflare, which you already know has <a href='https://0xacab.org/dCF/deCloudflare'>many, many problems.</a>") }}</p>

<p>{{ _("With Vixipy, you can enjoy using most pixiv features with a frontend you can trust. Your browser will never connect to any external server except if you specify an external image proxy server.") }}</p>

<p>{{ _("Also on the plus side, you don't need an account for viewing full artwork resolution, <a target='_blank' href='/static/img/accountRequired_pixiv.png'>unlike pixiv</a>.") }}</p>

<h2>{{ _("How does it compare to other pixiv frontends (PixivFE, etc.)?") }}</h2>

<p>{{ _("Vixipy is, and is always, never a competitor of any pixiv frontend. Sure, Vixipy does take inspiration from other frontends, but only for the good, and with proper credit or attribution if needed.") }}</p>

<p>{{ _("Performance-wise, Vixipy is sometimes faster or on par with other pixiv frontends.") }}</p>

<h2>{{ _("What makes Vixipy unique?") }}</h2>
<p>{{ _("Vixipy not only a frontend that allows you to explore pixiv, but it also aims to be a useful and functional pixiv client similar to PixEz (an Android/iOS pixiv client written in Flutter), that allows you to do things like edit your profile, view notifications, express your opinions and feelings by sending comments and stickers, and more to come.") }}</p>

<h1>{{ _("Acknowledgements") }}</h1>

<p>{{ _("Vixipy is made possible through the use of open source projects, which are:") }}</p>
<ul>
	<li><a href='https://www.python.org'>Python</a></li>
	<li><a href='https://github.com/google/material-design-icons'>Material Symbols and Icons</a></li>
	<li><a href='https://codeberg.org/vixipy/pyxivision'>pyxivision</a> (sister project of Vixipy)</li>
	<li><a href='https://quart.palletsprojects.com/'>Quart</a></li>
	<li><a href='https://catppuccin.com'>Catppuccin color scheme</a></li>
	<li><a href='https://github.com/aio-libs/aiohttp'>aiohttp</a></li>
	<li><a href='https://github.com/pgjones/hypercorn'>hypercorn</a></li>
	<li><a href='https://www.ffmpeg.org'>ffmpeg</a></li>
	<li><a href='https://github.com/ffmpegwasm/ffmpeg.wasm'>ffmpeg.wasm</a></li>
	<li><a href='https://gitlab.com/pixivfe/simple-webm-ugoira'>PixivFE simple-webm-ugoira</a> and <a href='https://git.maid.zone/laptop/not-simple-webm-ugoira'>it's fork</a></li>
	<li><a href="https://github.com/pixiv/charcoal">pixiv Charcoal Design</a></li>
	<li><a href="https://m3.material.io">Material Design</a></li>
</ul>

<h1>{{_("Disclaimer")}}</h1>
<p>{{_("Vixipy is an unofficial pixiv frontend and is not made, approved or affiliated by pixiv (pixiv Inc.). This software has absolutely NO WARRANTY, and chances of your pixiv account getting in trouble or suspended are not guaranteed.")}}</p>

<p>{{_("All works that are shown in this instance are originated from pixiv, and owned by their respective artists/authors. No copyright infringement is intended and the software and instance administrators have no control or liability to the content shown whatsoever. If you have any issues or concerns about works that, for example, infringe on your copyright and intellectual property rights, send these to pixiv, and not us.")}}</p>

<hr>
<small>Vixipy {{ g.version }}</small>


{% endblock %}
