{% extends "settings/settingsMain.html" %}
{% set currentSection = 'account' %}

{% block settingsPage %}

<h2>Account Settings</h2>

{% if not g.isAuthorized %}

<h3>Log in</h3>
<p>Log in to your pixiv account to get a personalised feed and the ability to like and bookmark posts. To do this, you must get your pixiv PHPSESSID cookie. See the guide <a href="https://pixivfe-docs.pages.dev/obtaining-pixivfe-token/" rel="noopener noreferrer">from PixivFE</a> for details. Your token is stored locally and will not be stored on the server.</p>

<p><strong>Notice:</strong> By logging in, you agree that the instance will be sending requests on behalf of <strong>your account</strong>.</p>

<form action="/settings/token" class="inline-form" method="POST">
	<input type="password" placeholder="1234567890_aBCdEFgHiJKLmNOpQRsTUvWXYZ" name="token" autocomplete="off" required="true"></input>
	<button type="submit" value="Log in" class="button">Log in</button>
</form>

{% else %}
<div class="current-user-account">
	<img alt="{{ g.userState.userName }}" src="{{ g.userState.profileImg }}">
	<div class="user-info">
		<h2>{{ g.userState.userName }}</h2>
		<small>@{{ g.userState.pixivId }}</small>
	</div>
</div>

<h3>Log out</h3>
<p>Click on the button below to securely log out.</p>

<form action="/settings/logout">
	<button type="submit" class="button danger">Log out</button>
</form>


{% endif %}
{% endblock %}

