{% extends "settings/settingsMain.html" %}
{% set currentSection = 'language' %}

{% block settingsPage %}

<h1>{{_("Language and location")}}</h1>

<h2>{{ _("Language") }}</h2>

<p>{{ _("You can select your preferred language here.") }}</p>

<form action="/settings/set-language" method="POST">
	{% set currentLang = request.cookies.get("lang", "") %}
	<select name="lang">
		<option value="" {% if currentLang == '' %}selected{% endif%}>{{_("Use system language")}}</option>
		{% for l in langOpts %}
		<option value="{{l}}" {% if currentLang == l %}selected{% endif %}>{{langOpts[l]}}</option>
		{% endfor %}
	</select>
	<br>
	<br>
	<button class="button" type="submit">{{ _("Set language") }}</button>
</form>

<p>{{ _("Can't find the language you're looking for? Are the translations inaccurate? <a href='https://translate.codeberg.org/engage/vixipy' target='_blank'>Help translate!</a>") }}<p></p>

{% if g.isAuthorized %}
<h2>{{ _("Location") }}</h2>

<form action="/settings/set-region" method="post">
	<select name="region">
		{% for r in reg %}
		<option value="{{r}}" {% if g.userState.location == r %}selected{% endif %}>{{reg[r]}}</option>
		{% endfor %}
	</select>
	<br>
	<br>
	<a href="/jump.php?https://www.pixiv.help/hc/articles/26578893289881">{{_("About location settings")}}</a>
	<br>
	<br>
	<button class="button" type="submit">{{ _("Set Location") }}</button>
</form>
{% endif %}

<h2>{{ _("pixivision Language") }}</h2>

<p>{{ _("You can set the language for pixivision articles here.") }}</p>

<form action="/settings/set-pixivision-language" method="POST">
	{% set currentLang = request.cookies.get("PyXivPixivisionLang", "en") %}

	<select name="lang">
		{% for l in pv_lang %}
		<option value="{{l}}" {% if currentLang == l %}selected{% endif %}>{{pv_lang[l]}}</option>
		{% endfor %}
	</select>
	<br>
	<br>
	<button class="button" type="submit">{{ _("Set language") }}</button>
</form>

<h2>{{_("Timezone")}}</h2>
<form action="/settings/set-tz" method="post">
	<select name="tz">
		{% for t in tz %}
		<option value="{{t}}" {% if g.tz == t %}selected{% endif %}>{{t}}</option>
		{% endfor %}
	</select>
	<br>
	<br>
	<button class="button" type="submit">{{ _("Set timezone") }}</button>
</form>

{% endblock %}

