{% extends "settings/settingsMain.html" %}
{% set currentSection = "index" %}

{% block settingsPage %}

<h2>{{ _("Vixipy Settings") }}</h2>

<h3>{{ _("Proxy server") }}</h3>
<p>{{ _("A pixiv image proxy server allows you to access images from pixiv without your device making any connection to pixiv servers.") }}</p>

<p>{{ _("Vixipy has a built-in proxy server, but you can specify one below. Only images from the domain <code>i.pximg.net</code> will use the specified proxy server.") }}</p>
<br>
<p>{{ _("Your current preferred proxy server:") }} {{ g.userProxyServer}}</p>

<form action="/settings/imgproxy" method="POST">
	<label>
		<input type="radio" name="image-proxy" required="true" value>
		{{ _("Use built-in proxy server") }}
	</label>
	<label>
		<input type="radio" name="image-proxy" required="true" value="https://pximg.exozy.me">
		https://pximg.exozy.me
	</label>
	<label>
		<input type="radio" name="image-proxy" required="true" value="https://i.pixiv.re">
		https://i.pixiv.re
	</label>
	<br>
	<button type="submit" class="button">{{ _("Use selected proxy") }}</button>
</form>

<h4>{{ _("Custom proxy server") }}</h4>
<p>{{ _("You can specify a custom proxy server below.") }}</p>

<form action="/settings/imgproxy" class="inline-form" method="POST">
	<input type="text" name="image-proxy" autocomplete="off" placeholder="https://proxy.neonw.su/pixiv" required="true"></input>
	<button type="submit" class="button">{{ _("Use proxy server") }}</button>
</form>
{% endblock %}

