{% extends "settings/settingsMain.html" %}
{% set currentSection = "index" %}

{% block settingsPage %}

<h1>{{ _("Vixipy Settings") }}</h1>

<h3>{{ _("Proxy server") }}</h3>
<p>{{ _("A pixiv image proxy server allows you to access images from pixiv without your device making any connection to pixiv servers.") }}</p>

<p>{{ _("Vixipy has a built-in proxy server, but you can specify one below. Only images from the domain <code>i.pximg.net</code> will use the specified proxy server.") }}</p>

<form action="/settings/imgproxy" method="POST">
	<select name="image-proxy">
		<option value {% if g.get("userProxyServer", "") == "" %}selected{% endif %}>{{ _("Use built-in proxy server") }}</option>
		{% for proxy in config["proxy-servers"] %}
		<option value="{{proxy}}" {% if proxy == g.get("userProxyServer", "") %}selected{% endif %}>{{proxy}}</option>
		{% endfor %}
	</select>
	<br>
	<br>
	<button type="submit" class="button">{{ _("Use selected proxy") }}</button>
</form>

<h4>{{ _("Custom proxy server") }}</h4>
<p>{{ _("You can specify a custom proxy server below.") }}</p>

<form action="/settings/imgproxy" class="inline-form" method="POST">
	<input type="text" name="image-proxy" autocomplete="off" placeholder="https://proxy.neonw.su/pixiv" required="true"></input>
	<button type="submit" class="button">{{ _("Use proxy server") }}</button>
</form>

<h3>{{ _("Theme") }}</h3>

<form action="/settings/setTheme" method="POST">
  <label for="theme">{{_("You can set your theme below.")}}</label>
  <br>
  <select id="theme" name="theme">
    <option value="" {%if request.cookies.get("Vixipy-Theme", default_theme) == default_theme or request.cookies.get("Vixipy-Theme") == ""%}selected{%endif%}>{{_("Use default theme")}}</option>
    {% for theme in themes %}
    <option value="{{theme}}" {% if request.cookies.get("Vixipy-Theme") == theme %}selected{%endif%}>{{theme}}</option>
    {% endfor %}
  </select>
  <br>
  <br>
  <button class="button" type="submit">{{_("Set Theme")}}</button>
</form>
{% endblock %}

