{% extends "discovery/index.html.j2" %}
{% set current = 'users' %}
{% from "components/user-entry.html.j2" import userentry %}

{% block ct %}
{% for x in data %}
{{ userentry(x.user, x.illusts) }}
{% endfor %}
{% endblock %}
