@use '../mixins' as *;

#artwork-root {
    width: 100%;
    padding: 1em;
    transition-property: opacity, scale;
    transition-duration: 150ms;
    transition-timing-function: ease;

    &.htmx-settling {
        opacity: 0;
        scale: 0.85;
    }

    >.content {
        margin: 0 auto;
        width: 90%;
        max-width: 2000px;
        display: flex;
        gap: 3em;
        align-items: flex-start;

        >main {
            flex: 60%;
            background-color: var(--md-sys-color-surface-container-low);
            border-radius: 32px;

            >.pages-placeholder, >.pages-error {
                height: 80vh;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                padding: 1.5em;
            }


            >.pages-error {
                color: var(--md-sys-color-outline);
                font-size: 14px;
            }

            >.pages {
                width: 100%;
                overflow: hidden;
                transition: opacity 150ms ease;

                &.htmx-settling {
                    opacity: 0;
                }

                >.page {
                    position: relative;
                    margin: 1em 0;

                    >a {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;

                        >img {
                            display: block;
                            width: auto;
                            height: auto;
                            max-height: 100vh;
                            border-radius: 28px;
                            background-color: var(--md-sys-color-surface-container-lowest);
                            max-width: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }

            .actions {
                position: sticky;
                bottom: 0;
                padding-bottom: 1em;

                .wrapper {
                    width: 95%;
                    margin: 0 auto;
                    background-color: var(--md-sys-color-surface-container);
                    
                    border-radius: 14px;
                    height: 48px;
                }
            }
        }

        >aside {
            flex: 30%;

            .author {
                display: flex;
                align-items: center;
                gap: .5em;

                a {
                    color: unset;
                    display: block;
                }

                .img {
                    display: block;

                    img {
                        @include profile-img(32px);
                        display: block;
                    }
                }
            }

            ul.tags {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5em;
                font-size: 14px;
                align-items: center;
                list-style: none;
                margin: 1em 0;
                padding: 0;

                li {
                    a {
                        span.alternate {
                            color: var(--md-sys-color-outline);
                        }
                    }
                }
            }

            .description {
                margin: 1em 0;

                &:has(input:checked) {
                    main {
                        height: fit-content;
                        mask-image: unset;
                    }

                    label {
                        display: none
                    }
                }

                main {
                    word-break: break-word;
                    word-wrap: break-word;
                    margin: 1em 0;
                    font-size: 14px;
                    height: 124px;
                    overflow: hidden;
                    mask-image: linear-gradient(var(--md-sys-color-surface) 80%, transparent 100%);
                    -webkit-mask-image: linear-gradient(var(--md-sys-color-surface) 80%, transparent 100%);
                    margin: unset;
                    margin-bottom: 1em;
                }

                input {
                    display: none;
                }

                label {
                    cursor: pointer;
                    color: var(--md-sys-color-outline);
                    font-size: 14px;
                }
            }

            .creation-date {
                color: var(--md-sys-color-outline);
                font-size: 12px;
                margin: 1em 0;
            }
            
            ul.attributes {
                margin: 1em 0;
                display: flex;
                gap: 0.5em;
                padding: 0;
                flex-wrap: wrap;
                list-style: none;

                li {
                    padding: 8px 1.35rem;
                    background-color: var(--md-sys-color-surface-container);
                    font-size: 12px;
                    border-radius: 32px;
                    font-weight: bold;

                    &.primary {
                        background-color: var(--md-sys-color-primary-container);
                        color: var(--md-sys-color-on-primary-container);
                    }
                    &.secondary {
                        background-color: var(--md-sys-color-secondary-container);
                        color: var(--md-sys-color-on-secondary-container);
                    }
                    &.tertiary {
                        background-color: var(--md-sys-color-tertiary-container);
                        color: var(--md-sys-color-on-tertiary-container);
                    }
                    &.error {
                        background-color: var(--md-sys-color-error-container);
                        color: var(--md-sys-color-on-error-container);
                    }
               }
            }
        }
    }
}

@media (max-width: 700px) {
    #artwork-root >.content {
        flex-direction: column;
        width: 100%;
        gap: unset;

        >main {
            width: 100%;


            >.pages-placeholder {
                height: 50vh;
            }

            >.pages>.page {
                margin: 1em !important;
            }

            >.actions>.wrapper {
                width: 90%
            }
        }
    }
}
