@use '../mixins' as *;

#artwork-root {
    width: 100%;
    padding: 1em;
    transition-property: opacity, scale;
    transition-duration: 150ms;
    transition-timing-function: ease;

    &.htmx-settling {
        opacity: 0;
        scale: 0.85;
    }

    >.content {
        margin: 0 auto;
        width: 90%;
        max-width: 2000px;
        display: flex;
        gap: 3em;

        >main {
            flex: 60%;
            background-color: var(--md-sys-color-surface-container-low);
            border-radius: 16px;

            >.pages-placeholder {
                height: 80vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            >.pages {
                width: 100%;
                overflow: hidden;
                transition: opacity 150ms ease;

                &.htmx-settling {
                    opacity: 0;
                }

                >.page {
                    position: relative;
                    margin-bottom: 1em;

                    &:last-child {
                        margin-bottom: unset;
                    }

                    >a {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;

                        >img {
                            display: block;
                            width: auto;
                            height: auto;
                            max-height: 100vh;
                            border-radius: 16px;
                            background-color: var(--md-sys-color-surface-container-lowest);
                            max-width: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }

        >aside {
            flex: 30%;

            .author {
                display: flex;
                align-items: center;
                gap: .5em;

                a {
                    color: unset;
                }

                .img {
                    display: block;

                    img {
                        @include profile-img(32px);
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    #artwork-root >.content {
        flex-direction: column;

        >main {
            >.pages-placeholder {
                height: 50vh;
            }
        }
    }
}
