@use '../mixins' as *;

#artwork-main {
    display: flex;
    gap: 2em;

    main {
        flex: 70%;
        border-radius: 12px;
        background-color: var(--md-sys-color-surface-container);
        overflow: hidden;

        video {
            width: 100%;
            height: auto;
        }

        .works {
            .work {
                position: relative;
                overflow: hidden;

                &:only-child, &:last-child img {
                    border-radius: 0 0 12px 12px;
                }

                a {
                    line-height: 0px;
                    font-size: 0px;
                    display: block;
                    cursor: zoom-in;

                    img {
                        width: 100%;
                        object-fit: contain;
                        min-width: 48px;
                    }
                }

                .meta {
                    position: absolute;
                    top: 0;
                    padding: 8px;
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    pointer-events: none;
                    column-gap: .5em;

                    > div {
                        font-size: 12px;
                        font-weight: bold;
                        color: var(--md-sys-color-on-primary-container);
                        background-color: var(--md-sys-color-primary-container);
                        padding: 6px 10px;
                        border-radius: 4px;
                    }
                }
            }
        }

        .userdata {
            max-width: 90%;
            margin: 1em auto;

            .author {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1em .5em;

                > a {
                    color: var(--md-sys-color-outline);
                    font-size: 12px;
                }

                .author-main {
                    display: flex;
                    align-items: center;

                    .author-link {
                        display: flex;
                        align-items: center;
                        color: unset;
                        font-weight: bold;
                        margin-right: 1em;

                        img {
                            @include profile-img(36px);
                            margin-right: .5em;
                        }
                    }
                }
            }
        }
    }

    aside {
        flex: 30%;

        h2 {
            margin: unset;
            margin-bottom: .5em
        }

        .sl-warn {
            display: flex;
            align-items: center;
            color: var(--md-sys-color-error);
            
            svg {
                fill: currentColor;
                margin-right: .5em;
            }
        }

        ul {
            list-style: none;
            margin: unset;
            padding: unset;
            li {
                display: inline-block;
            }
        }

        .tags {
            li {
                color: var(--md-sys-color-outline);
                font-size: 12px;

                a {
                    font-weight: bold;
                }
            }
        }

        .data {
            margin: .5em 0;

            li {
                margin-right: .5em;
            }

            button {
                background: unset;
                border: unset;
                padding: unset;
                cursor: pointer;
            }

            form {
                transition: opacity .2s ease;

                &.htmx-request {
                    opacity: .4
                }
            }

            li, a, button {
                color: var(--md-sys-color-outline);
                display: inline-flex;
                align-items: center;

                svg {
                    fill: var(--md-sys-color-secondary);
                    margin-right: 4px;
                }
            }

            .liked {
                fill: var(--md-sys-color-primary)
            }
        }

        .create-date {
            color: var(--md-sys-color-outline);
        }
    }
}

@media screen and (max-width: 768px) {
    #artwork-main {
        flex-direction: column;

        > * {
            flex: unset !important
        }
    }
}