.bg-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    background-color: var(--md-sys-color-surface-container-lowest);
}

#login-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .2);

    main {
        background-color: var(--md-sys-color-surface);
        padding: 4em 2em;
        border-radius: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 6px 24px rgba(0, 0, 0, .3);
        max-width: 80%;
        position: relative;
        overflow: hidden;

        .sign-in-body {
            text-align: center;
            margin-bottom: 2em;

            h1 {
                margin: unset;
                margin-bottom: .5em;
            }

            span {
                font-size: 14px;
                color: var(--md-sys-color-outline)
            }

            #help {
                border: unset;
                padding: unset;
                color: var(--md-sys-color-primary);
                background-color: unset;
                font-size: 14px;
            }

            svg {
                width: 72px;
                height: 72px;
                fill: var(--md-sys-color-primary);
                margin-bottom: 1em;
            }
        }

        #back {
            display: flex;
            align-items: center;
            color: var(--md-sys-color-outline);
            font-weight: bold;
        }

        .error {
            color: var(--md-sys-color-error);
            margin: .2rem 0;
            font-size: 12px;
        }

        .sign-in-help {
            position: absolute;
            pointer-events: none;
            opacity: 0;
            transform: translateY(10%);
            width: 100%;
            height: 100%;
            overflow-y: auto;
            transition: .15s cubic-bezier(.08,.82,.17,1);
            transition-property: transform, opacity;
            background-color: var(--md-sys-color-surface);
            padding: 2em;
            top: 0;
        }

        .actions {
            justify-content: space-between;
            align-items: center;
        }

        #help-toggle {
            display: none;
        }

        #help-toggle:checked+.sign-in-help {
            opacity: 1;
            transform: translateY(0%);
            pointer-events: visible;
        }
    }
}

/*
@media (max-width: 800px) {
    #login-wrapper main {
        width: 95%;
        height: 95%;
        display: block;
        overflow-y: auto;
        scrollbar-width: none;
        border-radius: 48px;
        min-height: unset !important;
        min-width: unset !important;
    }
}
*/