@use '../mixins' as *;

#novel-container {
    >main {
        overflow: hidden;
        border-radius: 16px;
        background-color: var(--md-sys-color-surface-container);

        .info {
            padding: 1.5em;
            display: flex;
            align-items: flex-start;
            gap: 1.5em;

            >a {
                display: block;

                img {
                    width: 150px;
                    height: 200px;
                    object-fit: cover;
                    background-color: var(--md-sys-color-surface-container-low);
                    border-radius: 12px;
                }
            }

            main {
                small.series-title {
                    color: var(--md-sys-color-outline);
                    margin-bottom: 4px;
                }

                h2 {
                    margin: unset;
                    margin-bottom: 1em;
                }

                pre {
                    white-space: pre-wrap;
                    font-family: inherit;
                }

                .author {
                    display: flex;
                    align-items: center;
                    gap: .3em;

                    .profile-img {
                        display: block;

                        img {
                            @include profile-img(24px);
                            display: block;
                        }
                    }

                    .user {
                        color: unset;
                    }
                }

                .tags {
                    list-style: none;
                    margin: unset;
                    padding: unset;

                    li {
                        display: inline-block;
                        color: var(--md-sys-color-outline);
                        font-size: 12px;

                        a {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        #novel-contents {
            background-color: var(--md-sys-color-surface-container-low);

            pre {
                font-family: inherit;
                padding: 2.5rem;
                word-wrap: break-word;
                white-space: pre-wrap;
                margin: unset;
            }

            .series-nav {
                text-align: center;
                padding: 2em 4em;
                margin: 2rem auto;
                width: 85%;
                border-radius: 16px;
                background-color: var(--md-sys-color-surface-container-lowest);

                small {
                    color: var(--md-sys-color-outline);
                }

                .title {
                    color: unset;

                    h3 {
                        margin: unset;
                        margin-top: 6px;
                        margin-bottom: 1em;
                    }
                }

                nav {
                    a.button {
                        overflow: hidden;
                        width: 100%;
                        text-overflow: ellipsis;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        margin-bottom: .5em;

                        &:last-child, &:only-child {
                            margin-bottom: unset;
                        }
                    }
                }
            }
        }
    }
}