#ranking-calendar {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;
        color: var(--md-sys-color-outline);
        font-weight: bold;

        a {
            color: var(--md-sys-color-outline)
        }
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1em;

        a {
            display: block;
            color: unset;
        }

        div.entry {
            position: relative;
            width: 128px;
            height: 128px;
            border-radius: 12px;
            overflow: hidden;
            background-color: var(--md-sys-color-surface-container);

            span {
                position: absolute;
                top: 0;
                pointer-events: none;
                padding: 8px;
                font-weight: bold;
                font-size: 12px;
                background-color: var(--md-sys-color-surface-container);
            }

            .placeholder {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                font-size: 22px;
                color: var(--md-sys-color-outline);
            }
        }
    }
}