@use '../mixins' as *;

#settings {
    display: flex;
    gap: 1em;

    .menu {
        min-width: 300px;

        h2 {
            margin: unset;
            margin-bottom: 1em;
        }

        nav {
            a {
                display: flex;
                width: 100%;
                padding: 12px 1.25em;
                color: unset;
                font-weight: bold;
                color: var(--md-sys-color-outline);
                border-radius: 999999px;
                transition: .2s ease;
                ;

                &:hover,
                &.sel {
                    background-color: var(--md-sys-color-surface-variant);
                    color: var(--md-sys-color-on-surface)
                }
            }
        }
    }

    .content {
        flex: 1;
        padding: 1.5em 2em;
        background-color: var(--md-sys-color-surface-container);
        overflow: hidden;
        border-radius: 24px;

        hr {
            border: 1px solid var(--md-sys-color-outline-variant);
            margin: 2em 0;
        }

        >.info {
            border-radius: 12px;
            padding: 2em;
            background-color: var(--md-sys-color-surface-container-high);
            font-size: 14px;

            .title {
                margin-top: unset;
            }
        }

        >h3 {
            margin: unset;
            margin-bottom: 1em;
        }

        >section {
            display: flex;
            gap: 1em;
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: unset !important;
            }

            >div {
                font-weight: bold;
                width: 200px;
                flex-shrink: 0;
                font-size: 14px;
            }

            >main {
                flex: 1;
                font-size: 14px;

                .tip {
                    color: var(--md-sys-color-outline)
                }

                .hidden-content {
                    margin-bottom: 1em;

                    &:only-child {
                        margin-bottom: unset;
                    }

                    input,
                    main {
                        display: none;
                    }

                    label {
                        color: var(--md-sys-color-primary);
                        cursor: pointer;
                    }

                    &:has(input:checked) {
                        label {
                            display: none;
                        }

                        main {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.translators-list {
    list-style: none;
    margin: unset;
    padding: unset;

    li {
        padding: .5em;

        >a {
            display: flex;
            gap: 1em;
            color: unset;
            align-items: center;

            >img {
                @include profile-img(48px);
            }

            >main {
                >* {
                    display: block
                }

                strong {
                    margin-bottom: .2rem;
                }

                small {
                    color: var(--md-sys-color-outline);
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    #settings {
        flex-direction: column;

        .content {
            >section {
                flex-direction: column;

                >div {
                    font-size: 16px;
                }
            }
        }
    }
}