@use '../mixins' as *;

#street {
    #st-content {
        width: 70%;

        form.loader {
            button {
                width: 80%;
                max-width: 1600px;
                margin: 0 auto;
                display: block;
            }

            .loading {
                display: none;
            }

            &.htmx-request,
            &[data-hx-revealed=true] {
                button {
                    display: none;
                }
            }

            &.htmx-request .loading {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1em;
            }
        }

        >.street-cmp {
            border-radius: 16px;
            background-color: var(--md-sys-color-surface-container);
            margin: 1.5em 0;
            padding: 2em;

            &.illust {
                .author {
                    display: flex;
                    align-items: center;
                    gap: .5em;

                    a {
                        color: unset;
                    }

                    a.img {
                        display: block;

                        img {
                            display: block;
                            @include profile-img(36px);
                        }
                    }
                }

                a.work-main {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;
                    background-color: var(--md-sys-color-surface-container-lowest);
                    margin: 1em 0;
                    overflow: hidden;

                    img {
                        display: block;
                        width: auto;
                        height: auto;
                        max-height: 100vh;
                        max-width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}