#search-info {
    .banner-wrapper {
        position: relative;
        height: 12vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            background-color: var(--md-sys-color-surface-container-lowest);
            display: block;
            object-fit: cover;
            filter: blur(2rem);
            -webkit-filter: blur(2rem);
        }

        .backdrop-wrapper {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(2rem);
            -webkit-backdrop-filter: blur(2rem);
            background-color: rgba(0, 0, 0, .07);
        }
    }

    main {
        background-color: var(--md-sys-color-surface-container-lowest);

        .wrapper {
            margin: 0 auto;
            width: 100%;
            max-width: 1000px;
            padding: 1.5em;
            display: flex;
            gap: 1.5em;

            >img {
                width: 140px;
                height: 140px;
                border-radius: 12px;
                object-fit: cover;
                flex-shrink: 0;
                background-color: var(--md-sys-color-surface-container);
                transform: translateY(-4em);
                margin-bottom: -4em;
            }

            article {
                h2 {
                    margin: 0;
                    margin-bottom: 8px;

                    small {
                        font-weight: normal;
                        color: var(--md-sys-color-outline)
                    }
                }

                .work-count {
                    color: var(--md-sys-color-outline);

                    b {
                        color: var(--md-sys-color-on-surface);
                    }
                }

                .abstract {
                    margin-bottom: unset;
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    #search-info main .wrapper {
        flex-direction: column;
    }
}