@use '../mixins' as *;

#prof-user-info-min {
    > img {
        width: 100%;
        max-height: 25vh;
        object-fit: cover;
        display: block;
    }

    > main {
        width: 100%;
        background-color: var(--md-sys-color-surface-container);

        .wrap {
            max-width: 1000px;
            padding: .7em;
            margin: 0 auto;
        }

        .user {
            display: flex;
            align-items: center;
            gap: .5em;

            .icon-button {
                color: var(--md-sys-color-outline)
            }

            main {
                display: flex;
                align-items: center;
                gap: .5em;

                img {
                    @include profile-img(36px);
                }

                span {
                    font-weight: bold;
                }
            }
        }
    }
}

#prof-user-info {
    .profile-wrap {
        background-color: var(--md-sys-color-surface-container);
        > a {
            display: block;

            ~ main {
                border-radius: 24px 24px 0 0;

                .profile-img {
                    transform: translateY(-3.5em);
                    margin-bottom: -3.5em;
                }
            }
        }
        img {
            height: 100vh;
            width: 100%;
            max-height: 960px;
            object-fit: cover;
            display: block;

            &[data-collapsed] {
                max-height: 120px;
            }
        }
        main {
            position: sticky;
            bottom: 0;
            width: 100%;
            padding: 2em 1.5em;
            background-color: var(--md-sys-color-surface-container);

            .wrap {
                width: 80%;
                margin: 0 auto;
            }

            .user-area {
                display: flex;

                .profile-img {
                    display: block;
                
                    img {
                        @include profile-img(111px);
                        border: 2px solid var(--md-sys-color-surface-container);
                        flex-shrink: 0;
                        margin-right: 1.5em;
                    }
                }

                .info {
                    flex: 1;

                    h3 {
                        margin: unset;
                        margin-bottom: 1em;
                    }

                    .user-stats {
                        color: var(--md-sys-color-outline);

                        a {
                            color: unset;
                        }

                        b {
                          color: var(--md-sys-color-on-surface);
                        }
                    }
                }

                .actions {
                    flex-shrink: 0;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .profile-wrap {
        > a img {
            max-height: 120px !important;
            object-position: top;
        }

        .user-area {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .info {
                margin-bottom: 1em;
            }

            .profile-img img {
                margin-right: unset !important;
                margin-bottom: 1em;
            }
        }
    }
}
