* {
    box-sizing: border-box;
}

:root {
    scrollbar-width: thin;
}

body {
    margin: 0;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    scrollbar-color: var(--md-sys-color-tertiary) transparent;
    font-family: system-ui;
}

a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
}

::selection {
    color: var(--md-sys-color-on-primary);
    background: var(--md-sys-color-primary)
}

.app {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;

    >main {
        flex: 1;
        height: 100%;
    }
}

.app-nav {
    height: 100%;
    width: 64px;
    padding: 1em .6em;
    background-color: var(--md-sys-color-surface3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: unset;
        margin: unset;

        a svg {
            fill: var(--md-sys-color-secondary)
        }
    }

    img.profile {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        background-color: var(--md-sys-color-surface-container-high);
    }
}

.sidebar {
    width: 30%;
    flex-shrink: 0;
    padding: 1em 2em;
    background-color: var(--md-sys-color-surface2);
    overflow: hidden;
    overflow-y: auto;

    h1 {
        font-weight: unset;
    }

    .threads {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;

        a {
            color: unset;

            .thread {
                border-bottom: 1px solid var(--md-sys-color-outline-variant);
            }
    
            &:last-child > .thread {
                border-bottom: unset;
            }
        }

        .thread {
            display: flex;
            padding: .5em;
            
            img {
                flex-shrink: 0;
                margin-right: 1em;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }

            .details {
                .user {
                    .wrapper {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        
                        svg {
                            fill: var(--md-sys-color-primary);
                            margin-left: 6px;
                        }
                    }
                }
                small {
                    color: var(--md-sys-color-outline);
                    font-size: 10px;
                }
            }
        }
    }
}

.notice {
    padding: 1em;
    display: flex;
    color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
    overflow: hidden;
    border-radius: 12px;
    
    svg {
        flex-shrink: 0;
        fill: currentColor;
        margin-right: 8px;
    }

    small {
        flex: 1;
        font-size: 12px;
    }
}

.chat-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    header.info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .75em 1em;
        height: 56px;
        background-color: var(--md-sys-color-surface1);
        flex-shrink: 0;

        .user {
            display: flex;
            align-items: center;
            font-weight: bold;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: .5em;
            }

            svg {
                fill: var(--md-sys-color-primary);
                margin-left: 2px;
            }
        }
    }

    .chat {
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
        padding: 1em 2em;
        overflow: hidden;
        overflow-y: auto;
        row-gap: 1em;

        .message {
            display: flex;
            align-items: flex-end;

            img.profile {
                min-width: 32px;
                min-height: 32px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 1em;
            }

            img.content-img {
                border-radius: 24px;
            }

            .content {
                padding: 1em;
                background-color: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-on-secondary-container);
                border-radius: 24px;
                font-size: 14px
            }

            &.self {
                justify-content: right;
                flex-direction: row-reverse;

                img {
                    margin-right: unset;
                    margin-left: 1em;
                }
            }
        }
    }

    .message-box {
        padding: 1em;

        .reserved-notice {
          padding: 1em;
          display: flex;
          align-items: center;
          background-color: var(--md-sys-color-tertiary-container);
          color: var(--md-sys-color-on-tertiary-container);
          border-radius: 8px;

          svg {
            fill: currentColor;
            margin-right: 1em;
            flex-shrink: 0;
          }

          h3 {
            margin: unset;
            margin-bottom: 8px;
          }
        }

        form {
            width: 100%;
            display: flex;
            align-items: flex-end;

            label[for=uploader] > svg {
                fill: var(--md-sys-color-secondary);
                margin-right: 1em;
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            input[type=file] {
                display: none;
            }

            textarea {
                flex: 1;
                background-color: var(--md-sys-color-surface-container);
                border: unset;
                padding: 10px;
                border-radius: 8px;
                font-family: sans-serif;
                margin-right: 1em;
                resize: none;
                color: var(--md-sys-color-on-surface);

                &:focus {
                    outline: 2px solid var(--md-sys-color-secondary)
                }

                &::placeholder {
                    color: var(--md-sys-color-outline);
                }
            }

            button[type=submit] {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: unset;
                width: 36px;
                height: 36px;
                background-color: var(--md-sys-color-primary);
                
                svg {
                    fill: var(--md-sys-color-on-primary)
                }
            }
        }
    }

    .file-preview {
        display: flex;
        align-items: flex-start;

        .file {
            padding: .5em;
            border-radius: 10px;
            background-color: var(--md-sys-color-surface-container);
            width: 156px;

            img {
                display: block;
                object-fit: contain;
                border-radius: 8px;
                width: 100%;
                height: auto;
                margin-bottom: 8px;
            }

            small {
                color: var(--md-sys-color-outline);
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
        }

        #remove-attachment {
            margin-right: 1em;
            background-color: unset;
            border: unset;
            cursor: pointer;

            svg {
                fill: var(--md-sys-color-outline)
            }
        }
    }

    .file-preview-wrapper {
        display: none;
        margin-bottom: 1em;
    }
}
