{% extends "layouts/default.html" %}
{% block title %}{{ data.artwork.title }}{% endblock %}

{% block content %}
<div class="illust-area">
	<div class="illusts">
		{% if data.artwork.pageCount > 1 %}
		{% for x in data.pages %}
		<div class="illust">
			<a href="{{ x.originalUrl }}">
				<img src="{{ x.thumbUrl }}" />
			</a>
		</div>
		{% endfor %}
		{% else %}
		<div class="illust">
			<a href="{{ data.artwork.originalUrl }}">
				<img src="{{ data.artwork.thumbUrl }}" />
			</a>
		</div>
		{% endif %}
	</div>

	<div class="illust-title">
		<span>{{ data.artwork.title }}</span>
		{% if g.isAuthorized %}
		<div class="illust-actions">
			{% if data.artwork.bookmarked %}
				<a href="/self/removebookmark/{{ data.artwork.bookmarkId }}?r=/artworks/{{ data.artwork._id }}">
					<img src="/static/icons/bookmarked.svg"/>
					<span>{{ data.artwork.bookmarkCount }}</span>
				</a>
			{% else %}
				<a href="/self/addbookmark/{{ data.artwork._id }}?r=/artworks/{{ data.artwork._id }}">
					<img src="/static/icons/bookmark.svg"/>
					<span>{{ data.artwork.bookmarkCount }}</span>
				</a>
			{% endif %}

			{% if data.artwork.liked %}
				<a href="#">
					<img src="/static/icons/liked.svg"/>
					<span>{{ data.artwork.likeCount }}</span>
				</a>
			{% else %}
				<a href="/self/like/{{ data.artwork._id }}?r=/artworks/{{ data.artwork._id }}">
					<img src="/static/icons/like.svg"/>
					<span>{{ data.artwork.likeCount }}</span>
				</a>
			{% endif %}
		</div>
		{% endif %}
	</div>
	<div class="illust-author">
		<a href="/users/{{ data.user._id }}">
			<img src="{{ data.user.image}}" alt="{{ data.user.name}}"/>
			<span>{{ data.user.name }}</span>
		</a>
	</div>
</div>

{% endblock %}
