{% extends "messages/index.html" %}
{% block msgcomponent %}
<div class="chat-wrapper">
    <header class="info">
        <div class="user">
            <img src="{{threadData.icon}}" alt="">
            <span>{{threadData.name}}</span>
            {% if threadData.official %}
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#cacaca"><path d="m347-72-75-124-141-32 13-144-96-108 96-108-13-144 141-32 75-124 133 57 133-57 75 124 141 32-13 144 96 108-96 108 13 144-141 32-75 124-133-57-133 57Zm82-264 238-237-51-51-187 186-85-84-51 51 136 135Z"/></svg>
            {% endif %} 
        </div>
    </header>
    <div class="chat">
        {% for c in thread.contents %}
        <div class="message {% if c.userid == g.userdata._id %}self{% endif %}">
            <img class="profile" src="{{ c.iconUrl }}" alt="{{ c.username }}">
            <div class="content">
                {{c.text|safe}}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="message-box">
	{% if threadData.pairUserId == 11 %}
	<div class="reserved-notice">
	    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M420-360h120l-23-129q20-10 31.5-29t11.5-42q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 23 11.5 42t31.5 29l-23 129Zm60 280q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Z"/></svg>
	    <div class="text">
		<h3>{{_("This thread is reserved for important pixiv messages")}}</h3>
		<small>{{_("pixiv nor Vixipy will never ask for login information or session tokens")}}</small>
	    </div>
	</div>
	{% else %}
        <form method="post">
            <textarea required name="text" placeholder="{{_('Message %(name)s', name=threadData.name)}}"></textarea>
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#cacaca"><path d="M144-192v-192l288-96-288-96v-192l720 288-720 288Z"/></svg>
            </button>
        </form>
	{% endif %}
    </div>
</div>
{% endblock %}
