{% extends "layouts/default.html.j2" %}
{% if data.series_nav_data %}
{% set title = "#" + data.series_nav_data.order|string + " " + data.title + " | " + data.series_nav_data.title %}
{% else %}
{% set title = data.title %}
{% endif %}

{% from "components/novel-entry.html.j2" import nentry %}

{% block content %}
<main>
    <section id="novel-container">
        <main>
            <div class="info">
                <a href="{{data.cover}}" target="_blank">
                    <img src="{{data.cover}}">
                </a>
                <main>
                    {% if data.series_nav_data %}
                    <small class="series-title">{{data.series_nav_data.title}} #{{data.series_nav_data.order}}</small>
                    {% endif %}
                    <h2>{{data.title}}</h2>
                    <div class="author">
                        {%- set user_lnk = url_for('users.user_profile', user=data.user_id) -%}
                        <a class="profile-img" href="{{user_lnk}}">
                            <img src="{{user.image}}" alt="{{data.user_name}}">
                        </a>
                        <a class="user" href="{{user_lnk}}">
                            {{data.user_name}}
                        </a>
                    </div>
                    <pre>{{data.description|safe or _("No description")}}</pre>
                    <ul class="tags">
                        {% for t in data.tags %}
                        <li><a href="/tags/{{t}}">#{{t}}</a></li>
                        {% endfor %}
                    </ul>
                </main>
            </div>
            <section id="novel-contents">
                <pre>{{data.content|safe}}</pre>

                {% if data.series_nav_data %}
                {%- set nav = data.series_nav_data -%}
                <div class="series-nav">
                    <small>{{_("Series")}}</small>
                    <a class="title" href="{{url_for('novels.novel_series_main', id=nav.series_id)}}">
                        <h3>{{nav.title}}</h3>

                        <nav>
                            {% if nav.prev and nav.prev.available %}
                            <a class="button neutral" href="{{url_for('novels.novel_main', id=nav.prev.id)}}">#{{nav.prev.order}} {{nav.prev.title}}</a>
                            {% endif %}
                            {% if nav.next and nav.next.available %}
                            <a class="button neutral" href="{{url_for('novels.novel_main', id=nav.next.id)}}">#{{nav.next.order}} {{nav.next.title}}</a>
                            {% endif %}
                        </nav>
                    </a>
                </div>
                {% endif %}
            </section>
        </main>
    </section>
    <section id="related">
        <h2>{{_("Related works")}}</h2>
        <div class="novels-container">
            {%for x in recommend%}
            {{ nentry(x) }}
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}