{% extends "layouts/default.html.j2" %}
{% set title = _("Site Administration") %}
{% block content %}
<main>
    <h1>Site Administration</h1>

    <h2>API Eval</h2>
    <p>Execute API calls on behalf of all instance accounts</p>
    <form action="/admin/eval" method="post" hx-push-url="false">
	<label>Endpoint</label>
	<input required type="text" spellcheck="false" name="endpoint"></input>
	<br>
	<label>Method</label>
	<select name="method">
	    <option value="get">GET</option>
	    <option value="post">POST</option>
	</select>
	<br>

	<h3>POST payload</h3>
	<label>Content Type</label>
	<select name="content-type">
	    <option value="application/x-www-form-urlencoded">URL Encoded</option>
	    <option value="application/json">JSON</option>
	</select>
	<br>
	<label>Payload</label>
	<br>
	<textarea name="payload" style="width: 100%;" rows="6"></textarea>
	<br>
	<br>
	<button class="button primary" type="submit">Execute</button>
    </form>

    {% if api_results %}
<pre>
{% for x in api_results%}
User: {{x[1].userdata.name}}
ID: {{x[1].userdata.id}}
Response:

{{x[0]}}
{% endfor %}

</pre>
    {% endif %}
</main>
{% endblock content%}
