{% extends "layouts/default.html.j2" %}
{% set title = _("%(work_name)s by %(author)s", work_name=work.title, author=work.authorName) %}

{% block head_additional %}
<meta property="og:title" content='{{_("%(work_name)s by %(author)s", work_name=work.title, author=work.authorName)}}'>
<meta property="og:site_name" content="{{config['INSTANCE_NAME']}}" />
<meta property="og:description" content="
👍 {{work.likeCount|numberformat}} ❤️ {{work.bookmarkCount|numberformat}} 💬 {{work.commentCount|numberformat}}

{% for tag in work.tags %}#{{tag.name}} {% endfor %}

{{work.description_stripped[:64]}}{% if work.description_stripped|length > 64%}...{% endif %}
" />

{#
<!-- Twitter Mosaic -->
{%- for page in pages if not page.page > 3 %}
<meta property="twitter:image" content="{{page.reg}}" />
{% endfor -%}
#}

{# Open Graph Image #}
<meta property="og:image" content="{{work.image_urls.regular}}" />
<meta property="twitter:card" content="summary_large_image" />

{% endblock %}

{% block content %}

{% if not g.hx_request %}

{% block root %}
<div id="artwork-root">
    <div class="content">
        <main>
            <div class="work-main">
                {% if g.hx_request %}
                <div class="pages-placeholder" hx-get="{{url_for('artworks._pages_p', id=work.id)}}" hx-trigger="load"
                    hx-swap="outerHTML">
                    {% include "components/spinner.html.j2" %}
                </div>
                {% else %}
                {% block pages %}
                <div class="pages">
                    {% for x in pages %}
                    <div class="page">
                        <div class="meta">
                        </div>
                        <a href="{{x.orig}}" target="_blank">
                            <img loading="lazy"
                                alt="{{_('Page %(page)d of %(total)d', page=x.page, total=pages|length)}}"
                                src="{{x.reg}}" {%if x.width and x.height%} width="{{x.width}}" height="{{x.height}}" {%
                                endif %}>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endblock pages %}
                {% endif %}
            </div>
            {% if work.series_data %}
            <div class="series-data"></div>
            {% endif %}
            {#
            <div class="actions">
                <div class="wrapper"></div>
            </div>
            #}
        </main>
        <aside>
            {% if work.series_data %}
            <a class="series-link" href="{{url_for('artworks.series', id=work.series_data.id)}}">
                {{work.series_data.title}} #{{work.series_data.order}}
            </a>
            {% endif %}
            <h2>{{work.title}}</h2>
            {% if g.hx_request %}
            <div class="author" hx-get="{{url_for('artworks._author_p', id=work.authorId)}}" hx-trigger="load"
                hx-swap="outerHTML">
                <a class="img">
                    <img src="/proxy/s.pximg.net/common/images/no_profile_s.png">
                </a>
                <a>
                    {{_("Loading...")}}
                </a>
            </div>
            {% else %}
            {% block author %}
            <div class="author">
                <a class="img" href="{{url_for('users.user_profile', user=user.id)}}">
                    <img src="{{user.image}}">
                </a>
                <a href="{{url_for('users.user_profile', user=user.id)}}">
                    {{user.name}}
                </a>
            </div>
            {% endblock author %}
            {% endif %}
            <ul class="tags">
                {%- for x in work.tags -%}
                <li>
                    {%- if x.en or x.romaji -%}
                    <a href="{{url_for('search.search_main', query=x.name)}}">#{{x.name}} <span class="alternate">{{x.en
                            or x.romaji}}</span></a>
                    {%- else -%}
                    <a href="{{url_for('search.search_main', query=x.name)}}">#{{x.name}}</a>
                    {%- endif -%}
                </li>
                {%- endfor -%}
            </ul>
            {% if work.description_stripped|length > 0 %}
            <div class="description">
                <input type="checkbox" id="description-collapse" {% if work.description_stripped|length < 300%}checked{%
                    endif %}>
                <main>
                    {{work.description|safe}}
		</main>
		<label for="description-collapse">{{_("Show more...")}}</label>
	    </div>
	    {% endif %}
	    <ul class="attributes">
	        {%- if work.loginonly -%}
		<li>{{_("Sign in required")}}</li>
		{%- endif -%}
	        {%- if not work.xrestrict >= 1 and work.sl >= 4 -%}
	        <li class="error">{{_("Sensitivity Level: %(sl)d", sl=work.sl)}}</li>
		{%- endif -%}
		{%- if work.xrestrict >= 1 -%}
		<li class="error">{{work.xrestrict_friendlyname}}</li>
		{%- endif -%}
		{%- if work.ai -%}
		<li class="tertiary">{{_("AI Generated")}}</li>
		{%- endif -%}
		{%- if work.original -%}
		<li class="primary">{{_("Original")}}</li>
		{%- endif -%}
		{%- if work.isUgoira -%}
		<li class="secondary">{{_("Ugoira")}}</li>
		{%- endif -%}
	    </ul>
	    <div class="creation-date">{{work.uploadDate|datetimeformat}}</div>
        </aside>
    </div>
</div>


<main>
    {% if not g.hx_request %}
    {% block recommended %}
    {% import "components/artwork-entry.html.j2" as artwork_entry %}

    <section id="related">
        <h2>{{_("Related works")}}</h2>
        <div class="artwork-container">
            {% for r in recommend %}
            {{ artwork_entry.entry(r) }}
            {% endfor %}
        </div>
    </section>
    {% endblock recommended %}
    {% else %}
    <section id="related" hx-get="{{url_for('artworks._recommend_p', id=work.id)}}" hx-swap="outerHTML"
        hx-trigger="revealed">
        <h2>{{_("Related works")}}</h2>
        {% include "components/indicator-center.html.j2" %}
    </section>
    {% endif %}
</main>

{% endblock root %}

{% else %}
<div hx-get="{{url_for('artworks._root_p', id=work.id)}}" hx-trigger="load" hx-swap="outerHTML">
    {% include "components/content-loading.html.j2" %}
</div>
<style hx-get="{{url_for('api.gen_scheme_from_artwork', id=work.id)}}" hx-trigger="load" hx-swap="textContent"></style>
{% endif %}

</section>

{% endblock %}

{% block page_error %}
<div class="pages-error">
    <p>{{_("An error occurred trying to get the artwork pages")}}</p>
    <code>{{error.__class__.__name__}}: {{error}}</code>
</div>
{% endblock %}
