{% extends "layouts/default.html.j2" %}
{% set title = _("%(work_name)s by %(author)s", work_name=work.title, author=work.authorName) %}

{% block head_additional %}
<meta property="og:title" content='{{_("%(work_name)s by %(author)s", work_name=work.title, author=work.authorName)}}'>
<meta property="og:site_name" content="{{config['INSTANCE_NAME']}}" />
<meta property="og:description" content="
👍 {{work.likeCount|numberformat}} ❤️ {{work.bookmarkCount|numberformat}} 💬 {{work.commentCount|numberformat}} 👀 {{work.viewCount|numberformat}}

{% for tag in work.tags %}#{{tag.en or tag.name}} {% endfor %}

{{work.description_stripped[:64]}}{% if work.description_stripped|length > 64%}...{% endif %}
" />

{#
<!-- Twitter Mosaic -->
{%- for page in pages if not page.page > 3 %}
<meta property="twitter:image" content="{{page.reg}}" />
{% endfor -%}
#}

{# Open Graph Image #}
<meta property="og:image" content="{{work.image_urls.regular}}" />
<meta property="twitter:card" content="summary_large_image" />

{% if work.has_tag_any(['transgender', 'トランスジェンダー']) %}
<script src="/static/js/trans-rights.js" defer></script>
{% endif %}

{% endblock %}

{% block content %}

{% if not g.hx_request %}

{% block root %}
<div id="artwork-root">
    <div class="content">
        <main>
            <div class="work-main">
	        <div class="pages-root">
		    {% if request.cookies.get("Vixipy-Enable-Seasonal-Effects", "1") == "1" %}
                    {% if work.has_tag("pixivValentineEffect") %}
                    <img class="effect" src="/proxy/source.pixiv.net/special/seasonal-effect-tag/pixiv-valentine-effect/effect.png">
                    {% elif work.has_tag_any(["pixivSnowEffect", "pixivSnow2024"]) %}
		    <img class="effect" src="/proxy/source.pixiv.net/special/seasonal-effect-tag/pixiv-snow-2024/effect.png">
		    {% elif work.has_tag_any(["pixivRain2024", "pixivRainEffect"]) %}
		    <img class="effect" src="/proxy/source.pixiv.net/special/seasonal-effect-tag/pixiv-rain-2024/effect.webp">
		    {% elif work.has_tag_any(["pixivSakuraEffect", "pixivSakuraFestival2024"]) %}
		    <img class="effect" src="/proxy/source.pixiv.net/special/seasonal-effect-tag/pixiv-sakura-effect/effect.png">
		    {% elif work.has_tag_any(["pixivFall2024", "pixivFallEffect"]) %}
		    <img class="effect" src="/proxy/source.pixiv.net/special/seasonal-effect-tag/pixiv-fall-2024/effect.png">
		    {% elif work.has_tag("TrickOrTreat2024") %}
		    <img class="effect" src="/proxy/source.pixiv.net/special/seasonal-effect-tag/trick-or-treat-2024/effect.png">
		    {% elif work.has_tag("evaEffect") %}
		    <img class="effect" src="/proxy/source.pixiv.net/special/seasonal-effect-tag/pixiv-eva-effect/effect.png">
		    {% elif work.has_tag_any(('pixivGlowEffect', 'pixivGlow2024'))%}
		    <img class="effect" src="/proxy/source.pixiv.net/special/seasonal-effect-tag/pixiv-glow-effect/effect.webp">
		    {% endif %}
		    {% endif %}

                    {% if g.hx_request %}
                    <div class="pages-placeholder" hx-get="{{url_for('artworks._pages_p', id=work.id)}}" hx-trigger="load"
                        hx-swap="outerHTML">
                        {% include "components/spinner.html.j2" %}
                    </div>
                    {% else %}
                    {% block pages %}
                    <div class="pages">
                        {% for x in pages %}
                        <div class="page" id="{{x.page}}">
                            <div class="meta"></div>
                            <a href="{{x.orig}}" target="_blank">
                                <img loading="lazy"
                                    alt="{{_('Page %(page)d of %(total)d', page=x.page, total=pages|length)}}"
                                   src="{{x.reg}}" {%if x.width and x.height%} width="{{x.width}}" height="{{x.height}}" {%endif %}>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% if pages|length > 1 %}
                    <div class="page-control-view-all">
		        <input type="checkbox" id="view-all">
                        <label for="view-all" class="button neutral">{{_("View All")}}</label>
                    </div>
                    {% endif %}
                    {% endblock pages %}
                    {% endif %}
            </div>
	    {% block work_fab scoped %}
	    {% if g.authorized %}
            <div class="actions" hx-target="this" hx-push-url="false" hx-swap="outerHTML show:none", hx-headers='{"X-Vixipy-Quick-Action": "true"}'>
                <div class="wrapper">
                    {% if work.liked %}
		    <div class="like-indicator active">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.707 8.293a1 1 0 00-1.414 1.414L7 12.414l5.707-5.707a1 1 0 00-1.414-1.414L7 9.586 5.707 8.293z" fill="currentColor"/></svg>
                        <span>{{_("Like")}}</span>
                    </div>
                    {% else %}
		    <form action="{{url_for('user_action.perform_work_action', id=work.id, action='like')}}" method="post">
	                <input type="hidden" name="rt" value="{{request.path}}">
			<button type="submit" class="like-indicator">
		            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 8a2 2 0 100-4 2 2 0 000 4zM12 8a2 2 0 100-4 2 2 0 000 4zM11.89 10.89a5.5 5.5 0 01-7.78 0 1 1 0 011.415-1.415 3.5 3.5 0 004.95 0 1 1 0 111.414 1.414z" fill="currentColor"/></svg>
			    <span>{{_("Like")}}</span>
			</button>
		    </form>
                    {% endif %}
                    <form action="{% if work.bookmarked %}{{url_for('user_action.delete_bookmark', id=work.bookmark_id)}}{% else %}{{url_for('user_action.perform_work_action', id=work.id, action='bookmark')}}"{% endif %}" method="post">
                        <input type="hidden" name="rt" value="{{request.path}}">
			<input type=hidden name="work_id" value="{{work.id}}">
			<button type="submit">
			    {% if work.bookmarked %}
			    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 9.023A6.023 6.023 0 018.023 3c1.486 0 2.88.68 3.977 1.677C13.096 3.68 14.49 3 15.977 3A6.023 6.023 0 0122 9.023c0 4.908-3.22 8.893-8.807 12.018a2.443 2.443 0 01-2.386 0C5.22 17.916 2 13.931 2 9.023z" fill="var(--md-sys-color-primary)"/></svg>
			    {% else %}
			    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 8.91A3.91 3.91 0 0016.09 5c-1.115 0-2.38.723-3.287 1.943L12 8.021l-.803-1.078C10.29 5.723 9.025 5 7.91 5A3.91 3.91 0 004 8.91c0 3.86 2.482 7.342 7.889 10.366a.229.229 0 00.222 0C17.518 16.252 20 12.77 20 8.91z" fill="#fff"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.087 21.021C18.792 17.831 22 13.81 22 8.91A5.91 5.91 0 0016.09 3c-1.529 0-2.976.747-4.09 1.834C10.886 3.747 9.439 3 7.91 3A5.91 5.91 0 002 8.91c0 4.9 3.208 8.92 8.913 12.111a2.227 2.227 0 002.174 0zM16.09 5A3.91 3.91 0 0120 8.91c0 3.86-2.482 7.342-7.889 10.366a.229.229 0 01-.222 0C6.482 16.252 4 12.77 4 8.91A3.91 3.91 0 017.91 5c1.115 0 2.38.723 3.287 1.943L12 8.021l.803-1.078C13.71 5.723 14.975 5 16.09 5z" fill="#000" /></svg>
			    {% endif %}
			</button>
                    </form>
                </div>
            </div>
	    {% endif %}
	    {% endblock work_fab %}
        </main>
        <aside>
            {% if work.series_data %}
            <a class="series-link" href="{{url_for('artworks.series', id=work.series_data.id)}}">
                {{work.series_data.title}} #{{work.series_data.order}}
            </a>
            {% endif %}
            <h2>{{work.title}}</h2>
            {% if g.hx_request %}
            <div class="author" hx-get="{{url_for('artworks._author_p', id=work.authorId)}}" hx-trigger="load"
                hx-swap="outerHTML">
                <a class="img">
                    <img src="/proxy/s.pximg.net/common/images/no_profile_s.png">
                </a>
                <a>
                    {{_("Loading...")}}
                </a>
            </div>
            {% else %}
            {% block author %}
            <div class="author">
                <a class="img" href="{{url_for('users.user_profile', user=user.id)}}">
                    <img src="{{user.image}}">
                </a>
                <a href="{{url_for('users.user_profile', user=user.id)}}">
                    {{user.name}}
                </a>
            </div>
            {% endblock author %}
            {% endif %}
            <ul class="tags">
                {%- for x in work.tags -%}
                <li>
                    {%- if x.en or x.romaji -%}
                    <a href="{{url_for('search.search_main', query=x.name)}}">#{{x.name}} <span class="alternate">{{x.en
                            or x.romaji}}</span></a>
                    {%- else -%}
                    <a href="{{url_for('search.search_main', query=x.name)}}">#{{x.name}}</a>
                    {%- endif -%}
                </li>
                {%- endfor -%}
            </ul>
            {% if work.description_stripped|length > 0 %}
            <div class="description">
                <input type="checkbox" id="description-collapse" {% if work.description_stripped|length < 300%}checked{%
                    endif %}>
                <main>
                    {{work.description|safe}}
		</main>
		<label for="description-collapse">{{_("Show more...")}}</label>
	    </div>
	    {% endif %}
	    <ul class="attributes">
	        {%- if work.loginonly -%}
		<li>{{_("Sign in required")}}</li>
		{%- endif -%}
	        {%- if not work.xrestrict >= 1 and (work.sl >= 4 or work.sl == 0) -%}
	        <li class="error">{{_("Sensitivity Level: %(sl)d", sl=work.sl)}}</li>
		{%- endif -%}
		{%- if work.xrestrict >= 1 -%}
		<li class="error">{{work.xrestrict_friendlyname}}</li>
		{%- endif -%}
		{%- if work.ai -%}
		<li class="tertiary">{{_("AI Generated")}}</li>
		{%- endif -%}
		{%- if work.original -%}
		<li class="primary">{{_("Original")}}</li>
		{%- endif -%}
		{%- if work.isUgoira -%}
		<li class="secondary">{{_("Ugoira")}}</li>
		{%- endif -%}
	    </ul>
	    <div class="creation-date">{{work.uploadDate|datetimeformat}}</div>
        </aside>
    </div>
</div>


<main>
    {% if not g.hx_request %}
    {% block recommended %}
    {% import "components/artwork-entry.html.j2" as artwork_entry %}

    <section id="related">
        <h2>{{_("Related works")}}</h2>
        <div class="artwork-container">
            {% for r in recommend %}
            {{ artwork_entry.entry(r) }}
            {% endfor %}
        </div>
    </section>
    {% endblock recommended %}
    {% else %}
    <section id="related" hx-get="{{url_for('artworks._recommend_p', id=work.id)}}" hx-swap="outerHTML"
        hx-trigger="revealed">
        <h2>{{_("Related works")}}</h2>
        {% include "components/indicator-center.html.j2" %}
    </section>
    {% endif %}
</main>

{% endblock root %}

{% else %}
<div hx-get="{{url_for('artworks._root_p', id=work.id)}}" hx-trigger="load" hx-swap="outerHTML">
    {% include "components/content-loading.html.j2" %}
</div>
<style hx-get="{{url_for('api.gen_scheme_from_artwork', id=work.id)}}" hx-trigger="load" hx-swap="textContent"></style>
{% endif %}

</section>

{% endblock %}

{% block page_error %}
<div class="pages-error">
    <p>{{_("An error occurred trying to get the artwork pages")}}</p>
    <code>{{error.__class__.__name__}}: {{error}}</code>
</div>
{% endblock %}
