{% extends "layouts/default.html" %}
{% set title = _("Home") %}

{% from "components/artwork-entry.html" import entry %}

{% block content %}
<main>
    <section id="checkpoint">
        <h2>{{_("Ranking for %(date)s", date=data.date|dateformat)}}</h2>
        <div class="artwork-container">
            {% for x in data.contents %}
            {{ entry(x) }}
            {% endfor %}
        </div>
        <div class="button-pointer">
            <a href="/rankings" class="button neutral">
                {{_("View All")}}
            </a>
        </div>
    </section>
</main>
{% endblock %}