{% extends "layouts/default.html" %}
{% set title = _("Home") %}

{% import "components/artwork-entry.html" as ae %}
{% import "components/tag.html" as t %}

{% block content %}
<main class="large">
    {{ t.tag_list_large(tags) }}
    {% if following | length > 0 %}
    <section id="following">
        <h2>{{_("Works by users you are following")}}</h2>
        <div class="scrolling-container">
            {% for il in following %}
            {{ ae.entry(il) }}
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% if recommend | length > 0 %}
    <section id="recommended">
        <h2>{{_("Recommended works")}}</h2>
        <div class="artwork-container">
            {% for il in recommend %}
            {{ ae.entry(il) }}
            {% endfor %}
        </div>
    </section>

    <section id="popular-tags">
        <h2>{{_("Popular Tags")}}</h2>
        <div class="carousel portrait">
            {% for x in trending_tags %}
            <div class="entry">
                <a href="{{url_for('search.search_main', query=x.tag.orig)}}">
                    <img src="{{x.work.thumb}}" loading="lazy">
                    <div class="text">
                        {% if x.tag.orig != x.tag.default %}
                        <div class="title">{{x.tag.default}}</div>
                        <span>#{{x.tag.orig}}</span>
                        {% else %}
                        <div class="title">#{{x.tag.default}}</div>
                        {% endif %}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>


    {% endif %}

    <section id="pixivision">
        <hgroup>
            <small>{{_("pixiv creative media")}}</small>
            <h2>{{_("Newest articles on pixivision")}}</h2>
        </hgroup>
        <div class="carousel large">
            {% for x in pixivision %}
            <div class="entry">
                <a href="{{url_for('pixivision.article', id=x.id)}}">
                    <img src="{{x.thumb}}" loading="lazy">
                    <div class="text">
                        <div class="title">{{x.title}}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    {% for rt in rec_tag %}

    <section>
        <h2>{{_("Recommended illustrations tagged <a href='%(link)s' title='%(title)s'>#%(tag)s</a>",
            tag=rt.translation.default or rt.name , title=rt.name, link=url_for("search.search_main", query=rt.name))}}
        </h2>
        {% if config["DEBUG"] %}
        <pre>
translation: {{rt.translation}}
en: {{rt.translation.en}}
ja: {{rt.translation.ja}}
ko: {{rt.translation.ko}}
zh: {{rt.translation.zh}}
zh_tw: {{rt.translation.zh_tw}}
romaji: {{rt.translation.romaji}}
orig: {{rt.translation.orig}}
illusts: {{rt}}
        </pre>
        {% endif %}
        <div class="artwork-container">
            {% for il in rt.illusts %}
            {{ ae.entry(il) }}
            {% endfor %}
        </div>
    </section>
    {% endfor %}
    {% if new|length > 0 %}
    <section id="new">
        <h2>{{_("Newest by all")}}</h2>
        <div class="artwork-container">
            {% for il in new %}
            {{ ae.entry(il) }}
            {% endfor %}
        </div>
    </section>
    {% endif %}
</main>
{% endblock %}