<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    {% include "components/theme-pref.html" %}
    <title>{{_("Internal Server Error")}} | {{config["INSTANCE_NAME"]}}</title>

    <noscript>
        <style>
            #back {display: none}
        </style>
    </noscript>
</head>
<body>
    <div id="internal-server-error-page">
        <div class="detail">
            <main>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.993 2.865A2.952 2.952 0 019.081 2h5.838c.783 0 1.534.311 2.088.865l4.128 4.128c.554.554.865 1.305.865 2.088v5.838c0 .783-.311 1.534-.865 2.088l-4.128 4.128a2.952 2.952 0 01-2.088.865H9.081a2.952 2.952 0 01-2.088-.865l-4.128-4.128A2.952 2.952 0 012 14.919V9.081c0-.783.311-1.534.865-2.088l4.128-4.128zm1.3 5.428a1 1 0 011.414 0L12 10.586l2.293-2.293a1 1 0 111.414 1.414L13.414 12l2.293 2.293a1 1 0 01-1.414 1.414L12 13.414l-2.293 2.293a1 1 0 01-1.414-1.414L10.586 12 8.293 9.707a1 1 0 010-1.414z" fill="currentColor"/></svg>
                <h3>{{_("Looks like Vixipy broke unexpectedly...")}}</h3>

                <p>{{_("An internal error has occurred and Vixipy cannot continue.")}}</p>
            </main>
            <div class="actions">
                <button class="button smaller primary" id="back">{{_("Go back")}}</button>
                <a class="button smaller primary" href="https://codeberg.org/vixipy/Vixipy/issues/new">{{_('Report Issue')}}</a>
                <a class="button smaller primary" href="{{request.path}}">{{_('Try Again')}}</a>
            </div>
        </div>
        <main>
            <pre>{{traceback}}</pre>
        </main>
    </div>
    <script>
        document.querySelector("#back").onclick = ()=>{
            history.back();
            window.close();
        }
    </script>
</body>
</html>