{% extends "layouts/default.html" %}
{% set title = _("Submit Illustration") %}

{% block content %}
<main>
    <h1>Submit Illustration</h1>
    <script src="/static/js/upload-illustration.js"></script>
    <form action="/self/illustration/upload" method="post" enctype="multipart/form-data">
        <label class="block heading" for="file">{{_("Files")}}</label>
        <input type="file" id="file" name="files" accept="image/png, image/gif, image/jpeg">

        <fieldset>
            <legend>{{_("Basic Information")}}</legend>
            <label for="title" class="block heading">{{_("Title")}}</label>
            <input type="text" name="title" id="title" class="width-100" required maxlength="32">

            <label for="caption" class="block heading">{{_("Caption")}}</label>
            <textarea name="caption" id="caption" class="width-100" rows="6" maxlength="3000"></textarea>

            <label for="tags" class="block heading">{{_("Tags")}}</label>
            <input type="text" id="tags" name="tags" required class="width-100">
            <label for="tags" class="block hint">{{_("Max. 10 tags, separate with a comma. Whitespace is stripped.")}}</label>

            <label class="block"><input type="checkbox" name="denyTagEdit" checked>{{_("Don't allow users to edit tags")}}</label>
        </fieldset>
        <br>
        <fieldset>
            <legend>{{_("Content and Privacy")}}</legend>
            <label class="block"><input type="checkbox" name="ai">{{_("AI-generated work")}}</label>
            <label class="block"><input type="checkbox" name="allowComment" checked>{{_("Allow comments")}}</label>
            <label class="block"><input type="checkbox" name="original">{{_("Original work")}}</label>
            <br>
            <fieldset>
                <legend>{{_("Visible to")}}</legend>
                <label><input type="radio" name="xrestrict" value="general" required checked>{{_("All Ages")}}</label>
                <label><input type="radio" name="xrestrict" value="r18" required>R-18</label>
                <label><input type="radio" name="xrestrict" value="r18g" required>R-18G</label>
            </fieldset>
            <fieldset>
                <legend>{{_("Open to")}}</legend>
                <label><input type="radio" name="restrict" value="public" required checked>{{_("Public")}}</label>
                <label><input type="radio" name="restrict" value="public" required>{{_("Logged-in users only")}}</label>
                <label><input type="radio" name="restrict" value="public" required>{{_("My pixiv only")}}</label>
                <label><input type="radio" name="restrict" value="public" required>{{_("Private")}}</label>
            </fieldset>
            <fieldset id="adult">
                <legend>{{_("Adult Content")}}</legend>
                <label><input type="radio" name="sexual" value="true" required>{{_("Yes")}}</label>
                <label><input type="radio" name="sexual" value="false" required>{{_("No")}}</label>
            </fieldset>
            <fieldset disabled id="mature">
                <legend>{{_("Mature Content")}}</legend>
                <label><input type="checkbox" name="attributes[lo]">{{_("Minors")}}</label>
                <label><input type="checkbox" name="attributes[furry]">{{_("Furry")}}</label>
                <label><input type="checkbox" name="attributes[bl]">{{_("BL")}}</label>
                <label><input type="checkbox" name="attributes[yuri]">{{_("Yuri")}}</label>
            </fieldset>
        </fieldset>

        <div class="notice error">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M109-120q-11 0-20-5.5T75-140q-5-9-5.5-19.5T75-180l370-640q6-10 15.5-15t19.5-5q10 0 19.5 5t15.5 15l370 640q6 10 5.5 20.5T885-140q-5 9-14 14.5t-20 5.5H109Zm371-120q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm0-120q17 0 28.5-11.5T520-400v-120q0-17-11.5-28.5T480-560q-17 0-28.5 11.5T440-520v120q0 17 11.5 28.5T480-360Z"/></svg>
            <div>
                {{_("By posting your work, you hereby agree to the pixiv Terms of Service. Vixipy is provided to you as is, without warranty of any kind and will not be responsible for any action taken whatsoever.")}}
            </div>
        </div>
        <button class="button primary" type="submit">{{_("Post")}}</button>
    </form>
</main>
{% endblock %}