{% extends "layouts/default.html" %}
{% block title %}{{ article.title.split("-")[0] }}{% endblock %}
{% block additionalHeadData %}
<meta property="og:title" content="{{ article.title }} | pixivision | Vixipy">
<meta property="og:site_name" content="Vixipy">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ article.text }}">
<meta property="og:image" content="{{ article.image }}">
<meta content="summary_large_image" name="twitter:card" />
{% endblock %}

{% block content %}
<div class="article-container">
	<h1>{{ article.title }}</h1>
  <small>{{ _("Posted on %(date)s", date=(article.date | dateformat)) }} - {{ _("Category:") }} {{ article.category }}</small>
	{% if article.image %}
	<img class="article-main-img" src="{{ article.image }}">
	{% endif %}
	{{ article._content | safe }}
  <div class="article-works">
    {% for w in article.works %}
    <div class="work">
      <div class="author">
        <a href="{{ w.authorLink }}">
          <img alt={{ w.author }} src="{{ w.image }}">
        </a>
        <div class="info">
          <a href="{{ w.link }}"><h4>{{ w.title }}</h4></a>
          <small>by <a href="{{ w.authorLink }}">{{ w.author }}</a></small>
        </div>
      </div>
      <a href="{{ w.link }}">
        <img alt="{{ w.title }}" src="{{ w.image }}">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
