:root {
  --md-sys-color-primary: #0061A4;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #D2E4FF;
  --md-sys-color-on-primary-container: #001D36;
  --md-sys-color-secondary: #525E7D;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #D9E2FF;
  --md-sys-color-on-secondary-container: #0E1B37;
  --md-sys-color-tertiary: #585A8B;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #E1E0FF;
  --md-sys-color-on-tertiary-container: #141643;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-background: #FDFCFF;
  --md-sys-color-on-background: #161C24;
  --md-sys-color-surface: #F8F9FF;
  --md-sys-color-on-surface: #161C24;
  --md-sys-color-surface-variant: #DBE3F1;
  --md-sys-color-on-surface-variant: #414750;
  --md-sys-color-outline: #717782;
  --md-sys-color-shadow: #000000;
  --md-sys-color-inverse-surface: #2B3139;
  --md-sys-color-inverse-on-surface: #EBF1FD;
  --md-sys-color-inverse-primary: #9FCAFF;
  --md-sys-color-surface1: #F1F4FA;
  --md-sys-color-surface2: #E9EFF7;
  --md-sys-color-surface3: #E1EAF5;
  --md-sys-color-surface4: #DFE9F4;
  --md-sys-color-surface5: #DAE6F2;
  --md-sys-color-surface-dim: #D4DAE6;
  --md-sys-color-surface-bright: #F8F9FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #EEF4FF;
  --md-sys-color-surface-container: #E8EEFA;
  --md-sys-color-surface-container-high: #E3E8F4;
  --md-sys-color-surface-container-highest: #DDE3EE;
  --md-sys-color-outline-variant: #C1C7D2;
  --md-sys-color-primary2: #146DAB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: #9FCAFF;
    --md-sys-color-on-primary: #003259;
    --md-sys-color-primary-container: #00497E;
    --md-sys-color-on-primary-container: #D2E4FF;
    --md-sys-color-secondary: #BAC6EA;
    --md-sys-color-on-secondary: #24304D;
    --md-sys-color-secondary-container: #3A4664;
    --md-sys-color-on-secondary-container: #D9E2FF;
    --md-sys-color-tertiary: #C1C2FA;
    --md-sys-color-on-tertiary: #2A2C59;
    --md-sys-color-tertiary-container: #404271;
    --md-sys-color-on-tertiary-container: #E1E0FF;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error-container: #FFB4AB;
    --md-sys-color-background: #161C24;
    --md-sys-color-on-background: #DDE3EE;
    --md-sys-color-surface: #0E141C;
    --md-sys-color-on-surface: #DDE3EE;
    --md-sys-color-surface-variant: #3F4753;
    --md-sys-color-on-surface-variant: #C1C7D2;
    --md-sys-color-outline: #8B919C;
    --md-sys-color-shadow: #000000;
    --md-sys-color-inverse-surface: #DDE3EE;
    --md-sys-color-inverse-on-surface: #2B3139;
    --md-sys-color-inverse-primary: #0061A4;
    --md-sys-color-surface1: #1C242E;
    --md-sys-color-surface2: #202935;
    --md-sys-color-surface3: #252F3C;
    --md-sys-color-surface4: #26303D;
    --md-sys-color-surface5: #283342;
    --md-sys-color-surface-dim: #0E141C;
    --md-sys-color-surface-bright: #333A42;
    --md-sys-color-surface-container-lowest: #080F16;
    --md-sys-color-surface-container-low: #161C24;
    --md-sys-color-surface-container: #1A2028;
    --md-sys-color-surface-container-high: #242A33;
    --md-sys-color-surface-container-highest: #2F353E;
    --md-sys-color-outline-variant: #414750;
    --md-sys-color-primary2: #92BEF1;
  }
}
a.label-button, button.label-button, a.button, button.button {
  border: unset;
  padding: 8px 18px;
  border-radius: 999999px;
  display: inline-block;
}
a.icon.label-button, button.icon.label-button, a.icon.button, button.icon.button {
  display: flex;
  align-items: center;
}
a.icon.label-button svg, button.icon.label-button svg, a.icon.button svg, button.icon.button svg {
  fill: currentColor;
  margin-right: 1em;
}

button {
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
}

a.button.primary, button.button.primary {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}
a.button.neutral, button.button.neutral {
  background-color: var(--md-sys-color-surface5);
  color: var(--md-sys-color-on-surface);
}
a.button.secondary, button.button.secondary {
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
}
a.button.tertiary, button.button.tertiary {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
}

a.label-button, button.label-button {
  background-color: unset;
  font-size: 16px;
  font-weight: bold;
  color: var(--md-sys-color-primary);
}

a.icon-button, button.icon-button {
  background-color: unset;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--md-sys-color-on-surface);
  transition: background-color 0.1s ease;
  padding: 6px;
}
a.icon-button svg, button.icon-button svg {
  fill: currentColor;
}
a.icon-button:hover, button.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

header {
  padding: 8px 1em;
  background-color: var(--md-sys-color-surface-container);
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.26);
  position: sticky;
  top: 0;
  z-index: 1;
}
header .wrapper {
  margin: auto;
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
}
header .left, header .right {
  display: flex;
  align-items: center;
}
header .left a.branding {
  color: unset;
  font-weight: bold;
  margin-left: 0.5em;
  font-size: 18px;
}
header .left a.branding .debug-label {
  color: var(--md-sys-color-error);
  font-weight: unset;
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 4px;
}
header .right #notifications {
  position: relative;
}
header .right #notifications .count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  width: 15px;
  height: 15px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  padding: 1px 0;
  transform: translate(-2px, 2px);
  outline: 3px solid var(--md-sys-color-surface);
  pointer-events: none;
}
header .right a#user {
  color: unset;
  padding: unset;
  border: unset;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 8px;
}
header .right a#user img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
  background-color: var(--md-sys-color-surface-container-low);
}
header .right .sign-in-button {
  margin-left: 12px;
  font-weight: bold;
}

.artwork-entry {
  max-width: 150px;
  min-width: 150px;
}
.artwork-entry .img-container {
  position: relative;
}
.artwork-entry .img-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  background-color: var(--md-sys-color-surface-container-low);
  border-radius: 8px;
}
.artwork-entry .title, .artwork-entry .author {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.artwork-entry .title {
  font-weight: bold;
  color: unset;
  margin: 4px 0;
}
.artwork-entry .author {
  display: flex;
  align-items: center;
}
.artwork-entry .author img {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  object-fit: cover;
  object-position: center;
  background-color: var(--md-sys-color-surface-container-low);
  margin-right: 12px;
}

.artwork-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

.scrolling-container {
  width: 100%;
  display: flex;
  column-gap: 1em;
  overflow: hidden;
  overflow-x: auto;
  padding-bottom: 8px;
}

input[type=text],
input[type=password],
textarea {
  border: 2px solid var(--md-sys-color-outline-variant);
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface-container-lowest);
  padding: 12px 10px;
  border-radius: 8px;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  outline: unset;
}
input[type=text].width-100,
input[type=password].width-100,
textarea.width-100 {
  width: 100%;
}

label.block {
  display: block;
}
label.heading {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 18px;
}

form .actions {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

#artwork-main {
  display: flex;
  gap: 2em;
}
#artwork-main main {
  flex: 70%;
  border-radius: 12px;
  background-color: var(--md-sys-color-surface-container);
  overflow: hidden;
}
#artwork-main main .works .work {
  position: relative;
}
#artwork-main main .works .work a {
  line-height: 0px;
  font-size: 0px;
  display: block;
  cursor: zoom-in;
}
#artwork-main main .works .work a img {
  width: 100%;
  object-fit: contain;
  min-width: 48px;
}
#artwork-main main .works .work .meta {
  position: absolute;
  top: 0;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  pointer-events: none;
  column-gap: 0.5em;
}
#artwork-main main .works .work .meta > div {
  font-size: 12px;
  font-weight: bold;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
  padding: 6px 10px;
  border-radius: 4px;
}
#artwork-main aside {
  flex: 30%;
}
#artwork-main aside h2 {
  margin: unset;
  margin-bottom: 0.5em;
}
#artwork-main aside ul {
  list-style: none;
  margin: unset;
  padding: unset;
}
#artwork-main aside ul li {
  display: inline-block;
}
#artwork-main aside .tags li {
  color: var(--md-sys-color-outline);
  font-size: 12px;
}
#artwork-main aside .tags li a {
  font-weight: bold;
}
#artwork-main aside .data {
  margin: 0.5em 0;
}
#artwork-main aside .data li {
  margin-right: 0.5em;
}
#artwork-main aside .data li, #artwork-main aside .data a {
  color: var(--md-sys-color-outline);
  display: inline-flex;
  align-items: center;
}
#artwork-main aside .data li svg, #artwork-main aside .data a svg {
  fill: var(--md-sys-color-secondary);
  margin-right: 4px;
}
#artwork-main aside .create-date {
  color: var(--md-sys-color-outline);
}

@media screen and (max-width: 768px) {
  #artwork-main {
    flex-direction: column;
  }
  #artwork-main > * {
    flex: unset !important;
  }
}
.bg-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
}

#login-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(2rem);
}
#login-wrapper .main-login {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login-wrapper .main-login main {
  background-color: var(--md-sys-color-surface);
  padding: 2em;
  border-radius: 36px;
  display: flex;
  width: 70%;
  height: 60%;
  max-width: 1400px;
  max-height: 1200px;
  min-height: 500px;
  gap: 4em;
}
#login-wrapper .main-login main > * {
  flex: 50%;
}
#login-wrapper .main-login main .info {
  overflow: auto;
}
#login-wrapper .main-login main .info svg {
  fill: var(--md-sys-color-primary);
}
#login-wrapper .main-login main .form-area {
  display: flex;
  align-items: center;
}
#login-wrapper .main-login main .form-area form {
  width: 100%;
}
#login-wrapper .attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  border-radius: 12px;
  background-color: var(--md-sys-color-surface-container);
  display: flex;
  margin-left: 1em;
  margin-bottom: 1em;
  align-items: center;
}
#login-wrapper .attribution img.profile {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
  background-color: var(--md-sys-color-surface-container-low);
  margin-right: 1em;
}
#login-wrapper .attribution .info > a {
  color: unset;
  font-weight: bold;
  font-size: 12px;
}
#login-wrapper .attribution .info p {
  margin: unset;
  margin-top: 4px;
  font-size: 12px;
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--md-sys-color-primary) var(--md-sys-color-surface-container);
  scrollbar-width: thin;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
  margin: 0;
}

a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
}

body > main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em 1em;
  animation: 0.15s ease 0s normal appear-transition;
}

@keyframes appear-transition {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
}

/*# sourceMappingURL=style.css.map */
