{% macro entry(data, title=true, author=true, small=false) -%}
<div class="artwork-entry {%if small%}small{%endif%}">
    {%- set is_preview_mode = request.cookies.get("Vixipy-Preview-Mode", 0)|int -%}
    {%- set blur = request.cookies.get("Vixipy-Blur-Sensitive", 0)|int and data.sl >= 4 -%}
    <div class="img-container">
        <div class="blocker-overlay">
            {% if blur %}
            <div class="blur"></div>
            {% endif %}
        </div>
        <div class="meta">
            {#
                first div - left
                second - right
            #}
            <div>
                {% if data.ai %}
                <div class="tag ai">AI</div>
                {% endif %}
                {% if data.xrestrict >= 1 %}
                <div class="tag r18">
                    {{data.xrestrict_friendlyname}}
                </div>
                {% endif %} 
            </div>
            <div>
                {% if data.pages >= 2 %}
                <div class="tag">
                    {{data.pages}}
                </div>
                {% endif %}
            </div>
        </div>
        <a href="{{url_for('artworks._get_artwork', id=data.id)}}">
            {%- if is_preview_mode -%}
            <img src="/static/blank.png" alt="{{data.alt}}" loading="lazy">
            {%- else -%}
            <img src="{{data.thumb}}" alt="{{data.alt}}" loading="lazy">
            {%- endif -%}
        </a>
    </div>

    {% if title %}
    <a class="title" title="{{ data.title }}" href="{{url_for('artworks._get_artwork', id=data.id)}}">{{ data.title }}</a>
    {% endif %}
    {% if author %}
    <a class="author" href="/users/{{data.authorId}}">
        <img src="{{data.profileimg}}" alt="{{data.authorName}}" loading="lazy"> {{data.authorName}}
    </a>
    {% endif %}
</div>
{%- endmacro %}
