{% macro entry(data, title=true, author=true, small=false) -%}
<div class="artwork-entry {%if small%}small{%endif%}">
    <div class="img-container">
        <div class="meta">
            {#
                first div - left
                second - right
            #}
            <div>
                {% if data.ai %}
                <div class="tag ai">AI</div>
                {% endif %}
                {% if data.xrestrict >= 1 %}
                <div class="tag r18">
                    {{data.xrestrict_friendlyname}}
                </div>
                {% endif %} 
            </div>
            <div>
                {% if data.pages >= 2 %}
                <div class="tag">
                    {{data.pages}}
                </div>
                {% endif %}
            </div>
        </div>
        <a href="{{url_for('artworks._get_artwork', id=data.id)}}">
            <img src="{{data.thumb}}" alt="{{data.alt}}" loading="lazy">
        </a>
    </div>

    {% if title %}
    <a class="title" href="{{url_for('artworks._get_artwork', id=data.id)}}">{{ data.title }}</a>
    {% endif %}
    {% if author %}
    <a class="author" href="/users/{{data.authorId}}">
        <img src="{{data.profileimg}}" alt="{{data.authorName}}" loading="lazy"> {{data.authorName}}
    </a>
    {% endif %}
</div>
{%- endmacro %}