{% macro entry(data, title=true, author=true, small=false) -%}
<div class="artwork-entry {%if small%}small{%endif%}">
    {%- set is_preview_mode = request.cookies.get("Vixipy-Preview-Mode", 0)|int -%}
    {%- set blur = request.cookies.get("Vixipy-Blur-Sensitive", 0)|int and data.sl >= 4 -%}
    <div class="img-container">
        <div class="blocker-overlay">
            {% if blur %}
            <div class="blur"></div>
            {% endif %}
        </div>
        <div class="meta">
            {#
                first div - left
                second - right
            #}
            <div>
                {% if data.rank %}
                <div class="tag">{{data.rank}}</div>
                {% endif %}
                {% if data.ai %}
                <div class="tag ai">AI</div>
                {% endif %}
                {% if data.xrestrict >= 1 %}
                <div class="tag r18">
                    {{data.xrestrict_friendlyname}}
                </div>
                {% endif %} 
            </div>
            <div>
                {% if data.pages >= 2 %}
                <div class="tag">
                    {{data.pages}}
                </div>
                {% endif %}
            </div>
        </div>
        {% if g.authorized %}
        <div class="require-js bookmark-button">
            <form action="/self/action/{%if data.bookmarked%}delete_bookmark/{{data.bookmark_id}}{%else%}works/{{data.id}}/bookmark{%endif%}" method="post"
                    hx-swap="outerHTML show:none" hx-target="this" hx-push-url="false"
                    hx-headers='{"X-Vixipy-Quick-Action": "true"}'>

                    <input type="hidden" name="return_to" value="{{request.path}}">
                    <input type="hidden" name="work_id" value="{{data.id}}">
                    <input type="hidden" name="within_illust" value="1">

                    <button type="submit" {%if data.bookmarked%}class="bookmarked"{%endif%}>
                        {% if data.bookmarked %}
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-147q-14 0-28.5-5T426-168l-69-63q-106-97-191.5-192.5T80-634q0-94 63-157t157-63q53 0 100 22.5t80 61.5q33-39 80-61.5T660-854q94 0 157 63t63 157q0 115-85 211T602-230l-68 62q-11 11-25.5 16t-28.5 5Z"/></svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-147q-14 0-28.5-5T426-168l-69-63q-106-97-191.5-192.5T80-634q0-94 63-157t157-63q53 0 100 22.5t80 61.5q33-39 80-61.5T660-854q94 0 157 63t63 157q0 115-85 211T602-230l-68 62q-11 11-25.5 16t-28.5 5Zm-38-543q-29-41-62-62.5T300-774q-60 0-100 40t-40 100q0 52 37 110.5T285.5-410q51.5 55 106 103t88.5 79q34-31 88.5-79t106-103Q726-465 763-523.5T800-634q0-60-40-100t-100-40q-47 0-80 21.5T518-690q-7 10-17 15t-21 5q-11 0-21-5t-17-15Zm38 189Z"/></svg>
                        {% endif %}
                    </button>
            </form>
        </div>
        {% endif %}
        <a href="{{url_for('artworks._get_artwork', id=data.id)}}">
            {%- if is_preview_mode -%}
            <img src="/static/blank.png" alt="{{data.alt}}" loading="lazy">
            {%- else -%}
            <img src="{{data.thumb}}" alt="{{data.alt}}" loading="lazy">
            {%- endif -%}
        </a>
    </div>

    {% if title %}
    <a class="title" title="{{ data.title }}" href="{{url_for('artworks._get_artwork', id=data.id)}}">{{ data.title }}</a>
    {% endif %}
    {% if author %}
    <a class="author" href="/users/{{data.authorId}}">
        <img src="{{data.profileimg}}" alt="{{data.authorName}}" loading="lazy"> {{data.authorName}}
    </a>
    {% endif %}
</div>
{%- endmacro %}
