{% from "components/artwork-entry.html" import entry %}

{%- macro userentry(user, works) %}
<div class="user-sc">
    <main>
        <a href="/users/{{user.id}}">
            <img src="{{user.imageBig}}" alt="{{user.name}}" loading="lazy">
        </a>
        <div>
            <a href="/users/{{user.id}}">
                <h3>{{user.name}}</h3>
            </a>
            <br>
            {% if g.authorized %}
            <form action="/self/action/user/{{user.id}}/{% if not user.followed %}follow{% else %}unfollow{% endif %}"
                hx-push-url="false" hx-swap="outerHTML show:none" hx-target="this" hx-indicator="this"
                hx-headers='{"X-Vixipy-Quick-Action": "true"}' method="post">
                <input type="hidden" name="return_to" value="{{request.path}}">
                <button type="submit" class="button smaller {%if not user.followed%}primary{%else%}neutral{%endif%}">
                    {%if not user.followed%}{{_("Follow")}}{%else%}{{_("Following")}}{% endif %}
                </button>
            </form>
            {% endif %}
        </div>
    </main>
    <div class="scrolling-container">
        {% for x in works %}
        {{ entry(x, true, false) }}
        {% endfor %}
    </div>
</div>
{% endmacro -%}