.dialog-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    animation: open .15s ease;
    z-index: 15;

    &[data-open] {
        display: flex;
    }

    .dialog {
        animation: dialog-open .15s ease;
        background-color: var(--md-sys-color-surface-container);
        overflow: hidden;
        border-radius: 8px;
        padding: 1em;
    }
}

@keyframes dialog-open {
    from {
        opacity: 0;
        scale: .8;
    }
}

@keyframes open {
    from {
        background-color: rgba(0,0,0,0)
    }
}