input[type=text],
input[type=password],
input[type=date],
input[type=number],
select,
textarea {
    border: unset;
    border-bottom: 3px solid var(--md-sys-color-outline-variant);
    color: var(--md-sys-color-on-surface);
    background-color: unset;
    padding: 10px 12px;
    border-radius: 4px 4px 0 0;
    font-family: inherit;
    font-size: 16px;
    transition: .15s ease;

    &:focus {
        outline: unset;
        border-bottom-color: var(--md-sys-color-primary);
        background-color: var(--md-sys-color-surface-container-high);
    }

    &.width-100 {
        width: 100%;
    }
}

label {
    &.block {
        display: block;
    }

    &.heading {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 18px;
    }

    &.hint {
        color: var(--md-sys-color-outline);
        font-size: 12px;
        margin-top: 8px;
    }
}

fieldset {
    border: 1px solid var(--md-sys-color-outline-variant);
    border-radius: 6px;
    padding: 1em;
}

form {
    .actions {
        margin-top: 1em;
        display: flex;
        justify-content: flex-end;
        gap: 1em;
    }

    .hidden {
        display: none;
    }

    .ranged {
        display: flex;
        gap: 1em;

        >* {
            flex: 1
        }
    }
}

.toggle-switch {
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 14px;
    padding: 2px;

    input[type=checkbox] {
        appearance: none;
        cursor: pointer;
        min-width: 32px;
        height: 20px;
        background-color: var(--md-sys-color-outline-variant);
        border-radius: 999999px;
        position: relative;
        border: 3px solid transparent;
        transition: .2s ease;

        &:checked {
            background-color: var(--md-sys-color-primary);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid transparent;
            width: 10px;
            height: 10px;
            background-color: var(--md-sys-color-outline);
            border-radius: 12px;
            transition: .2s ease;
        }

        &:checked::after {
            background-color: var(--md-sys-color-on-primary);
            left: 12px;
        }

        &:disabled {
            opacity: .4;
        }
    }
}