ul.list {
    list-style: none;
    margin: unset;
    padding: unset;

    li {
        border-bottom: 1px solid var(--md-sys-color-outline-variant);
        &:last-child {
            border-bottom: unset !important;
        }

        a {
            display: flex;
            gap: .5em;
            padding: 12px 1em;
            color: unset;
            align-items: center;

            svg {
                fill: currentColor;
                width: 24px;
                height: 24px;
                flex-shrink: 0;
            }

            .main {
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .subtext {
                color: var(--md-sys-color-outline);
                flex-shrink: 0;
            }

            .end {
                flex-shrink: 0;
            }
        }
    }
}


ul.tag-list-large {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1em;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0px
  }

  li {
    flex-shrink: 0;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 18px;
      border-radius: 8px;
      background-color: var(--md-sys-color-surface-container);
      color: var(--md-sys-color-on-surface);
      gap: 4px;
      height: 50px;

      &:has(small) {
        span {
          margin-bottom: unset;
          font-size: 14px;
        }
      }

      span {
        font-weight: bold;
        display: block;
      }

      small {
        font-size: 10px;
        display: block;
      }
    }
  }
}

