.notice {
    display: flex;
    align-items: flex-start;
    padding: 1em;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    width: 100%;
    border-radius: 8px;
    gap: 1em;
    margin: .5em;

    &.secondary {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
    }

    &.tertiary {
        background-color: var(--md-sys-color-tertiary-container);
        color: var(--md-sys-color-on-tertiary-container);
    }

    &.error {
        background-color: var(--md-sys-color-error-container);
        color: var(--md-sys-color-on-error-container);
    }

    svg {
        fill: currentColor;
        flex-shrink: 0;
    }
}