.md-spinner {
    animation: gm3-cpi-rotate 6s linear infinite;
    width: 40px;
    height: 40px;

    .sp-container {
        animation: gm3-cpi-container-rotate 6s ease infinite;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);

        .sp-main {
            height: 100%;
            width: 100%;

            fill: transparent;

            .track {
                transition: stroke-dasharray .5s 0ms cubic-bezier(0, 0, .2, 1), stroke-dashoffset .5s 0ms cubic-bezier(0, 0, .2, 1), stroke-width .25s 0ms cubic-bezier(.4, 0, .6, 1);
                cx: calc(var(--EkrYwf, 40px)/2);
                cy: calc(var(--EkrYwf, 40px)/2);
                r: calc((40px - 4px)/2);
                stroke: var(--md-sys-color-secondary-container);
                stroke-width: 4px;
                stroke-linecap: round;
                animation: gm3-cpi-track-grow 6s ease infinite;
            }

            .active {
                transition: stroke-dasharray .5s 0ms cubic-bezier(0, 0, .2, 1), stroke-width .25s 0ms cubic-bezier(.4, 0, .6, 1);
                cx: calc(var(--EkrYwf, 40px)/2);
                cy: calc(var(--EkrYwf, 40px)/2);
                r: calc((40px - 4px)/2);
                stroke: var(--md-sys-color-primary);
                stroke-width: 4px;
                stroke-linecap: round;
                animation: gm3-cpi-active-grow 6s ease infinite
            }
        }
    }
}

@keyframes gm3-cpi-rotate {
    from {
        transform: rotate(-90deg)
    }

    to {
        transform: rotate(990deg)
    }
}

@keyframes gm3-cpi-container-rotate {
    0% {
        transform: rotate(0deg)
    }

    8.3333333333% {
        transform: rotate(90deg)
    }

    25% {
        transform: rotate(90deg)
    }

    33.3333333333% {
        transform: rotate(180deg)
    }

    50% {
        transform: rotate(180deg)
    }

    58.3333333333% {
        transform: rotate(270deg)
    }

    75% {
        transform: rotate(270deg)
    }

    83.3333333333% {
        transform: rotate(1turn)
    }

    to {
        transform: rotate(1turn)
    }
}


@keyframes gm3-cpi-active-grow {
    from {
        stroke-dasharray: calc((6.2831852*(40px - 4px)/2 - 4px)*.16 - 4px), calc((40px - 4px)*6.2831852/2 - (6.2831852*(40px - 4px)/2 - 4px)*.16 + 4px)
    }

    50% {
        stroke-dasharray: calc((6.2831852*(40px - 4px)/2 - 4px)*.87 - 4px), calc((40px - 4px)*6.2831852/2 - (6.2831852*(40px - 4px)/2 - 4px)*.87 + 4px)
    }

    to {
        stroke-dasharray: calc((6.2831852*(40px - 4px)/2 - 4px)*.16 - 4px), calc((40px - 4px)*6.2831852/2 - (6.2831852*(40px - 4px)/2 - 4px)*.16 + 4px)
    }
}

@keyframes gm3-cpi-track-grow {
    from {
        stroke-dasharray: calc((6.2831852*(40px - 4px)/2 - 4px)*.84 - 4px - 4px), calc((40px - 4px)*6.2831852/2 - (6.2831852*(40px - 4px)/2 - 4px)*.84 + 4px + 4px);
        stroke-dashoffset: calc((6.2831852*(40px - 4px)/2 - 4px)*.84 - 4px - 4px + 4px + 4px)
    }

    50% {
        stroke-dasharray: calc((6.2831852*(40px - 4px)/2 - 4px)*.13 - 4px - 4px), calc((40px - 4px)*6.2831852/2 - (6.2831852*(40px - 4px)/2 - 4px)*.13 + 4px + 4px);
        stroke-dashoffset: calc((6.2831852*(40px - 4px)/2 - 4px)*.13 - 4px - 4px + 4px + 4px)
    }

    to {
        stroke-dasharray: calc((6.2831852*(40px - 4px)/2 - 4px)*.84 - 4px - 4px), calc((40px - 4px)*6.2831852/2 - (6.2831852*(40px - 4px)/2 - 4px)*.84 + 4px + 4px);
        stroke-dashoffset: calc((6.2831852*(40px - 4px)/2 - 4px)*.84 - 4px - 4px + 4px + 4px)
    }
}