nav.tabs {
    display: flex;
    overflow-x: auto;

    a {
        border-top: 3px solid transparent;
        color: var(--md-sys-color-outline);
        padding: 10px 24px;
        font-weight: bold;
        display: block;
        transition: color .15s ease;

        &.active {
            border-top-color: var(--md-sys-color-primary);
            color: var(--md-sys-color-on-surface);
        }

        &:hover {
            color: var(--md-sys-color-on-surface);
        }
    }
}