@use 'mixins';

:root {
    --work-size: 170px
}

@media (min-width: 1920px) {
    :root {
        --work-size: 10vw;
    }
}

.artwork-entry {
    &.small {
        --work-size: 150px;
    }

    max-width: var(--work-size);
    min-width: var(--work-size);

    .img-container {
        position: relative;
        overflow: hidden;
        border-radius: 8px;

        a {
            line-height: 0px;
            font-size: 0px;
            display: block;
        }

        .meta {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            padding: .5em .5em 0;
            width: 100%;
            pointer-events: none;

            >div {
                display: flex;
                flex-wrap: nowrap;
                gap: .5em;
            }

            .tag {
                color: var(--md-sys-color-on-surface);
                background-color: var(--md-sys-color-surface-container);
                border-radius: 4px;
                padding: 4px 8px;
                display: flex;
                align-items: center;
                font-size: 10px;
                font-weight: bold;

                svg {
                    fill: currentColor;
                    margin-right: .5em
                }

                &.r18 {
                    background-color: var(--md-sys-color-error-container);
                    color: var(--md-sys-color-on-error-container);
                }

                &.ai {
                    background-color: var(--md-sys-color-tertiary-container);
                    color: var(--md-sys-color-on-tertiary-contaainer);
                }
            }
        }

        .blocker-overlay {
            position: absolute;
            top: 0;
            width: var(--work-size);
            height: var(--work-size);
            pointer-events: none;

            .blur {
                width: 100%;
                height: 100%;
                backdrop-filter: blur(1.5rem);
                -webkit-backdrop-filter: blur(1.5rem);
            }
        }

        img {
            width: var(--work-size);
            height: var(--work-size);
            object-fit: cover;
            object-position: top;
            background-color: var(--md-sys-color-surface-container-low);
        }
    }

    .title,
    .author {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }

    .title {
        font-weight: bold;
        color: unset;
        margin: 4px 0;
    }

    .author {
        display: flex;
        align-items: center;

        img {
            @include mixins.profile-img(16px);
            margin-right: 12px;
        }
    }
}

.collection-entry {
    width: 256px;

    .thumb {
        display: block;

        img {
            width: 256px;
            height: 256px;
            object-fit: cover;
            object-position: center;
            background-color: var(--md-sys-color-surface-container-low);
            display: block;
            border-radius: 12px;
        }
    }

    .title {
        color: unset;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 18px;
        text-wrap: nowrap;
        margin: 6px 0;
    }

    .author {
        display: flex;
        align-items: center;
        gap: 8px;

        a {
            display: block;
        }

        .profile-img img {
            @include mixins.profile-img(24px);
            display: block;
        }
    }
}

.artwork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

.scrolling-container {
    width: 100%;
    display: flex;
    column-gap: 1em;
    overflow: hidden;
    overflow-x: auto;
    padding: 8px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    >* {
        flex-shrink: 0;
    }
}