@use 'colors';
@use 'buttons';
@use 'header';
@use 'works';
@use 'form';
@use 'error';
@use 'navigation';
@use 'paginator';
@use 'dialog';
@use 'notice';
@use 'user_entry';
@use 'search_option';
@use 'novels';
@use 'list';
@use 'misc';
@use 'carousel';

@use 'pages/artworks';
@use 'pages/login';
@use 'pages/tags';
@use 'pages/search';
@use 'pages/upload';
@use 'pages/users';
@use 'pages/edit_profile';
@use 'pages/novel';
@use 'pages/novel_series';
@use 'pages/settings';
@use 'pages/connection_error';
@use 'pages/comments';
@use 'pages/ugoira_converter';
@use 'pages/notifications';
@use 'pages/monet';
@use 'pages/users_dash';
@use 'pages/rankings';
@use 'pages/internal_error';
@use 'pages/pixivision';
@use 'pages/collection';

* {
    box-sizing: border-box;
    scrollbar-color: var(--md-sys-color-primary) var(--md-sys-color-surface-container);
    scrollbar-width: thin;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    margin: 0;
    scroll-behavior: smooth;
    accent-color: var(--md-sys-color-primary);
}

@keyframes page-transition-old {
    to {
        transform: translateX(-10px);
        opacity: 0;
    }
}

@keyframes page-transition-new {
    from {
        transform: translateX(30px);
        opacity: 0
    }
}

::view-transition-old(page-transition) {
    animation: .04s linear page-transition-old both
}

::view-transition-new(page-transition) {
    animation: .3s cubic-bezier(.08, .82, .17, 1) page-transition-new both .03s
}


a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
}

body>.root {
    view-transition-name: page-transition;

    >main {
        margin: 0 auto;
        max-width: 1000px;
        padding: 2em 1em;
    }
}

#loading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(90deg, var(--md-sys-color-primary), var(--md-sys-color-tertiary), var(--md-sys-color-primary));
    animation: loading 2s infinite linear forwards;
    opacity: 0;
    transition: opacity .2s ease;
    background-size: 50%;
    z-index: 999;

    &.htmx-request {
        opacity: 1
    }
}

.no-js {
    display: none;
}

@keyframes loading {
    100% {
        background-position: right;
    }
}

hgroup {
    margin: 1em 0;

    small {
        color: var(--md-sys-color-outline);
        margin-bottom: 4px
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: unset;
    }
}

@media (min-width: 1920px) {
    body>main.large {
        max-width: 80vw !important;
    }
}
