@use 'colors';
@use 'buttons';
@use 'header';
@use 'works';
@use 'form';
@use 'error';
@use 'navigation';
@use 'paginator';
@use 'dialog';
@use 'notice';
@use 'user_entry';
@use 'search_option';
@use 'novels';
@use 'list';
@use 'misc';
@use 'carousel';
@use 'spinner';

@use 'pages/artworks';
@use 'pages/login';
@use 'pages/tags';
@use 'pages/search';
@use 'pages/upload';
@use 'pages/users';
@use 'pages/edit_profile';
@use 'pages/novel';
@use 'pages/novel_series';
@use 'pages/settings';
@use 'pages/connection_error';
@use 'pages/comments';
@use 'pages/ugoira_converter';
@use 'pages/notifications';
@use 'pages/monet';
@use 'pages/users_dash';
@use 'pages/rankings';
@use 'pages/internal_error';
@use 'pages/pixivision';
@use 'pages/collection';

* {
    box-sizing: border-box;
    scrollbar-color: var(--md-sys-color-primary) var(--md-sys-color-surface-container);
    scrollbar-width: thin;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    margin: 0;
    scroll-behavior: smooth;
    accent-color: var(--md-sys-color-primary);

    &.htmx-request,
    &.htmx-settling {
        cursor: wait;

        >#loading {
            opacity: 1
        }
    }
}

@keyframes page-transition-old {
    to {
        opacity: 0;
    }
}

@keyframes page-transition-new {
    from {
        transform: translateX(30px);
        opacity: 0
    }
}

::view-transition-old(page-transition) {
    animation: .07s linear page-transition-old both
}

::view-transition-new(page-transition) {
    animation: .3s cubic-bezier(.08, .82, .17, 1) page-transition-new both .03s
}


a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
}

body>.root {
    view-transition-name: page-transition;

    >main {
        margin: 0 auto;
        max-width: 1000px;
        padding: 2em 1em;
    }

}


#loading {
    height: .25rem;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: var(--md-sys-color-secondary-container);
    top: 0;
    opacity: 0;
    transition: opacity .2s ease;
    background-size: 50%;
    z-index: 999;

    >.vw, >.m {
        background-color: var(--md-sys-color-primary);
        height: 100%;
    }

    >.vw {
        animation: hrLoadingIndicatorMove 1.4s infinite, hrLoadingIndicatorVaryWidth 1.3s infinite;
        animation-timing-function: cubic-bezier(.4, 0, .2, 1);
        transform-origin: right top;
        left: -60%;
        position: absolute
    }

    >.m {
        animation: hrLoadingIndicatorMove 1.4s infinite cubic-bezier(.4, 0, .2, 1);
        animation-delay: .7s;
        left: -60%;
        position: absolute;
        width: 60%
    }
}

@keyframes hrLoadingIndicatorMove {
    0% {
        left: -60%
    }

    100% {
        left: 100%
    }
}

@keyframes hrLoadingIndicatorVaryWidth {
    0% {
        width: 60%
    }

    10% {
        width: 60%
    }

    66% {
        width: 1%
    }

    100% {
        width: 60%
    }
}

.no-js {
    display: none;
}

hgroup {
    margin: 1em 0;

    small {
        color: var(--md-sys-color-outline);
        margin-bottom: 4px
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: unset;
    }
}

@media (min-width: 1920px) {
    body>main.large {
        max-width: 80vw !important;
    }
}

.content-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: .5em;

    p {
        color: var(--md-sys-color-outline);
        font-size: 12px;
    }
}