{% extends "user/index.html" %}
{% set currentSection="bookmarks" %}

{% block userComponent %}
<h2>{{ _("%(user)s's bookmarks (%(total)s)", user=user.name, total=total|numberformat) }}</h2>

{% if frequent | length > 0 %}
<h3>{{ _("Frequent tags") }}</h3>

<div class="taglist">
  {% for t in frequent %}
  <span><a href="/tag/{{ t.tag }}">#{{ t.tag }}</a> {{ t.tag_translation }}</span>
  {% endfor %}
</div>

<br>
<br>
{% endif %}

<div class="container">
	<div class="artwork-container">
		{% for d in illusts %}
		{% include "components/artwork-prev.html" %}
		{% else %}
		<p>{{ _("Nothing in here!") }}</p>
		{% endfor %}
	</div>
</div>

<div class="paginator">
        {% if canGoPrevious %}
	<a href="?p={{ (request.args.get('p', 1) | int) - 1 }}">&lt;</a>
        {% else %}
        <a>&lt;</a>
        {% endif %}
	<span>Page {{ request.args.get('p', 1) }} of {{ pages }}</span>
        {% if canGoNext %}
        <a href="?p={{ (request.args.get('p', 1) | int) + 1 }}">&gt;</a>
        {% else %}
        <a>&gt;</a>
        {% endif %}
</div>

{% endblock %}
