{% extends "user/index.html" %}
{% set currentSection = "home" %}

{% block userComponent %}
{% if pickup | length > 0 %}
<h2>{{ _("Featured") }}</h2>

<div class="container">
	<div class="artwork-scroll-container">
		{% for f in pickup %}
		<div class="featured-work">
			<a href="/artworks/{{f._id}}">
				<img src="{{ f.thumbUrl }}" alt="f.title">
			</a>
			<div class="featured-info">
				<h2>{{f.title}}</h2>
				<div class="description">
					{% if f.descriptionRaw | length > 60 %}
					{{ f.descriptionRaw[0:60] }}...
					{% else %}
					{{ f.descriptionRaw }}
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}

<h2>{{ _("Illustrations and Manga") }} ({{ total }})</h2>

<div class="container">
	<div class="artwork-container">
		{% for d in top %}
		{% include "components/artwork-prev-min.html" %}
		{% else %}
		<p>{{ _("Nothing in here!") }}</p>
		{% endfor %}
	</div>
</div>

{% if top | length > 0 %}
<br>
<div class="container centered">
	<a class="button" href="/users/{{ user._id }}/illusts#checkpoint">{{ _("View all") }}</a>
</div>
{% endif %}

{% endblock %}
