{% extends "user/index.html" %}
{% set currentSection="manga" %}

{% block userComponent %}
<h2>{{ _("%(user)s's Manga", user=user.name) }} ({{ total }})</h2>
<div class="container">
	<div class="artwork-container">
		{% for d in illusts %}
		{% include "components/artwork-prev.html" %}
		{% else %}
		<p>{{ _("Nothing in here!") }}</p>
		{% endfor %}
	</div>
</div>

<div class="paginator">
        {% if canGoPrevious %}
	<a href="?p={{ (request.args.get('p', 1) | int) - 1 }}">&lt;</a>
        {% else %}
        <a>&lt;</a>
        {% endif %}
	<span>Page {{ request.args.get('p', 1) }} of {{ pages }}</span>
        {% if canGoNext %}
        <a href="?p={{ (request.args.get('p', 1) | int) + 1 }}">&gt;</a>
        {% else %}
        <a>&gt;</a>
        {% endif %}
</div>

{% endblock %}
